.categories_list {
    width: 30%;
    border: 1px solid rgb(240, 189, 143);
    padding: 5px 10px;
    margin: 0 5px;
    float: left;
}

.form_actions {
    padding: 5px 15px;
    border: 1px solid rgb(231, 231, 231);
    width: 100px;
    float: left;
}

.form_actions label {
    display: block;
}

.action_input_field {
    margin: 0 5px 0 10px;
}

.field_units {
    margin: 5px 138px;
}

.field_units label {
    display: block;
}

.pricecontrol_submit_button {
    margin-left: 10px;
    height: 40px;
    width: 120px;
    float: left;
}

.pricecontrol_rollback_button {
    float: right;
    height: 40px;
    #width: 160px;
}

.hasChilds:hover {
    color: #3c7182;
    cursor: pointer;
}

.hasChilds span {
    background: rgb(255, 255, 242);
}

.noChilds {
    color: #8b8b8b;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}