
<div class="main-catalog_list_desktop">


{% for category in categories %}

    {% if ( loop.index ==3) %}
        <div class="main-catalog_list_desktop_minor-item">
    {% endif %}

    {% if (loop.index >2) %}

        <a href="{{ category.href }}" class="main-catalog_list_desktop_sub-minor-item">
            <img class="main-catalog_list_desktop_icon" src="/image/{{ category.icon }}" alt="">
            <img src="{{ category.thumb }}" alt="">
            <div class="main-catalog_list_desktop_item-title">{{ category.name }}</div>
        </a>


    {% else %}

        {% if (loop.index ==1) %}
            <a href="{{ category.href }}" class="main-catalog_list_desktop_main-item">
                <img class="main-catalog_list_desktop_icon" src="/image/{{ category.icon }}" alt="">
                <img src="{{ category.thumb }}" alt="">
                <div class="main-catalog_list_desktop_item-title">{{ category.name }}</div>
            </a>
        {% else %}

            <a href="{{ category.href }}" class="main-catalog_list_desktop_minor-item">
                <img class="main-catalog_list_desktop_icon" src="/catalog/view/theme/shlepki/img/icons/newBG.svg" alt="">
                <img src="{{ category.thumb }}" alt="">
                <div class="main-catalog_list_desktop_item-title">{{ category.name }}</div>
            </a>
        {% endif %}



    {% endif %}

    {% if ( loop.index ==5) %}
        </div>
    {% endif %}

{% endfor %}



</div>