

<p>Контакты
	<span>
                                <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.146447 0.146447C0.320013 -0.0271197 0.589437 -0.0464049 0.784306 0.0885912L0.853553 0.146447L4.5 3.793L8.14645 0.146447C8.32001 -0.0271197 8.58944 -0.0464049 8.78431 0.0885912L8.85355 0.146447C9.02712 0.320013 9.0464 0.589437 8.91141 0.784306L8.85355 0.853553L4.85355 4.85355C4.67999 5.02712 4.41056 5.0464 4.21569 4.91141L4.14645 4.85355L0.146447 0.853553C-0.0488155 0.658291 -0.0488155 0.341709 0.146447 0.146447Z" fill="white"/>
                                </svg>
                            </span>
</p>
<nav>
	<ul>
		<li>Адрес: {{address}}</li>
		<li>Tелефон: <a href="tel:{{ telephone }}">{{ telephone }}</a></li>
		<li>Мы открыты: с 8:00 до 20:00</li>
		<li>E-mail {{ email }}</li>
	</ul>
</nav>

