
<div class="main-catalog_list_slider">
    <!-- SWIPER -->

    <div class="hero-slider">
        <div class="cd-slider-wrapper">
            <ul class="cd-slider" data-step1="M1402,800h-2V525V0h1c0.6,0,1,0.4,1,1V800z"
                data-step2="M1400,800H739L427,523L760,0h639c0.6,0,1,0.4,1,1V800z"
                data-step3="M1400,800H0V521V0h1399c0.6,0,1,0.4,1,1V800z"
                data-step4="M-2,800h2V525V0h-1c-0.6,0-1,0.4-1,1V800z"
                data-step5="M0,800h661l312-277L640,0L1,0C0.4,0,0,0.4,0,1L0,800z"
                data-step6="M0,800h1400V521V0L1,0C0.4,0,0,0.4,0,1L0,800z">

                {% if (slides is defined and slides) %}
                    {% for slide in slides %}
                        {% if (slide['slide_type']) %}

                        {% else %}
                            <li class="visible">
                                <div class="cd-svg-wrapper">
                                    <a href="{{ slide['link'] }}">
                                        <svg viewBox="0 0 1400 800">
                                            <title>Aimated SVG</title>
                                            <defs>
                                                <clipPath id="cd-image-{{ loop.index }}">
                                                    <path id="cd-changing-path-{{ loop.index }}" d="M1400,800H0V521V0h1399c0.6,0,1,0.4,1,1V800z" />
                                                </clipPath>
                                            </defs>

                                            <image clip-path="url(#cd-image-{{ loop.index }})" xlink:href="{{ slide['image'] }}">
                                            </image>
                                        </svg>
                                    </a>
                                </div> <!-- .cd-svg-wrapper -->
                            </li>


                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul> <!-- .cd-slider -->

            <ul class="cd-slider-navigation">
                {% for slide in slides %}
                    <li><a href="#{{ loop.index }}" class="next-slide"><i class="i-arrow2"></i></a></li>
                {% endfor %}
                {#<li><a href="#0" class="prev-slide"><i class="i-arrow2"></i></a></li>#}
            </ul> <!-- .cd-slider-navigation -->

            <ol class="cd-slider-controls">
                {% for slide in slides %}
                    <li><a href="#{{ loop.index }}"><em>Item {{ loop.index }}</em></a></li>
                {% endfor %}
            </ol> <!-- .cd-slider-controls -->
        </div> <!-- .cd-slider-wrapper -->
    </div>



</div>
