<script>
    {% if (tabs == '1') %}
    $(document).ready(function ($) {
        $('#module-single-tabs-{{ module }} a:first').tab('show')
    });
    {% else %}
    $(document).ready(function ($) {
        $('#single-category{{ module }} .tab-content > .tab-pane').css({
            'display': 'block',
            'visibility': 'visible'
        });
    });
    {% endif %}
</script>


{% if (latest_products) %}
    <div class="main-home-page main-products">

        <div class="main-title">{{ heading_latest }}</div>
        {#{% if (tabs == '1') %}#}

            {#{% if (latest_products) %}#}
                {#<div class="main-title">{{ heading_latest }}</div>#}
            {#{% endif %}#}
            {#{% if (bestseller_products) %}#}
                {#<div class="main-title">{{ heading_bestsellers }}</div>#}
            {#{% endif %}#}
            {#{% if (featured_products) %}#}
                {#<div class="main-title">{{ heading_featured }}</div>#}
            {#{% endif %}#}

        {#{% else %}#}
            {#{% if (latest_products) %}#}
                {#<div class="main-title">{{ heading_latest }}</div>#}
            {#{% endif %}#}
            {#{% if (bestseller_products) %}#}
                {#<div class="main-title">{{ heading_bestsellers }}</div>#}
            {#{% endif %}#}
            {#{% if (featured_products) %}#}
                {#<div class="main-title">{{ heading_featured }}</div>#}
            {#{% endif %}#}
            {#{% if (special_products) %}#}
                {#<div class="main-title">{{ heading_specials }}</div>#}
            {#{% endif %}#}
        {#{% endif %}#}


        <!-- CARDS PRODUCT LIST -->
        <div class="main-product-list">


            {% if latest_products %}

                {% set option_index = 200000 %}
                {% for product in latest_products %}

                    <!-- CARD PRODUCT -->
                    <div class="main-product-list_item">
                        <input type="hidden" name="product_id" value="{{ product.product_id }}"
                               class="form-control hidden"/>
                        <a href="javascript:void(0);"  onclick="wishlist.add('{{ product.product_id }}');">
                        <img class="product-favorite" data-product_id="{{ product.product_id }}"  src="/catalog/view/theme/shlepki/img/icons/greyHeart.svg" alt="">
                        </a>


                        <a class="preview-product lazy1" href="{{ product.href }}" >
                            <img width="{{ product['img-width'] }}" height="{{ product['img-height'] }}"
                                 alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img lazyload"
                                 data-src="{{ product['thumb'] }}"  />



                        </a>

                        <div class="product-model-wraaper">
                        <p class="product-title"><a href="{{ product.href }}">{{ product.name }}</a></p>
                        <p class="product-model">Модель: {{ product.model }}</p>
                        </div>
                        {% if product.par_v_yashiike %}
                            <p class="product-value">Пар в ящике ({{ product.par_v_yashiike }})</p>
                        {% endif %}
                        <div class="product-list-prices">


                            {% if product.price %}
                                <div class="product-list-prices_item">
                                    <span>Цена за пару</span>
                                    {% if not product.special %}
                                        <p>{{ product.price_item }}  </p>
                                    {% else %}
                                        <p class="sale">{{ product.price_item }}</p>
                                    {% endif %}


                                </div>
                                <div class="product-list-prices_item">
                                    <span>Цена за ящик</span>
                                    {% if not product.special %}
                                        <p>{{ product.price }}  </p>
                                    {% else %}
                                        <p class="sale">{{ product.special }}  </p>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {#<div class="product-list-prices_item">#}
                                {#<span>Цена за пару</span>#}
                                {#{% if not product.special_para %}#}
                                    {#<p>{{ product.price_para }}</p>#}
                                {#{% else %}#}
                                    {#<p class="sale">{{ product.special_para }}</p>#}
                                {#{% endif %}#}

                            {#</div>#}

                            {#<div class="product-list-prices_item">#}
                                {#<span>Цена за ящик</span>#}
                                {#{% if not product.special %}#}
                                    {#<p>{{ product.price }}</p>#}
                                {#{% else %}#}
                                    {#<p class="sale">{{ product.special }}</p>#}
                                {#{% endif %}#}

                            {#</div>#}
                        </div>
                        <a href="javascript:void(0)" onclick="ajaxAdd($(this),{{ product.product_id }});"
                           class="product-button-cart">В корзину <img
                                    src="/catalog/view/theme/shlepki/img/icons/whiteCart.svg" alt=""></a>
                    </div>

                {% endfor %}

            {% endif %}



        </div>
        <a class="main-new_link" href='/latest'>{{ text_view_latest }}</a>
        {#{{ category_link }}#}
    </div>

{% endif %}


{% if special_products %}

    <div class="main-products">


        {% if (special_products) %}
            <div class="main-title">{{ heading_specials }}</div>
        {% endif %}


        <!-- CARDS PRODUCT LIST -->
        <div class="main-product-list">
            {% set option_index = 300000 %}
            {% for product in special_products %}
                <!-- CARD PRODUCT -->
                <div class="main-product-list_item">
                    <input type="hidden" name="product_id" value="{{ product.product_id }}" class="form-control hidden"/>
                    <a href="javascript:void(0);"  onclick="wishlist.add('{{ product.product_id }}');">
                        <img class="product-favorite"  data-product_id="{{ product.product_id }}" src="/catalog/view/theme/shlepki/img/icons/greyHeart.svg" alt="">
                    </a>


                    <a class="preview-product lazy1" href="{{ product.href }}" >
                        <img width="{{ product['img-width'] }}" height="{{ product['img-height'] }}"
                             alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img lazyload"
                             data-src="{{ product['thumb'] }}" />



                    </a>

                    <div class="product-model-wraaper">
                    <p class="product-title"><a href="{{ product.href }}">{{ product.name }}</a></p>
                    <p class="product-model">Модель: {{ product.model }}</p>
                    </div>


                    {% if product.par_in_box %}
                        <p class="product-value">Пар в ящике ({{ product.par_in_box }})</p>
                    {% endif %}
                    <div class="product-list-prices">

                        {% if product.price %}
                            <div class="product-list-prices_item">
                                <span>Цена за пару</span>
                                {% if not product.special %}
                                    <p>{{ product.price_item }}  </p>
                                {% else %}
                                    <p class="sale">{{ product.price_item }}</p>
                                {% endif %}


                            </div>
                            <div class="product-list-prices_item">
                                <span>Цена за ящик</span>
                                {% if not product.special %}
                                    <p>{{ product.price }}  </p>
                                {% else %}
                                    <p class="sale">{{ product.special }}  </p>
                                {% endif %}
                            </div>
                        {% endif %}

                    </div>
                    <a href="javascript:void(0)" onclick="ajaxAdd($(this),{{ product.product_id }});"
                       class="product-button-cart">В корзину <img
                                src="/catalog/view/theme/shlepki/img/icons/whiteCart.svg" alt=""></a>
                </div>



            {% endfor %}


        </div>
        <a class="main-new_link" href='/special'>{{ text_view_action }}</a>
    </div>
    {#{{ category_link }}#}

{% endif %}


