
<div class="desktop-middle-header-wrapperBlock">
    {% if (logo) %}
		<div class="desktop-logo">
			<a href="{{ home }}">
				<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive">
			</a>
		</div>
    {% endif %}

	<div class="desktop-contacts">
		<a href="tel:{{ phone1 }}"><img src="/catalog/view/theme/shlepki/img/icons/phoneBG.svg" alt="">{{ phone1 }}<span><img src="/catalog/view/theme/shlepki/img/icons/arrow.svg" alt=""></span></a>
		<p><img src="/catalog/view/theme/shlepki/img/icons/clock.svg" alt="">{{ config_open }}</p>
		<div class="desktop-contacts_phone-list">
			<a href="tel:{{ phone1 }}">{{ phone1 }}</a>
			<a href="tel:{{ phone2 }}">{{ phone2 }}</a>
			<a href="tel:{{ phone3 }}">{{ phone3 }}</a>
		</div>
	</div>
</div>