{%set rowsBefore = constant('false') %}{%set rowFlag = constant('false') %}

{% if ( rows is not defined ) %}

		{% if (rowsBefore == constant('true')) %}
			{%set level = 1 %}
		{% else %}
			{%set rows = layouts %}
			{%set level = 1 %}
		{% endif %}
	{% endif %}
	{% for lkey, row in rows %}
		{# {%set row.level = level %} #}
		{% if ( row.level > 1 and row.fullwidth == '1' ) %}
			{# {%set row.level = 1 %} #}
			{%set level = 1 %}
			{%set rowsBefore = constant('true') %}
			{%set rows = row %}
		{% endif %}
		{% if ( rowsBefore == constant('true') and rowFlag == constant('false') ) %}

			{%set rowFlag = constant('true') %}
		{% endif %}
		{% if ( row.level == 1 ) %}

				{% endif %} 

						{% for col in row.cols %}

									{% for widget in col.widgets %}
										{% if ( widget.content is defined ) %}
											{{ widget.content }}
										{% endif %}
									{% endfor %}
									{% if ( col.rows is defined and col.rows ) %}
										{%set rows = col.rows %}
										{%set level = level + 1 %}
										{% include DIR_TEMPLATE ~ template %}
									{% endif %}

						{% endfor %}

				{% if ( row.level == 1 ) %}

		{% endif %}
	{% endfor %}
	{% if ( level == 1 ) %}

{% endif %}