{#<div id="zemez-newsletter" class="box newsletter">	#}
	{#<div class="box-heading"><h3>{{ text_newsletter }}</h3></div>#}
	{#<div class="box-content">#}
		{#{% if description %}<p class="newsletter-description">{{ description }}</p>{% endif %}#}
			{#<form method="post" enctype="multipart/form-data" id="zemez-newsletter-form">#}
				{#<div class="zemez-login-form">#}
					{#<label class="control-label" for="input-zemez-newsletter-email"></label>#}
					{#<input type="text" name="zemez_newsletter_email" value="" placeholder="{{ entry_mail }}"#}
					{#id="input-zemez-newsletter-email" class="form-control"/>#}
				{#</div>#}
				{#<button type="submit" id="zemez-newsletter-button" class="btn-primary btn-invert">{{button_subscribe}}</button>#}
				{#<span id="zemez-newsletter_error" class="newsletter-error"></span>#}
				{#<span id="zemez-newsletter_success" class="newsletter-success"></span>#}
			{#</form>#}
		{#</div>#}
	{#</div>#}
	{#<script>#}

	{#</script>#}

<div class="footer-sign-up_title">{{ text_newsletter }}</div>
					<div class="footer-sign-up_label">{{ description }}</div>
					<form method="post" enctype="multipart/form-data" id="zemez-newsletter-form">
						<label for="emailSignUp">
							<input type="email" name="zemez_newsletter_email" id="emailSignUp" value="" placeholder="{{ entry_mail }}" required>
							<button type="submit" id="zemez-newsletter-button" >
								<svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 9L1 17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</button>
						</label>
					</form>