
<div class="main-products">

  <div class="main-title">{{ heading_title }}</div>


  <!-- CARDS PRODUCT LIST -->
  <div class="main-product-list">

      {% for product in products %}

        <!-- CARD PRODUCT -->
        <div class="main-product-list_item">
          <input type="hidden" name="product_id" value="{{product.product_id}}" class="form-control hidden"/>
          <img class="product-favorite" src="/catalog/view/theme/shlepki/img/icons/greyHeart.svg" alt="">


          <a class="preview-product lazy" href="{{product.href}}" style="padding-bottom: {{product['img-height'] / product['img-width'] * 100 ~ '%'}}">
              {% if product.additional_thumb %}
                <img width="{{product['img-width']}}" height="{{product['img-height']}}" alt="{{product['name']}}" title="{{product['name']}}" class="img-primary" data-src="{{product['thumb']}}" src="#"/>
                <img width="{{product['img-width']}}" height="{{product['img-height']}}" alt="{{product['name']}}" title="{{product['name']}}" class="img-secondary" data-src="{{product['additional_thumb']}}" src="#"/>
              {% else %}
                <img width="{{product['img-width']}}" height="{{product['img-height']}}" alt="{{product['name']}}" title="{{product['name']}}" class="img" data-src="{{product['thumb']}}" src="#"/>
              {% endif %}
          </a>

          <p class="product-title"><a href="{{product.href}}">{{product.name}}</a></p>
          <p class="product-model">Модель: {{product.model}}</p>
            {% if product.par_v_yashiike %}
              <p class="product-value">Пар в ящике ({{ product.par_v_yashiike }})</p>
            {% endif %}
          <div class="product-list-prices">
            <div class="product-list-prices_item">
              <span>Цена за пару</span>
                {% if not product.special_para %}
                  <p>{{product.price_para}}</p>
                {% else %}
                  <p class="sale">{{product.special_para}}</p>
                {% endif %}

              <!--<p>60.00 ₴</p>-->
            </div>

            <div class="product-list-prices_item">
              <span>Цена за ящик</span>
                {% if not product.special %}
                  <p>{{product.price}}</p>
                {% else %}
                  <p class="sale">{{product.special}}</p>
                {% endif %}

              <!--<p>480.00 ₴  </p>-->
            </div>
          </div>
          <a href="javascript:void(0)" onclick="ajaxAdd($(this),{{product.product_id}});"  class="product-button-cart">В корзину <img src="/catalog/view/theme/shlepki/img/icons/whiteCart.svg" alt=""></a>
        </div>



          {#
        <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="product-thumb transition">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div class="caption">
              <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
              <p>{{ product.description }}</p>
                {% if product.rating %}
                  <div class="rating">{% for i in 1..5 %}
                          {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
                      {% endfor %}</div>
                {% endif %}
                {% if product.price %}
                  <p class="price"> {% if not product.special %}
                          {{ product.price }}
                      {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                      {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                {% endif %} </div>
            <div class="button-group">
              <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
              <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
              <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
            </div>
          </div>
        </div>
        #}
      {% endfor %}



  </div>
</div>


{#
<h3>{{ heading_title }}</h3>
<div class="row">
    {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p>{{ product.description }}</p>
        {% if product.rating %}
        <div class="rating">{% for i in 1..5 %}
          {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
          {% endfor %}</div>
        {% endif %}
        {% if product.price %}
        <p class="price"> {% if not product.special %}
          {{ product.price }}
          {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
          {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
        {% endif %} </div>
      <div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  {% endfor %} </div>

#}