.desktop-middle-nav-item{
    margin: 0 17px;
}


.wrapperBlock-lang button {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #25B4E5;
    background: #099BCD;
    border: 1px solid #25B4E5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    position: relative;
    z-index: 0;
    display: inline-block;
}

.wrapperBlock-lang button:nth-child(2) {
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 52px;
    left: -2px;
}

.wrapperBlock-lang button:nth-child(1) {
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 52px;
    right: -2px;
}

.wrapperBlock-lang button.active-lang {
    background: #FFFFFF;
    border: none;
    z-index: 1;
    border-radius: 5px;
    left: 0;
}
.emailSignUp{
    color:#fff;
}

.dropdown-icon{
    z-index:5!important;
}

.filter-item >p{
    cursor:pointer;
}

header{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9;
    background: #fff;
}
main {
    margin-top: 180px;
}
@media (max-width:788px) {
    main {
        margin-top: 60px;
    }
}

.preview-product img{
    max-width: 100%!important;
    max-height: 100%!important;
}

.product-model-wraaper{
    height: 90px;
}


.desktop-middle-nav-item_pop-num {
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--warning-color);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 8px;
    right: -10px;
    top: -6px;
}

.wrapper_desktop-middle-nav-item{
    position:relative;
}

.main-title{
    padding-top:20px;
}
.checkout__desktop_edit_item{
    height:auto!important;
    padding-top: 10px!important;
}

.main-title_wrapper h1{
    font-size: 38px;
    line-height: 46px;
    margin:0px;
}
.main-product-list-right {
    width: 75%;
    padding-left: 15px;
    width:902px!important;

}

@media (max-width:788px) {
    .main-katalog-wrapper{
        width:100%!important;
    }
    .main-product-list-right {
        width:100%!important;
        padding-left: 0px;
    }
}
.main-katalog-wrapper .main-product-list-right .main-product-list{
    right:0px;
    left:-10px;
}
.main-product-list-right .main-description
{
    border-radius:16px;
    padding:20px;
    margin-bottom: 20px;

}

.language-select
{
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    height: 27px;
}
.language-select.active-lang{
    padding-top: 5px;
    padding-left: 15px;
}
.wrapperBlock-lang a:first-child {
    border-radius:5px 0px 0px 5px;
}
.wrapperBlock-lang a:nth-child(2) {
    border-radius:0px 5px 5px 0px;
}
.aboutus__title h1 {
    font-size: 38px;
    line-height: 55px;
    font-family: Fira Sans Condensed;
    padding-bottom: 4px;
}

.main-products-page-info_control .form_buy_product{
    display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between}
.main-products-page-info_control .form_buy_product button{
    border:none;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;
    align-items:center;border-radius:10px;background:var(--main-color);
    color:#fff;text-transform:uppercase;padding:10px 40px;width:45%;font-weight:700;font-family:var(--Open-font);
    font-size:13px;box-shadow:0 2px 10px rgba(41,96,204,.3),0 2px 4px rgba(41,96,204,.3)
}

.main-products-page-info_control .form_buy_product button img{width:20px;margin:0 0 0 10px}

.main-products-page-info_control .form_buy_product{-ms-flex-direction:column;flex-direction:column}
.main-products-page-info_control .form_buy_product > button{margin:13px 0 0;width:100%}


.main-description ul{

    height: auto;
    margin: 0 auto 25px;
    max-width: 710px;
    width: 100%;
    list-style: disc;

    font-family: var(--Open-font);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;


    color: #969696;
}
.main-description ul li{
    font-family: var(--Open-font);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #969696;
    margin-left:30px;

    margin-bottom:15px;
}
.main-description h2 {

    font-size: 28px;
    font-weight: 400;
    font-family: var(--Fira-font);
    margin: 0 auto 15px auto;
    color: #5C6773;
    max-width: 710px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.desktop-cart-pop-up_list-item_img{
    width:80%!important;
}
