<div id="search" class="search clearfix">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_placeholder }}"/>
	<button type="button" class="button-search product-btn-add">
		{{ text_search }}
	</button>
</div>