{% if (menu_items) %}
	<div class="megamenu">
			<ul class="sf-menu">
                        			{% for menu_item in menu_items %}
                        			    {{ menu_item }}
                        		{% endfor %}
            </ul>
</div>
<style>
.simple_menu li{
float:left; width:50%;
dispay:inline;
}
</style>
<script>
	;(function ($) {
		$(window).load(function () {
			var o = $('.sf-menu');
			o.superfish();
			o.find('li a').each(function () {
				if ($(location).attr('href').indexOf($(this).attr('href')) >= 0){
					$(this).addClass('active');
					return;
				}
			})
			if (o.parents('aside').length){
				var width = $('.container').outerWidth() - $('aside').outerWidth();
				o.find('.sf-mega').each(function () {
					$(this).width(width);
				})
			}
		});
	})(jQuery);
</script>
{% endif %}