{% if (show is empty) %} 
<div id="zemez-newsletter-popup" class="newsletter-popup-wrap">
	<div class="newsletter-popup" {% if (popup_bg is defined) %} style="background-image: url({{popup_bg}})"{% endif %}>
		<div class="box-content">			
			<h3>{{heading_title}}</h3>
			<p>{{html}}</p>
			<form method="post" enctype="multipart/form-data" id="zemez-newsletter-popup-form">
				<div class="zemez-login-form">
					<label class="control-label" for="input-zemez-newsletter-popup-email"></label>
					<input type="text" name="zemez_newsletter_popup_email" value="{% if (user_mail) %}{{user_mail}}{% else %}{{''}}{% endif %}" placeholder="{{entry_mail}}" id="input-zemez-newsletter-popup-email" class="form-control"/>
				</div>
				<button type="submit" id="zemez-newsletter-popup-button" class="product-btn-add">{{button_subscribe}}</button>
				<span id="zemez-newsletter-popup_error" class="newsletter-error"></span>
				<span id="zemez-newsletter-popup_success" class="newsletter-success"></span>
			</form>
		</div>
		<a href="#" id="newsletter-popup-close-btn" class="newsletter-popup-close-btn linearicons-cross"></a>
		<a href='#' id="newsletter-popup-dont-show" class="newsletter-popup-dont-show">{{text_dont}}</a>
	</div>
</div>

<script>
	function getCookie(c_name) {
		var search = c_name + "="
		var returnvalue = "";
		if (document.cookie.length > 0) {
			offset = document.cookie.indexOf(search)
			if (offset != -1) {
				offset += search.length
				end = document.cookie.indexOf(";", offset);
				if (end == -1) end = document.cookie.length;
				returnvalue=unescape(document.cookie.substring(offset, end))
			}
		}
		return returnvalue;
	}
	jQuery(document).ready(function ($) {
		var showIt = getCookie('shownewsletter');
		var m = {{cookie_time}};
		var date = new Date();
		date.setTime(date.getTime() + (m * 60 * 1000));
		if (showIt == '') {
			$('#zemez-newsletter-popup').fadeIn(300);
		}
		$('#newsletter-popup-dont-show').click(function (e) {
			e.preventDefault()
			document.cookie = 'shownewsletter=true; path=/; expires=' + date.toString();
			$('#zemez-newsletter-popup').fadeOut(300);
		});
		$('#newsletter-popup-close-btn').click(function (e) {
			e.preventDefault();
			document.cookie = 'shownewsletter=false';
			$('#zemez-newsletter-popup').fadeOut(300);
		});
		$('#zemez-newsletter-popup').submit(function (e) {
			e.preventDefault();
			var email = $("#input-zemez-newsletter-popup-email").val();
			var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/igm;
			if (emailRegex.test(email)) {
				var dataString = 'zemez_newsletter_popup_email=' + email;
				$.ajax({
					type: "POST",
					url: "index.php?route=extension/module/zemez_newsletter_popup/addNewsletter",
					data: dataString,
					cache: false,
					success: function (result) {
						if (!result) {
							$('#zemez-newsletter-popup_error').html('');
							$('#zemez-newsletter-popup_success').stop(true, true).html('{{text_success}}').fadeIn(300).delay(4000).fadeOut(300);
						} else {
							$('#zemez-newsletter-popup_success').html('');
							$('#zemez-newsletter-popup_error').stop(true, true).html(result).fadeIn(300).delay(4000).fadeOut(300);
						}
					}
				});
			} else {
				$('#zemez-newsletter-popup_success').html('');
				$('#zemez-newsletter-popup_error').stop(true, true).html('{{error_invalid_email}}').fadeIn(300).delay(4000).fadeOut(300);
			}
		});
});
</script>
{% endif %}