{% if (articles) %}
	<div class="box blog_articles">
		<div class="box-heading">
			<h3>{{ heading_title }}</h3>
			<div id="nav_blog-{{ module }}"></div>
		</div>
		<div class="box-content">
			<div class="row" data-box-carousel data-carousel-settings="items: 3, space: 40, slides479: 1, slides767: 1, slides1199: 2" data-nav-id="blog-{{ module }}">
				{% for article in articles %}
					<div class="col-sm-4">
						{% if (show_image == 1) %}
							<figure class="article-image">
								<img width="{{ article['image_width'] }}" height="{{ article['image_height'] }}" src="{{ article['image'] }}" alt="{{ article['article_title'] }}"/>
							</figure>
						{% endif %}
						<div class="article-title">
							<a href="{{ article['href'] }}">{{ article['article_title'] }}</a>
						</div>
						{% if (show_description and article['description']) %}
							<div class="article-description">{{ article['description'] }}</div>
						{% endif %}
						{% if (show_date == 1 or show_author == 1 or show_comments == 1) %}
							<div class="article-sub-title">
								{% if (show_author == 1) %}
									<span class="article-author">
										<a href="{{ article['author_href'] }}">{{ article['author_name'] }}</a>
									</span>
								{% endif %}
								{% if (show_date == 1) %}
									{{text_on}}<span class="article-date">{{ article['date_added'] }}</span>
								{% endif %}
								{% if (article['allow_comment'] and show_comments == 1) %}
									<span class="article-comments linearicons-bubble">
										<a href="{{ article['comment_href'] }}">{{ article['total_comment'] }}</a>
									</span>
								{% endif %}
								
							</div>
						{% endif %}
						{% if (show_readmore == 1) %}
							<a href='{{ article['href'] }}' class="product-btn-add">{{ text_button_continue}}</a>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% else %}
	<div class="buttons">
		<div class="center">{{ text_no_found }}</div>
	</div>
{% endif %}