<div id="zemez-newsletter" class="box newsletter">	
	<div class="box-heading"><h3>{{ text_newsletter }}</h3></div>
	<div class="box-content">
		{% if description %}<div class="newsletter-description">{{ description }}</div>{% endif %}
			<form method="post" enctype="multipart/form-data" id="zemez-newsletter-form">
				<div class="zemez-login-form">
					<label class="control-label" for="input-zemez-newsletter-email"></label>
					<input type="text" name="zemez_newsletter_email" value="" placeholder="{{ entry_mail }}"
					id="input-zemez-newsletter-email" class="form-control"/>
				</div>
				<button type="submit" id="zemez-newsletter-button" class="product-btn-add">{{button_subscribe}}</button>
				<span id="zemez-newsletter_error" class="newsletter-error"></span>
				<span id="zemez-newsletter_success" class="newsletter-success"></span>
			</form>
		</div>
	</div>
	<script>
	$(document).ready(function () {
		$('#zemez-newsletter').submit(function(e) {
			e.preventDefault();
			$.ajax({
				url: 'index.php?route=extension/module/zemez_newsletter/addNewsletter',
				type: 'POST',
				dataType: 'json',
				data: $('#zemez-newsletter').find('input[type=\'text\']'),
				success: function(json) {
					if (json['success']) {
						$('#zemez-newsletter_error').html('');
						$('#zemez-newsletter_success').stop(true, true).html(json['success']).fadeIn(300).delay(4000).fadeOut(300);
					} else {
						$('#zemez-newsletter_success').html('');
						$('#zemez-newsletter_error').stop(true, true).html(json['error']).fadeIn(300).delay(4000).fadeOut(300);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		});
	});
	</script>