{{ header }}

<main>
<div class="message-page">
  <h3>404</h3>
  <img class="message-page_big_icon" src="/catalog/view/theme/shlepki/img/icons/404.svg" alt="">
  <h2>Ой... мы не можем найти эту страницу</h2>
  <p>Возможно вы ошиблись в адрессе или страница была перемещена. <br>
    Вы можите вернутся на главную, или воспользоватся меню</p>
  <a class="btn-animate" href="/">Перейти на главную</a>
</div>

</main>
{#<div id="error-not-found" class="container">#}
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}#}
      {#<h1>{{ heading_title }}</h1>#}
      {#<p>{{ text_error }}</p>#}
      {#<div class="buttons clearfix">#}
        {#<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>#}
      {#</div>#}
      {#{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}
{{ footer }}
