@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

:root {
    /* COLORS */
    --main-color: #25B4E5;
    --main-darker-color: #22A5D1;
    --secondary-color: #099BCD;
    --check-color: #CCF3FF;
    --warning-color: #FFB444;
    --attention-color: #FF0000;
    --pop-up-bg: rgba(0, 0, 0, 0.57);
    --color-placeholder: #D0D0D0;
    --border-input-color-1: #DAE0E5;
    --color-icon: #9DA8B2;
    --colort-text: #969696;
    --color-text-darker: #929292;
    --color-text-secondary: #5C6773;
    --color-secondary-bg: #DEE7ED;
    --gradient-bg: linear-gradient(180deg, rgba(29, 159, 230, 0.06) 0%, rgba(204, 221, 255, 0) 100%);


    /* FONTS */
    --FS-font: -apple-system, BlinkMacSystemFont, sans-serif;
    --Fira-font: 'Fira Sans Condensed', sans-serif;
    --Open-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body,
.wrapperBlock {
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    user-select: none;
}

ul {
    list-style: none;
}

.wrapperBlock {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer,
header {
    flex-shrink: 0;
}

.containerBlock {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}


/* MESSAGE PAGES */
.message-page {
    text-align: center;
    padding: 40px;
    font-weight: 500;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(29, 159, 230, 0.06) 0%, rgba(204, 221, 255, 0) 100%);
}

.message-page h2 {
    margin: 0 0 30px 0;
    font-size: 28px;
    color: black;
    font-family: var(--Fira-font);
}

.message-page h2>span {
    color: var(--main-color);
}

.message-page h3 {
    padding: 0 0 6px 0;
    text-transform: uppercase;
    color: #C5E7FB;
    font-size: 86px;
    font-weight: 500;
    padding: 0 0 15px 0;
}

.message-page p {
    font-family: var(--Open-font);
    color: var(--color-text-darker);
    margin: -15px 0 0 0;
    padding: 0 0 20px 0;
    font-size: 16px;
}


.message-page a {
    margin: 30px 0 0 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    background: var(--main-color);
    padding: 17px 40px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(41, 96, 204, 0.3), 0px 2px 4px rgba(41, 96, 204, 0.3);
}

.message-page img {
    margin: 0 0 40px 0;
}

.message-page_lil-icon {
    width: 82px;
}

.message-page_big_icon {
    width: 220px;
}

/*////////////////////////////////////////////////////////////////*/


/* HEADER */

/* MOBILE HEADER */

.mobile-header {
    display: block;
    padding: 0 5px;
    position: relative;
    z-index: 100;
    background: #fff
}

.mobile-header>nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-header li>div {
    padding: 11px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
    transition: .3s;
    background: background-color #fff;
    outline: none;
}

.mobile-header li>div:hover {
    background-color: #F8F8F8;
}


.mobile-header_phone-numbers_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--pop-up-bg);
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: none;
}

.pop-up-active {
    display: flex;
}

.pop-up-active-block {
    display: block !important;
}

.mobile-header_phone-numbers {
    background: #fff;
    border-radius: 20px;
    padding: 35px 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobile-header_phone-numbers_cross-btn {
    width: 11px;
    position: absolute;
    right: 21px;
    top: 21px;

}

.mobile-header_phone-numbers>img {
    width: 46px;
}

.mobile-header_phone-numbers-list {
    margin: 30px 0;
}

.mobile-header_phone-numbers div a {
    display: block;
    margin: 0 0 25px 0;
    font-size: 21px;
    font-weight: 400;
    border-bottom: 2px dashed #000000;
    font-family: var(--Open-font);
}

.mobile-header_phone-numbers p {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--main-color);
}

.mobile-header_phone-numbers p img {
    width: 17px;
    margin: 0 5px 0 0;
}

.mobile-header_search_wrapper {
    background: var(--pop-up-bg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
}

.mobile-header_search {
    margin-top: 56px;
    border-top: 3px solid #F6F6F6;
    padding: 7px 15px;
    background: #fff;
    width: 100%;
}

.mobile-header_search input {
    width: 100%;
    height: 100%;
    padding: 13px;
    border: 1px solid var(--border-input-color-1);
    outline: none;
    font-size: 16px;
    border-radius: 10px;
}

#abort-input {
    position: absolute;
    width: 10px;
    right: 30px;
    top: 84px;
}

.mobile-header_search_list {
    padding: 15px 0 0 0;
    overflow: scroll;
    max-height: 300px;
}

.mobile-header_search_list-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0 0 15px 0;
}

.mobile-header_search_list-item img {
    width: 36px;
    margin: 0 20px 0 0;
}

.mobile-header_search input::placeholder {
    color: var(--border-input-color-1);
    font-size: 12px;
    font-family: var(--Open-font);
}

.mobile-menu_unactive {
    display: none;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    overflow: scroll;
}

.mobile-menu_lang {
    background: var(--main-color);
    padding: 4px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu_with_icons {
    margin: 25px 18px;
    border-bottom: 1px solid var(--border-input-color-1);
}

.mobile-menu_with_icons>ul img {
    width: 40px;
    padding: 0 16px 0 0;
}

.mobile-menu_with_icons li {
    padding: 0 0 22px 0;
}

.mobile-menu_profile_logged {
    color: #000 !important;
}

.mobile-menu_with_icons li>a {
    color: #929292;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.mobile-menu_counter {
    background: var(--warning-color);
    width: 37px;
    height: 37px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 50%;
    margin: 0 0 0 16px;
}

.mobile-menu-nav {
    margin: 0 18px 25px 18px;
    border-bottom: 1px solid var(--border-input-color-1);
}

.mobile-menu-nav ul>li {
    padding: 0 0 22px 0;
}

.mobile-menu-nav ul>li>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mobile-menu-nav ul>li>a>img {
    width: 5px;
}

.mobile-menu-nav li>a {
    font-size: 22px;
    font-family: var(--Fira-font);
}

.nav-attention a {
    color: var(--attention-color);
}

.mobile-menu-phones {
    margin: 0 18px 25px 18px;
    border-bottom: 1px solid var(--border-input-color-1);
    display: flex;
}

.mobile-menu_phone-icon {
    width: 30px;
    margin: 0 15px 0 0;
}

.mobile-menu_phone-list {
    display: flex;
    flex-direction: column;
}

.mobile-menu_phone-list a {
    font-size: 22px;
    line-height: 25px;
    font-family: var(--Open-font);
    padding: 0 0 15px 0;
    font-weight: 400;
}

.mobile-menu_phone-list p {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--main-color);
    padding: 0 0 22px 0;
}

.mobile-menu_phone-list p>img {
    width: 17px;
    height: 17px;
    margin: 0 5px 0 0;
}

.mobile-menu-bottom-nav {
    margin: 0 18px 25px 18px;
}

.mobile-menu-bottom-nav li {
    padding: 0 0 22px 0;
}

.mobile-menu-bottom-nav a {
    font-family: var(--Open-font);
    font-weight: 400;
    font-size: 18px;
}

#close-mobile-menu {
    width: 14px;
}

/* DESKTOP HEADER */

.desktop-header {
    display: none;
}

.desktop-top-header {
    background: var(--main-color);
    color: #fff;
    padding: 8px;
}

.containerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-top-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-top-header ul li {
    padding: 0 44px 0 0;
}

.desktop-top-header ul li>a {
    font-weight: 500;
    font-size: 14px;
}

.desktop-top-header a {
    font-family: var(--FS-font);
}

.wrapperBlock-lang {
    display: flex;
    align-items: center;
}

/* LANGUAGE-BUTTONS */
.wrapperBlock-lang a:not(.active-lang) {
    padding: 5px 16px;
    background: var(--main-darker-color);
    color: #48D0FF;
    border-radius: 10px;
}

.active-lang {
    background: #fff;
    border-radius: 10px;
    color: #25B4E5;
    padding: 7px 20px;
    margin: 0 -10px;
    position: relative;
    z-index: 10;
}

.desktop-middle-header {
    padding: 21px 0;
}


.desktop-logo {
    width: 100px;
    margin: 0 46px 0 0;
}

.desktop-contacts p {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.desktop-contacts p img {
    width: 14px;
    margin: 0 7px 0 0;
}

.desktop-contacts a {
    display: flex;
    font-size: 13px;
    font-weight: 300;
    align-items: center;
    padding: 0 0 5px 0;
    position: relative;
}

.desktop-contacts a>img {
    width: 18px;
    margin: 0 7px 0 0;
}

.desktop-contacts a>span {
    padding: 0 0 0 7px;
}

.desktop-contacts:hover a>span {
    transform: rotateX(-180deg);
    position: relative;
    top: 5px;
}

.desktop-contacts_phone-list {
    width: auto;
    position: absolute;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), #F8F8F8;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    z-index: 9999;
    padding: 15px 25px;
}

.desktop-contacts:hover .desktop-contacts_phone-list {
    display: flex;
}

.desktop-contacts_phone-list a {
    padding: 0 0 5px 0;
}

.desktop-searcher {
    position: relative;
    margin: 0 10px;
}

.desktop-search-result {
    position: absolute;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), #F8F8F8;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.13);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: -150px;
    overflow-y: scroll;
    height: 150px;
    padding: 17px;
    display: none;
    z-index: 99999;
}

.desktop-search-result-item {
    display: flex;
    align-items: center;
    margin: 0 0 12px 0;
}

.desktop-search-result-item img {
    width: 30px;
}

.desktop-searcher-wrapperBlock {
    padding: 5px 5px 5px 16px;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.desktop-searcher-wrapperBlock input {
    border: none;
    outline: none;
    color: #000000;
    font-size: 14px;
    font-size: 12px;
    font-family: var(--Open-font);
    width: 400px;
    margin: 0 5px 0 0;
    max-width: 600px;
}

.desktop-searcher-wrapperBlock input::placeholder {
    font-size: 12px;
    color: var(--color-placeholder);
}

.desktop-searcher-wrapperBlock button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #F8F8F8;
}

.desktop-middle-header>.containerBlock>div {
    display: flex;
    align-items: center;
}

.desktop-middle-nav-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 7px;
}

.desktop-middle-nav_profile-block {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), #F8F8F8;
    ;
    position: absolute;
    width: auto;
    padding: 30px 20px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.13);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.wrapper_desktop-middle-nav-item{
    position:relative;
}
.desktop-middle-nav-item_pop-num {
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--warning-color);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 8px;
    right: -10px;
    top: -6px;
}
.desktop-middle-nav-item>a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.desktop-cart-pop-up{
    display: none;
    width: 465px;
    padding: 30px 20px;
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), #F8F8F8;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.13);
    top: 45px;
    left: -410px;
    z-index: 100000;
}
#cart-nav-item:hover .desktop-cart-pop-up{
    display: block;
}
.desktop-cart-pop-up_cart-empty{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desktop-cart-pop-up_cart-empty_image{
    width: 40px;
    margin: 0 10px 0 0;
}
.desktop-cart-pop-up_cart-empty_text{
    text-align: left;
}
.desktop-cart-pop-up_cart-empty_text p{
    font-size: 18px;
    font-family: var(--Fira-font);
}
.desktop-cart-pop-up_cart-empty_text span{
    font-size: 14px;
    font-family: var(--Open-font);
}
.desktop-cart-pop-up_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--Fira-font);
    margin: 0 0 16px 0;
}
.desktop-cart-pop-up_list{
    margin: 0 0 28px 0;
}
.desktop-cart-pop-up_list-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 16px 0;
}
.desktop-cart-pop-up_list-item:last-child{
    margin: 0;
}
.desktop-cart-pop-up_list-item-text{
    text-align: left;
}
.desktop-cart-pop-up_list-item-text-title{
    font-family: var(--Open-font);
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 3px 0;
}
.desktop-cart-pop-up_list-item-text-model{
    font-family: var(--Fira-font);
    font-size: 13px;
    margin: 0 0 3px 0;
    color: var(--color-text-darker);
}
.desktop-cart-pop-up_list-item-text_value{
    font-family: var(--Open-font);
    font-size: 14px;
    color: #000;
}
.desktop-cart-pop-up_list-item_price{
    font-size: 22px;
    font-family: var(--Fira-font);
    color: #000;
}
.desktop-cart-pop-up_list-item_img{
    width: 73px!important;
    height: auto!important;
}
.desktop-cart-pop-up_title h3{
    color: var(--color-text-secondary);
    font-size: 22px;
}
.desktop-cart-pop-up_title p{
    color: var(--main-color);
    font-size: 16px;
}
.desktop-cart-pop-up_final-price{
    font-family: var(--Fira-font);
    display: flex;
    justify-content: flex-end;
}
.desktop-cart-pop-up_final-price p{
    color: var(--color-text-secondary);
    font-size: 18px;
}
.desktop-cart-pop-up_final-price span{
    color: #1D9FE6;
    font-size: 34px;
    margin: 0 0 0 12px;
}
.desktop-cart-pop-up_wrapper_buttons{
    margin: 23px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.desktop-cart-pop-up_link{
    padding: 14px 0;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: var(--Open-font);
    font-weight: bold;
    font-size: 13px;
}
.desktop-cart-pop-up_link-cart{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
.desktop-cart-pop-up_link-order{
    color: #fff;
    border: 2px solid var(--main-color);
    background: var(--main-color);
}
.desktop-profile-pop-up{
    display: none;
    width: 200px;
    padding: 30px 20px;
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), #F8F8F8;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.13);
    bottom: -200px;
    z-index: 100000;
}
#profile-nav-item:hover .desktop-profile-pop-up{
    display: block;
}
.desktop-profile-pop-up a{
    margin: 0 0 15px 0;
    display: flex;
    align-items: center;
}
.desktop-profile-pop-up a:last-child{
    margin: 0;
}
.desktop-profile-pop-up a img{
    margin: 0 12px 0 0;
}
.desktop-profile-pop-up a span{
    font-family: var(--Fira-font);
    font-weight: 400;
    font-size: 15px;
}
.desktop-middle-nav-item:last-child {
    margin: 0 5px 0 7px;
}

.main-color-text{
    color: var(--main-color);
}
.main-color-warning, .sale{
    color: var(--attention-color);
}


.desktop-middle-nav-item img {
    width: 24px;
    height: 24px;
}

.desktop-middle-nav {
    text-align: center;
    font-family: var(--Open-font);
    font-weight: 400;
    color: #5C6773;
    font-size: 13px;
    position: relative;
}

.pop-up-block {
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 27px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), #F8F8F8;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.13);
}

.pop-up-profile {
    left: 0;
}

.pop-up-profile p {
    position: relative;
}

.desktop-main-header {
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}

.desktop-main-header>nav>ul {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.desktop-main-header>nav>ul>li {
    padding: 18px 17px;
    transition: border-color .3s;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
}

.desktop-main-header>nav>ul>li:hover .sub-menu_wrapper {
    display: flex;
}

.desktop-main-header>nav>ul>li span path {
    width: 15px;
    height: 6px;
    fill: #000;
}

.desktop-main-header>nav>ul>li:hover {
    border-color: var(--main-color);
    color: var(--main-color);
}

.desktop-main-header>nav>ul>li:hover span path {
    fill: var(--main-color);
}

.desktop-main-header>nav>ul>li:first-child {
    color: var(--attention-color);
}

.desktop-main-header>nav>ul>li>a,  .desktop-main-header>nav>ul>li>div>a{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--Fira-font);
}

.sub-menu_wrapper {
    position: absolute;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-content: center;
    width: 100%;
    left: 0;
    top: 64px;
}

.sub-menu {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), #F8F8F8;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.13);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 340px;
    padding: 25px 35px 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sub-nav_menu-counter {
    display: block;
    margin: 0 0 0 5px;
    color: var(--main-color);
}

.sub-nav_menu-text {
    color: #5C6773;
    font-family: var(--Open-font);
    font-size: 14px;
}

.sub-menu>a:first-child {
    display: none;
}

.sub-menu li a:empty {
    display: none;
}

.sub-menu li a {
    transition: background-color .3s;
    display: flex;
    padding: 10px 15px;
}

.sub-menu li a:hover {
    background: #F8F8F8;
    border-radius: 10px;
}

/* .sub-menu li>a:nth-child(2){
    margin: -20px 0 20px 0;
} */

/* .pop-up-profile a{
    display: inline-block;
    font-family: var(--Fira-font);
    font-weight: 400;
    font-size: 15px;
} */
/*////////////////////////////////////////////////////////////////*/


/* MAIN */
body {
    position: relative;
}

.main-catalog {
    padding: 15px;
    background: #f6f6f6;
}

.main-catalog_list {
    width: 100%;
}

.main-products-block{
    padding: 15px 0;
    background: linear-gradient(180deg, rgba(29, 159, 230, 0.06) 0%, rgb(246, 246, 246) 100%);
}

.main-products-block .main-bread-crumbs{
    padding: 0 15px 15px;
}

.main-catalog_list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.main-catalog_list_item>.main-catalog_list_sub-item:nth-child(1) {
    margin: 0 10px 0 0;
    align-items: flex-start;
}

.main-catalog_list_item>.main-catalog_list_sub-item:nth-child(2) {
    margin: 0 0 0 10px;
    align-items: flex-end;
}

.main-catalog_list_item>.main-catalog_list_sub-item:nth-child(1) .main-catalog_list_item_title {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-catalog_list_item>.main-catalog_list_sub-item:nth-child(2) .main-catalog_list_item_title {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-catalog_list_sub-item {
    border-radius: 16px;
    width: 50%;
    margin: 0 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.main-catalog_list_item_icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.main-catalog_list_item_title {
    padding: 10px 16px;
    font-size: 18px;
    font-family: var(--Fira-font);
    background: var(--main-color);
    border-top: 1px solid #fff;
    color: #fff;
}

.main-catalog_list_sub-item_1 {
    width: 100% !important;
    margin: 0 !important;
}

.main-catalog_list img {
    border-radius: 16px;
}

.main-catalog_list_slider {
    width: 100%;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

/* DESKTOP KATALOG */

.main-catalog_list_desktop {
    display: none;
    margin: 0 0 32px 0;
}

.main-brands {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    margin: 0 0 5px 0;
    padding: 12px 0 12px 19px;
    overflow-x: scroll;
    align-items: center;
    justify-content: space-between;
}

.main-brands img {
    margin: 0 30px 0 0;
    width: 50px;
}

/* SLIDER */

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.swiper-container {
    width: 100%;
    height: 200px;
    border-radius: 16px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    position: absolute;
    bottom: 20px !important;
}

.swiper-pagination .swiper-pagination-bullet {
    background: none;
    opacity: 1 !important;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 20px;
    height: 9px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    width: 50px;
    background: #fff;
}

.main-products {
    padding: 15px;
    background: linear-gradient(180deg, rgba(29, 159, 230, 0.06) 0%, rgb(246, 246, 246) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-family: var(--Fira-font);
    font-weight: 500;
    font-size: 28px;
    margin: 15px auto;
    max-width: 1170px;
    align-self: flex-start;
    width: 100%;

}

.main-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;

}

.main-product-list_item {
    padding: 5px;
    position: relative;
    background: #fff;
    width: 46%;
    border-radius: 16px;
}

.main-product-list_item>* {
    margin: 0 0 5px 0;
}

.main-product-list_item>*:last-child {
    margin: 0;
}

.preview-product {
    width: 100%;
}

.main-product-list_item:nth-child(odd) {
    margin: 10px 10px 10px 0;
}

.main-product-list_item:nth-child(even) {
    margin: 10px 0 10px 10px;
}

.main-home-page .main-product-list_item:nth-child(n+5) {
    display: none;
}

.product-favorite {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 27px;
    cursor: pointer;
}

.product-title {
    font-family: var(--Open-font);
    font-weight: 400;
    font-size: 16px;

}

.product-model {
    font-size: 12px;
    font-family: var(--Fira-font);
    color: var(--color-text-darker);

}

.product-value {
    color: var(--main-color);
    font-family: var(--Fira-font);
    font-size: 14px;
}

.product-list-prices {
    margin: 5px 0 0 0;
}

.product-list-prices_item {
    font-family: var(--Fira-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-list-prices_item:first-child {
    margin: 0 0 10px 0;
}

.product-list-prices_item span {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-text-darker);
}

.product-list-prices_item p {
    font-size: 14px;
}

.product-button-cart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px 0 0 0 !important;
    background: var(--main-color);
    color: #fff;
    text-transform: uppercase;
    font-family: var(--Open-font);
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0px 2px 10px rgba(41, 96, 204, 0.3), 0px 2px 4px rgba(41, 96, 204, 0.3);
    border-radius: 10px;
}

.product-button-cart img {
    width: 20px;
    margin: 0 0 0 5px;
}

.main-new_link {
    padding: 15px 20px;
    display: block;
    text-transform: uppercase;
    color: var(--main-color);
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--main-color);
    margin: 20px 0 35px 0;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
}

.main-pluses_item {
    text-align: center;
    margin: 0 0 20px 0;
}

.main-pluses_icon,
.main-pluses-title {
    position: relative;
    z-index: 10;
}

.main-pluses-line {
    position: absolute;
    right: 0;
    margin: 33px 0 0 0;
    height: 64px;
    width: 95%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    z-index: 1;
}

.main-pluses-line_1 {
    background: #25B4E5;
}

.main-pluses-line_2 {
    background: #22A5D1;
}

.main-pluses-line_3 {
    background: #1CC5FF;
}

.main-pluses_item span {
    display: block;
    font-family: var(--Fira-font);
    text-transform: uppercase;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
}

.main-pluses_title_1 {
    color: #25B4E5;
}

.main-pluses_title_2 {
    color: #22A5D1;
}

.main-pluses_title_3 {
    color: #1CC5FF;

}

.main-pluses_item span:nth-child(2),
.main-pluses_item p {
    color: #fff;
}

.main-pluses_item p {
    font-family: var(--FS-font);
}

.main-pluses_icon {
    width: 40px;
}

.main-pluses_item:last-child {
    margin: 0;
}

.main-block-wrapper{
    background: rgb(246, 246, 246);
}

.main-navigation {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 36px 5px 33px 5px;
}

.main-navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;

}

.main-navigation ul li {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--Open-font);
    text-transform: uppercase;
    color: var(--main-color);
    margin: 0 44px 0 0;
    text-align: center;
}

.main-navigation ul li:last-child {
    margin: 0;
}

.main-description {
    padding: 15px;
    position: relative;
    background: #fff;
}

.main-description h2,.main-description_title {
    font-size: 28px;
    font-weight: 400;
    font-family: var(--Fira-font);
    margin: 0 auto 15px auto;
    color: #5C6773;
}

.main-description p {
    font-family: var(--Open-font);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    height: 210px;
    overflow-y: hidden;
    color: #969696;
}

.main-description .main-description_title,
.main-description p {
    max-width: 710px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.main-description-hider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    width: 90%;
    margin: 0 auto;
    height: 130px;
    bottom: 0;
}

.main-description-hider button {
    background: var(--main-color);
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.main-bread-crumbs {
    width: 100%;
    padding: 0 0 15px 0;
}

.main-bread-crumbs_wrapper {
    display: flex;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.main-bread-crumbs_wrapper span {
    margin: 0 10px;
}

.main-bread-crumbs_wrapper a {
    display: block;
    font-weight: 400;
    font-size: 11px;
    white-space: nowrap;
    color: var(--color-text-darker);
}

.main-bread-crumbs_active {
    color: var(--main-color) !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.filter-mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-mobile-wrapper>* {
    width: 46%;
}

.filter-mobile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    background: inherit;
    border-radius: 10px;
    margin: 10px 0 -10px 0;
}

.filter-mobile img {
    width: 17px;
    height: 17px;
    position: absolute;
    left: 20px;
}

.sort-select-mobile {
    background: #fff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0 -10px 0;
    border: none;
}

.main-title_wrapper {
    display: flex;
    justify-content: space-between;

}

.main-title_control_wrapper {
    display: none;
}

.main-title_control_wrapper .a-dropdown:first-child {
    margin: 0 20px 0 0;
    width: 30%;
}

.main-title_control_wrapper .a-dropdown:last-child {
    width: 10%;
}

.main-title_control_wrapper .a-dropdown__selected {
    margin: 0;
}

.a-dropdown__items {
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.11));
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.select_counter {
    font-family: var(--FS-font);
    font-size: 14px;
    font-weight: 400;
    color: #929292;
    width: 175px;
    margin: auto 0;

}

/* SELECT */
.a-dropdown {
    position: relative;
    z-index: 13;
    max-width: 400px;
    font-family: var(--Open-font);
    font-family: 400;
    font-size: 12px;
}

.dropdown-icon {
    position: absolute;
    z-index: 100000000;
    right: 15px;
    top: 19px;
}

.a-dropdown__select {
    display: none;
    /*hide original SELECT element: */
}

.a-dropdown__arrow {
    position: absolute;
    top: 22px;
    right: 20px;
    transform: rotate(90deg);
    z-index: 2;
}

.-isOpened .a-dropdown__arrow {
    transform: rotate(-90deg);
}

.a-dropdown__selected {
    position: relative;
    margin: 10px 0 -10px 0;
    padding: 10px 15px;
    font-size: 12px;
    min-height: 48px;
    display: flex;
    align-content: center;
    font-weight: 400;
    line-height: 20px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

.a-dropdown__items {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 15px 10px;
    margin-top: -5px;
    background: #fff;
    border-radius: 5px;
    z-index: 0;
    /* Hide the items when the select box is closed: */
}

.a-dropdown__items.-hidden {
    display: none;
}

.a-dropdown__item {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.a-dropdown__item.-selected {
    color: var(--main-color);
}

.a-dropdown__item:not(:last-of-type) {
    margin-bottom: 10px;
}

.main-mobile-filter {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: #fff;
    z-index: 1000000;
    overflow-y: scroll;
}

.main-mobile-filter_header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-input-color-1);
}

.main-mobile-filter_header h2 {
    font-family: var(--Fira-font);
    font-weight: 500;
    font-size: 24px;
}

.main-mobile-filter-close {
    width: 12px;
    height: 12px;
}

.main-mobile-filter-wrapper {
    padding: 15px 26px;
}

.filter-item {
    user-select: none;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid var(--border-input-color-1);
}

.filter-item>p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-desktop-filter .filter-item:last-child {
    border-bottom: none;
}

.filter-active-item {
    margin: 0 0 20px 0;
}

.filter-block {
    display: none;
}

.filter-block label {
    display: block;
    margin: 0 0 15px 0;
}

.filter-block>label:last-child {
    margin: 0;
}

.filter-block label input {
    /* display: none; */
}

.filter-prices_inputs_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
}
.filter-prices_input{
    width: 40%;
    padding: 15px;
    color: var(--color-text-secondary);
    font-family: var(--FS-font);
    font-weight: 400;
    font-size: 14px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid var(--border-input-color-1);
}
.filter-prices_input_line{
    width: 8px;
    height: 2px;
    border-radius: 10px;
    background: var(--color-icon);
}

#list_with_checkbox p {
    display: flex;
    align-items: center;
}

#list_with_checkbox p::before {
    content: ' ';
    margin: 1px 17px 0 0;
    width: 17px;
    height: 17px;
    border: 1px solid #DAE0E6;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
}

/* #type_of_shoes label input{
    display: none;
} */
/* #colors_checkboxes{
    display: flex;
    flex-wrap: wrap;
} */
#colors_checkboxes label {
    display: inline-block;
    margin: 10px 10px 0;
}

#colors_checkboxes input:checked+svg {
    border: 2px solid #099BCD;
    border-radius: 50%;
}

#type_of_shoes p,
#list_with_checkbox p {
    color: #929292;
    font-family: var(--FS-font);
    font-weight: 300;
    font-size: 16px;
}
.open-filter-flex{
    display: flex;
    flex-wrap: wrap;
}

#list_with_checkbox input:checked+p {
    position: relative;
    color: #000;
    font-weight: 500;
}

#list_with_checkbox input:checked+p::before {
    background: #CCF3FF;
    border: 1px solid #CCF3FF;
}

#list_with_checkbox input:checked+p::after {
    content: '✓';
    position: absolute;
    color: #25B4E5;
    left: 3px;
}

#type_of_shoes input:checked+p {
    color: #000;
    font-weight: 500;
}

.filter-buttons_wrapper {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    padding: 0 0 30px 0;
    background: #fff;
}

.filter-buttons_wrapper>* {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 10px;
    font-family: var(--Open-font);
    font-weight: 700;
}

.filter-item_label {
    width: 100%;
}

.filter-item #type_of_shoes input,
.filter-item #list_with_checkbox input,
.filter-item #colors_checkboxes input {
    display: none;
}

.open-filter {
    display: block;
}

.reset-filter {
    font-size: 12px;
    color: var(--main-color);
    background: #CCDEE5;
    padding: 13px 26px;
}

.search-products {
    background: var(--main-color);
    font-size: 13px;
    color: #fff;
    padding: 11px 17px;
}

.main-pagination_wrapper {
    display: flex;
    align-items: center;
}

.main-pagination_wrapper a {
    font-family: var(--Fira-font);
    font-weight: 600;
    font-size: 13px;
    margin: 0 21px 0 0;
}

.main-pagination_wrapper a:last-child {
    margin: 0;
}

.main_pagination_selected {
    color: #133880;
}

.main_pagination_next-page {
    color: #25B4E5;
}

.main_pagination_minor-page {
    color: #779DED;
}

.main-pagination_dots {
    color: #9DA8B2;
    margin: 0 21px 0 0;
}
.main-product-page_info{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.main-products-page-info_text{
    padding: 9px 0 30px 0;
    margin: 0 15px;
    border-bottom: 1px solid #fff;
}
.main-products-page-info_text>h3{
    font-family: var(--Open-font);
    font-weight: 400;
    font-size: 25px;
    color: #000;
    margin: 0 0 6px 0;
}
.main-products-page-info_text>p{
    font-family: var(--Fira-font);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-text-darker);
    margin: 0 0 9px 0;
}
.main-products-page-info_text>h4{
    font-family: var(--Fira-font);
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 9px 0;
    color: var(--main-color);
}
.main-products-page_list_item{
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-products-page_list_item:first-child{
    margin: 0 0 13px 0;
}
.main-products-page_list_item p{
    font-family: var(--Fira-font);
    font-size: 18px;
    color: var(--color-text-darker);
}
.main-products-page_list_item span{
    font-family: var(--Fira-font);
    font-size: 28px;
    color: #000;
}
.main-products-page-info_control{
    margin: 15px 0 0 0;
}
.main-products-page-info_control form{
    display: flex;
    justify-content: space-between;
}
.main-products-page-info_control form>button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--main-color);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 40px;
    width: 45%;
    font-weight: 700;
    font-family: var(--Open-font);
    font-size: 13px;
    box-shadow: 0px 2px 10px rgba(41, 96, 204, 0.3), 0px 2px 4px rgba(41, 96, 204, 0.3);
}
.main-products-page-info_control form button img{
    width: 20px;
    margin: 0 0 0 10px;
}
.main-products-page-info_favorite{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: var(--Open-font);
    color: var(--color-text-secondary);
    font-size: 13px;
    text-transform: uppercase;
    margin: 26px 0 0 0;
}
.main-products-page-info_favorite img{
    width: 21px;
    margin: 0 10px 0 0;
}
.counter-value_block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-value_block>p{
    display: none;
    font-family: var(--Fira-font);
    color: var(--color-text-darker);
    font-size: 16px;
}
.counter-value_block{
    width: 50%;
}
.counter-value_block div{
    height: 100%;
    background: #fff;
    padding: 0 20px;
    border-top: 1px solid #DAE0E5;
    border-bottom: 1px solid #DAE0E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-value_block div:nth-child(2){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid #DAE0E6;
    border-right: none;
}
.counter-value_block div:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #DAE0E6;
    border-left: none;
}
.counter-value_block>input{
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid #DAE0E6;
    text-align: center;
}
.main-products-page-info_desription{
    padding: 30px 15px 10px 15px;
}
.main-products-page-info_control_panel{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: #DEE7ED;
    font-size: 16px;
    font-family: var(--Fira-font);
    font-weight: 400;
    color: #5C6773;
    margin: 0 0 23px 0;
}
.main-products-page-info_control_panel label input{
    display: none;
}
.main-products-page-info_control_panel label{
    width: 50%;
    padding: 8px 0;
    text-align: center;
}
.main-product-info_control_panel_active{
    background: #fff;
    color: #000;
    border-radius: 10px;
}
.main-products-page_list_characteristic_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--Fira-font);
    font-size: 16px;
    margin: 0 0 5px 0;
}
.main-products-page_list_characteristic_item:last-child{
    margin: 0;
}
.main-products-page_list_characteristic_item span{
    font-weight: 300;
    color: var(--color-text-darker)
}
.main-products-page_list_characteristic_item p{
    font-weight: 400;
    color: #000;
}
.main-products-page_list_description{
    display: none;
    font-weight: 400;
    font-family: var(--Open-font);
    color: #000;
    line-height: 25px;
    font-size: 15px;
    margin: 20px 0 0 0;
}


/* SVG SLIDER */

.cd-filter {
    /* SVG animation style switcher - not needed in production */
    margin-top: 1em;
    text-align: center;
  }
  .cd-filter li {
    display: inline-block;
    margin: 4px;
  }
  .cd-filter a {
    display: block;
    border-bottom: 2px solid rgba(76, 92, 98, 0);
    padding: .8em 1em;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #4c5c62;
  }
  .no-touch .cd-filter a:hover {
    border-bottom: 2px solid rgba(76, 92, 98, 0.6);
  }
  .cd-filter a.selected {
    color: #00A7E1;
    border-bottom: 2px solid rgba(0, 167, 225, 0.4);
  }
  .no-touch .cd-filter a.selected:hover {
    border-bottom: 2px solid rgba(0, 167, 225, 0.4);
  }
  @media only screen and (min-width: 768px) {
    .cd-filter {
      margin-top: 2em;
    }
  }
  
  /* -------------------------------- 
  
  Slider
  
  -------------------------------- */
  .cd-slider-wrapper {
    position: relative;
    width: 100%;
    max-width: 1120px;
    /* hide horizontal scrollbar on IE11 */
    overflow-x: hidden;
    background: #fff;
  }
  
  .cd-slider > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    /* hide vertical scrollbar on IE11 */
    overflow: hidden;
  }
  .cd-slider > li.visible {
    position: relative;
    z-index: 2;
    opacity: 1;
  }
  .cd-slider > li.is-animating {
    z-index: 3;
    opacity: 1;
  }
  
  .cd-slider .cd-svg-wrapper {
    /* using padding Hack to fix bug on IE - svg height not properly calculated */
    height: 0;
    padding-bottom: 57.15%;
  }
  
  .cd-slider-wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* -------------------------------- 
  
  Slider navigation
  
  -------------------------------- */
  .cd-slider-navigation li {
    position: absolute;
    z-index: 3;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    height: 48px;
    width: 48px;
  }
  .cd-slider-navigation li a {
    display: none;
    height: 100%;
    /* overflow: hidden; */
    /* text-indent: 100%;
    white-space: nowrap; */
    color: transparent;
    /* background: url(../img/icons/sliderIcon.svg) no-repeat 0 0; */
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
  }
  .cd-slider-navigation li a img{
      width: 15px;
  }
  .no-touch .cd-slider-navigation li a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  .cd-slider-navigation li:last-of-type {
    left: 10px;
    right: auto;
  }
  .cd-slider-navigation li:last-of-type a {
    background-position: -48px 0;
    transform: rotateY(-180deg);
  }
  
  /* -------------------------------- 
  
  Slider dots/controls 
  
  -------------------------------- */
  .cd-slider-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
    text-align: center;
    width: 90%;
  }
  .cd-slider-controls::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-slider-controls li {
    display: inline-block;
    margin-right: 10px;
  }
  .cd-slider-controls li:last-of-type {
    margin-right: 0;
  }
  .cd-slider-controls li.selected a {
    background-color: var(--main-color);
    border-radius: 10px;
    width: 40px;
    border-color: var(--main-color);
  }
  .cd-slider-controls a {
    display: block;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 10px;
    width: 15px;
    border-radius: 10px;
    border: 2px solid var(--main-color);
  }
  .no-touch .cd-slider-controls a:hover {
    background-color: #ffffff;
  }
  


/*////////////////////////////////////////////////////////////////*/


/* FOOTER */

footer {
    color: #fff;
    padding: 15px;
    background: #212121;
}

.footer-nav-list {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.footer-nav-list_item {
    margin: 0 0 20px 0;
}

.footer-nav-list_item>p {
    font-family: var(--Open-font);
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav-list_item ul {
    padding: 20px 0 0 30px;
    display: none;
}

.footer-show-list {
    display: block !important;
}

.footer-nav-list_item ul li {
    margin: 0 0 20px 0;
}

.footer-sign-up {
    margin: 0 auto 20px auto;
    max-width: 1170px;
    width: 100%;
}

.footer-sign-up form {
    width: 100%;
}

.footer-sign-up label {
    border: 1px solid #575757;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.footer-sign-up form button {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    border-radius: 10px;
    border: none;
}

.footer-sign-up input {
    border: none;
    background: none;
}

.footer-sign-up input::placeholder {
    font-family: var(--Open-font);
    color: #D0D0D0;
    font-size: 12px;
    font-weight: 400;
}

.footer-sign-up_title {
    font-family: var(--Open-font);
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 7px 0;
}

.footer-sign-up_label {
    font-size: 12px;
    font-family: var(--Open-font);
    font-weight: 400;
    color: #25B4E5;
    margin: 0 0 15px 0;
}

.footer-payments {
    display: flex;
    max-width: 1170px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0 0 0;
    margin: 20px auto 0 auto;
    border-top: 1px solid #161616;
}

.footer-payments>a {
    display: none;
}

.footer-payments_wrapper>p {
    display: none;
}

.footer-payments>a>img {
    width: 80px;
}

.footer-payments_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-payments_wrapper p {
    margin: 0 25px 0 0;
    color: #8A8A8A;
    font-size: 13px;
    font-weight: 400;
}

.footer-payments_wrapper img {
    margin: 0;
}

.footer-payments_wrapper img:last-child {
    margin: 0;
}

.footer-payments img {
    width: 64px;
    height: 64px;
}

.flip-icon {
    position: relative;
    transform: rotate(180deg);
}

.main-desktop-filter {
    display: none;
}

/*////////////////////////////////////////////////////////////////*/


/* for-phone-small */
@media only screen and (min-width: 425px) {
    /* HEADER */

    .mobile-header_phone-numbers div a {
        font-size: 24px;
    }

    /*////////////////////////////////////////////////////////////////*/

    /* PRODUCT CARD */
    .product-list-prices_item p {
        font-size: 18px;
    }

    .product-title {
        font-size: 18px;
    }

    .product-model {
        font-size: 14px;
    }

    .product-value {
        font-size: 16px;
    }

    .product-button-cart img {
        width: 20px;
        margin: 0 0 0 20px;
    }

    /* MAIN */

    /* .a-dropdown__selected {
        font-size: 10px;
    } */

}

/* for-phone-only */
@media only screen and (min-width: 600px) {
    /* HEADER */

    .mobile-header {
        display: block;
        padding: 15px 25px;
    }

    .mobile-header_search {
        margin-top: 86px;
    }

    #abort-input {
        position: absolute;
        width: 10px;
        right: 30px;
        top: 113px;
    }

    /*////////////////////////////////////////////////////////////////*/

    /* MAIN */

    /* RANGE SLIDER */

    /* .irs--flat{
        background: var(--main-color);
    } */

    .irs-min,
    .irs-max {
        display: none;
    }

    .irs-single{
        display: none;
    }

    .irs--flat .irs-line {
        height: 6px;
    }

    .irs--flat .irs-bar {
        height: 6px;
        background: var(--main-color);
    }

    .irs--flat .irs-handle>i:first-child {
        width: 16px;
        height: 25px;
        top: -6px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #1D9FE6;
    }

    .irs--flat .irs-handle>i:first-child:hover {
        background: var(--main-color)!important;
    }

    .irs-to,.irs-from{
        display: none;
    }

    /* SWIPER */

    .swiper-container {
        height: 360px;
    }

    .main-catalog_list_sub-item {
        height: 150px;
    }

    .main-catalog_list_item_icon {
        width: 60px;
    }

    .main-product-list_item {
        width: 48%;
    }

    .main-title {
        font-size: 38px;
    }

    .filter-mobile-wrapper>* {
        width: 48%;
    }

    /* PRODUCT */
    .product-list-prices_item p {
        font-size: 20px;
    }

    .product-list-prices_item span {
        font-size: 16px;
    }

    .product-button-cart {
        font-size: 13px;
        margin: 17px 0 0 0;
    }

    /*////////////////////////////////////////////////////////////////*/

}

/* for-tablet-portrait-up */
@media only screen and (min-width: 900px) {

    /* MESSAGE PAGES */

    .message-page h2 {
        font-size: 38px;
    }

    /*////////////////////////////////////////////////////////////////*/

    /* HEADER */

    .mobile-header {
        display: none;
    }

    .mobile-header_search_wrapper {
        display: none;
    }

    .desktop-header {
        display: block;
    }

    /*////////////////////////////////////////////////////////////////*/


    /* MAIN */
    .main-products-block .cd-slider > li{
        margin: 25px 0 0 0;
    }
    .counter-value_block{
        width: 100%;
    }
    .counter-value_block>input{
        width: 30%;
    }
    .main-products-page-info_control{
        display: flex;
        justify-content: space-between;
    }
    .main-product-page_info{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .main-products-page-info_desription{
        padding: 0;
    }
    .main-products-page-info_text{
        margin: 0;
        padding: 0;
    }
    .main-products-page-info_text h3{
        margin: 0;
    }
    .main-product-page_info .cd-slider-wrapper{
        width: 40%;
        height: 350px;
        border-radius: 16px;
    }
    .main-product-page_info{
        margin: 32px auto 0;
    }
    .main-products-page-info_text{
        border-bottom: none;
    }
    /* .main-product-page_info .cd-slider-navigation li a{
        background: rgba(0, 0, 0, 0.05);
    } */

    .main-product-page_info .cd-slider-controls{
        display: none;
    }
    .main-products-page-info_text, .main-products-page-info_desription{
        width: 29%;
        min-height: 350px;
    }
    .main-products-page-info_control form{
        flex-direction: column;
    }
    .main-products-page-info_control form>button{
        margin: 13px 0 0 0;
        width: 100%;
    }
    .counter-value_block>*{
        display: flex!important;
        align-items: center;
        height: 44px!important;
    }
    .counter-value_block>p{
        padding: 0 37px 0 0;
    }
    .main-products-page_list_characteristic,.main-products-page_list_description{
        padding: 0 20px;
        font-size: 15px;
        line-height: 21px;
    }
    .cd-slider-navigation li a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .main-product-list_item {
        padding: 15px;
    }

    .main-katalog-wrapper {
        display: flex;
        align-items: flex-start;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }

    .main-katalog-wrapper>*:first-child {
        padding: 15px;
        width: 30%;
    }

    .filter-item_label {
        font-size: 15px;
        font-weight: 600;
        font-family: var(--Open-font);
    }

    .filter-item:last-child {
        margin: 0 0 30px 0;
    }

    .main-desktop-filter {
        display: block;
        background: #fff;
        margin: 0 20px 0 0;
        border-radius: 16px;
    }

    .reset_filtr_button {
        padding: 13px 0;
        border: none;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
        text-align: center;
        width: 100%;
        background: rgb(187, 238, 255);
        color: #25B4E5;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .main-desktop-filter {
        position: relative;
    }

    .main-katalog-wrapper>*:last-child {
        width: 70%;
    }

    .main-katalog-wrapper .main-product-list_item {
        width: 32%;
    }

    .main-title_control_wrapper {
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }

    .filter-mobile-wrapper {
        display: none;
    }

    .main-mobile-filter {
        display: none;
    }

    .main-bread-crumbs {
        border-bottom: 1px solid #fff;
    }

    .main-bread-crumbs_wrapper a {
        font-size: 13px;
    }

    .main-catalog_list_desktop {
        display: flex;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto 20px;
    }

    .main-catalog_list_desktop_main-item {
        width: 50%;
    }

    .main-catalog_list_desktop_main-item,
    .main-catalog_list_desktop_minor-item,
    .main-catalog_list_desktop_sub-minor-item {
        position: relative;
    }

    .main-catalog_list_desktop_item-title {
        color: #fff;
        background: #1D9FE6;
        text-align: center;
        position: absolute;
    }

    .main-catalog_list_desktop_main-item>.main-catalog_list_desktop_item-title {
        font-size: 28px;
        padding: 15px 50px;
        bottom: 0;
        left: 0;
        border-bottom-left-radius: 16px;
        border-top-right-radius: 16px;
        border-top: 2px solid #fff;
    }

    .main-catalog_list_desktop_minor-item>.main-catalog_list_desktop_item-title {
        padding: 10px 23px;
        left: 0;
        top: 0;
        font-size: 25px;
        border-top-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-bottom: 2px solid #fff;
    }

    .main-catalog_list_desktop_sub-minor-item>.main-catalog_list_desktop_item-title {
        font-size: 25px;
        padding: 10px 23px;
        bottom: 0;
        border-top: 2px solid #fff;
    }

    .main-catalog_list_desktop_sub-minor-item:nth-child(odd)>.main-catalog_list_desktop_item-title {
        right: 0;
        border-top-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .main-catalog_list_desktop_sub-minor-item:nth-child(even)>.main-catalog_list_desktop_item-title {
        left: 0;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
    }

    .main-catalog_list_desktop_icon {
        position: absolute;
    }

    .main-catalog_list_desktop_main-item img,
    .main-catalog_list_desktop_minor-item img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }

    .main-catalog_list_desktop_main-item>.main-catalog_list_desktop_icon {
        width: 68px;
        height: 68px;
        top: 20px;
        left: 20px;
    }

    .main-catalog_list_desktop_minor-item .main-catalog_list_desktop_icon {
        width: 49px;
        height: 49px;
    }

    .main-catalog_list_desktop_minor-item>.main-catalog_list_desktop_icon {
        top: 10px;
        right: 10px;
    }

    .main-catalog_list_desktop_sub-minor-item>.main-catalog_list_desktop_icon {
        top: 10px;
    }

    .main-catalog_list_desktop_sub-minor-item:nth-child(odd)>.main-catalog_list_desktop_icon {
        right: 10px;
    }

    .main-catalog_list_desktop_sub-minor-item:nth-child(even)>.main-catalog_list_desktop_icon {
        left: 10px;
    }


    .main-catalog_list_desktop_minor-item:nth-child(2) {
        margin: 0 20px;
    }

    .main-catalog_list_desktop_minor-item {
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .main-catalog_list_item {
        display: none;
    }

    .main-brands {
        padding: 30px 75px;
        justify-content: space-between;
    }

    .main-brands img {
        width: 80px;
        margin: 0;
    }

    .main-description p {
        height: auto;
        margin: 0 auto 25px auto;
    }

    .main-description_title {
        font-size: 38px;
        margin: 0 auto 21px auto;
    }

    .main-description-hider {
        display: none;
    }

    /* PRODUCT */
    .main-product-list_item:nth-child(odd) {
        margin: 0 0 14px 0;
    }

    .main-product-list_item:nth-child(even) {
        margin: 0 0 14px 0;
    }

    .main-product-list_item:nth-child(n+5) {
        display: block;
    }

    .main-product-list_item {
        width: 23%;
    }

    /* SWIPER */
    .swiper-button-next,
    .swiper-button-prev {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute !important;
        top: 0;
        width: 7%;
        margin: 0;
        height: 100%;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.15);
    }

    .swiper-button-next path,
    .swiper-button-prev path {
        transition: fill .3s;
        fill: rgba(255, 255, 255, 0.5);
    }

    .swiper-button-next:hover path,
    .swiper-button-prev:hover path {
        fill: #fff;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: '';
    }

    .swiper-button-next svg {
        transform: rotateY(-180deg);
    }

    .main-pluses {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        padding: 30px 0 0 0;
    }

    .main-pluses-line_1 {
        z-index: 8;
        width: 100%;
        border-radius: 0;

    }

    .main-pluses-line_2 {
        z-index: 9;
        width: 65%;

    }

    .main-pluses-line_3 {
        z-index: 10;
        width: 40%;
    }


    /* FOOTER */

    .footer-nav-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer-wrapper {
        padding: 60px 0 0 0;
    }

    .footer-nav-list ul {
        display: block;
        padding: 40px 0 0 0;
    }

    .footer-nav-list>*:nth-child(n-3) {
        width: 15%;
        margin: 0 20px 0 0;
    }

    .footer-nav-list>*:last-child {
        margin: 0;
        width: 30%;
    }

    .footer-nav-list_item>p {
        font-size: 16px;
    }

    .footer-nav-list ul {
        font-size: 13px;
    }

    .footer-nav-list_item span {
        display: none;
    }

    .footer-sign-up_title {
        margin: 0 0 24px 0;
    }

    .footer-sign-up_label {
        margin: 0 0 20px 0;
    }

    .footer-payments>a {
        display: block;
    }

    .footer-payments_wrapper>p {
        display: block;
    }

    .footer-payments_wrapper {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



}

/* for-desktop-up */
@media only screen and (min-width: 1200px) {
    .desktop-middle-nav-item {
        margin: 0 27px;
    }

    .desktop-middle-nav-item:last-child {
        margin: 0 0 0 27px;
    }

    .desktop-contacts p {
        font-size: 14px;
    }

    .desktop-contacts a {
        font-size: 16px;
    }
}

/* for-big-desktop-up */
@media only screen and (min-width: 1800px) {}