{{ header }}

<main>
    <div class="main-products-block">
        <div class="main-bread-crumbs">
            <div class="main-bread-crumbs_wrapper">

                {% for breadcrumb in breadcrumbs %}

                    {% if (breadcrumbs|length== loop.index) %}
                        <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    {% else %}
                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
                    {% endif %}

                {% endfor %}

            </div>
        </div>
        <div class="main-list_brands">
            <div class="main-title">{{ heading_title }}</div>
            <div class="main-list_wrapper_brands">


                {% for category in categories %}

                    {% if category.manufacturer %}
                        {% for manufacturers in category.manufacturer|batch(4) %}

                            {% for manufacturer in manufacturers %}

                                <div class="main-list_item">
                                    <a href="{{ manufacturer.href }}">
                                        {% if manufacturer.image %}
                                            <div class="main-list_item_img_wrapper">
                                                <img src="{{ manufacturer.image }}" alt="">
                                            </div>
                                        {% endif %}
                                        <p>{{ manufacturer.name }}</p>
                                    </a>
                                </div>



                            {% endfor %}

                        {% endfor %}
                    {% endif %}
                {% endfor %}


            </div>
        </div>
    </div>
</main>


{{ footer }}