<div id="cart" class="desktop-middle-nav">


    <div id="profile-nav-item" class="desktop-middle-nav-item">
        {% if not logged %}

            <a href="javascript:void()" onCLick="openModal('popup-signin');">
                <img style="margin-bottom: 6px;" src="/catalog/view/theme/shlepki/img/icons/profile.svg" alt="">
                <span>{{ text_account }}</span>
            </a>
        {% else %}
            <a href="{{ account }}">
                <img style="margin-bottom: 6px;" src="/catalog/view/theme/shlepki/img/icons/profile.svg" alt="">
                <span>{{ text_account }}</span>
            </a>
            <div class="desktop-profile-pop-up">
                <a href="{{ account }}"><img src="/catalog/view/theme/shlepki/img/icons/profilePicBlue.svg" alt=""><span class="main-color-text">Личный данные</span></a>
                <a href="{{ wishlist }}"><img src="/catalog/view/theme/shlepki/img/icons/heartGrey.svg" alt=""><span>Избранное</span></a>
                <a href="{{ order }}"><img src="/catalog/view/theme/shlepki/img/icons/cartGrey.svg" alt=""><span>Мои заказы</span></a>
                <a href="{{ logout }}"><img src="/catalog/view/theme/shlepki/img/icons/quitRed.svg" alt=""><span
                            class="main-color-warning">Выйти</span></a>
            </div>


        {% endif %}
    </div>


    <!--<a href="{{ account }}" title="{{ text_account }}" id="profile" class="desktop-middle-nav-item toggle">
        <img src="/catalog/view/theme/shlepki/img/icons/profile.svg" alt="">
        {{ text_account }}
    </a>-->

    <!--<a href="" id="profile" class="desktop-middle-nav-item">
    <img src="/catalog/view/theme/{{ theme_path }}/img/icons/profile.svg" alt="">
    Профиль
  </a>-->
    <a class="desktop-middle-nav-item" href="{{ wishlist }}" title="{{ text_wishlist }}">
        <div class="wrapper_desktop-middle-nav-item">
            <img src="/catalog/view/theme/shlepki/img/icons/heart.svg" alt="">
            <div class="desktop-middle-nav-item_pop-num"  id="wishlist-total">{{ count_wishlist }}</div>
        </div>
        <p>{{ text_wishlist }}</p>
    </a>
    <!--<a href="" class="desktop-middle-nav-item">
    <img src="/catalog/view/theme/{{ theme_path }}/img/icons/heart.svg" alt="">
    <div class="desktop-middle-nav-item_pop-num">2</div>
    <p>Избранное</p>
  </a>-->

    <div id="cart-nav-item" class="desktop-middle-nav-item">
        <a href="/index.php?route=checkout/cart">
            <div class="wrapper_desktop-middle-nav-item">
            <img src="/catalog/view/theme/shlepki/img/icons/cartIcon.svg" alt="">
                {% if (text_items2 is defined) %}
                    <div id="cart-total2" class="desktop-middle-nav-item_pop-num">{{ text_items2 }}</div>
                {% endif %}
            </div>
            <p>{{ text_shopping_cart }}</p>
        </a>
        <div class="desktop-cart-pop-up">
            <div class="desktop-cart-pop-upwr">
                <div class="desktop-cart-pop-up_title">
                    <h3>{{ text_shopping_cart }}</h3>
                    <p>
                        <span>{{ counts }}</span>
                    </p>
                </div>
                <div class="desktop-cart-pop-up_cart-full-wrapper">
                    {% if (products) %}
                        <div class="desktop-cart-pop-up_cart-full">
                            <div class="desktop-cart-pop-up_list">


                                {% for product in products %}

                                    <div class="desktop-cart-pop-up_list-item">
                                        {% if (product['thumb']) %}
                                            <a href="{{ product['href'] }}">
                                                <img src="{{ product['thumb'] }}" alt="{{ product['name'] }}"
                                                     title="{{ product['name'] }}"
                                                     class="desktop-cart-pop-up_list-item_img"/>
                                            </a>
                                        {% endif %}

                                        <div class="desktop-cart-pop-up_list-item-text">
                                            <div class="desktop-cart-pop-up_list-item-text-title">{{ product['name'] }}</div>
                                            <div class="desktop-cart-pop-up_list-item-text-model">Модель:
                                                <span>{{ product['model'] }}</span></div>
                                            <div class="desktop-cart-pop-up_list-item-text_value">
                                                кол {{ product['quantity'] }}</div>
                                        </div>
                                        <div class="desktop-cart-pop-up_list-item_price">{{ product['total'] }}</div>
                                    </div>

                                {% endfor %}

                            </div>

                        </div>



                        <div class="desktop-cart-pop-up_final-price">
                            {% for total in totals %}
                                <p>{{ total['title'] }}: <span>{{ total['text'] }}</span></p>
                            {% endfor %}

                        </div>
                        <div class="desktop-cart-pop-up_wrapper_buttons">
                            <a class="desktop-cart-pop-up_link-cart desktop-cart-pop-up_link"
                               href="{{ cart }}">{{ text_cart }}</a>
                            <a class="desktop-cart-pop-up_link-order desktop-cart-pop-up_link"
                               href="{{ checkout }}">{{ text_checkout }} <i class="linearicons-arrow-right"></i></a>
                        </div>
                    {% else %}

                    {% endif %}
                </div>


                {% if (products==false) %}
                    <div class="desktop-cart-pop-up_cart-empty">
                        <img src="/catalog/view/theme/shlepki/img/icons/cartEmpty.svg" alt=""
                             class="desktop-cart-pop-up_cart-empty_image">
                        <div class="desktop-cart-pop-up_cart-empty_text">
                            <p>{{ text_empty }}
                                {#Ваша корзина пуста#}
                            </p>
                            <span>{{ text_empty_desc }}
                                </span>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>


    {#<a href="{{ cart }}" class="desktop-middle-nav-item">#}
    {#<img src="/catalog/view/theme/shlepki/img/icons/cartIcon.svg" alt="">#}
    {#{% if (text_items2 is defined) %}#}
    {#<div id="cart-total2" class="desktop-middle-nav-item_pop-num">{{ text_items2 }}</div>#}
    {#{% endif %}#}
    {#<p>Корзина</p>#}
    {#</a>#}
</div>


