

    <div class="main-pluses">
        <div class="main-pluses_item">
            <img class="main-pluses_icon" src="/catalog/view/theme/shlepki/img/icons/delivery-truck.svg">
            <div class="main-pluses-line main-pluses-line_1"></div>
            <div class="main-pluses-title">{{ text_besplatno_delivery }}</div>
        </div>
        <div class="main-pluses_item">
            <img class="main-pluses_icon" src="/catalog/view/theme/shlepki/img/icons/wallet.svg">
            <div class="main-pluses-line main-pluses-line_2"></div>
            <div class="main-pluses-title">{{ text_garanty }}</div>
        </div>
        <div class="main-pluses_item">
            <img class="main-pluses_icon" src="/catalog/view/theme/shlepki/img/icons/open-24-hours.svg">
            <div class="main-pluses-line main-pluses-line_3"></div>
            <div class="main-pluses-title">{{ text_support }}</div>
        </div>
    </div>
    <div class="main-navigation">
        <nav>
            <ul>
                {% for category in categories %}
                <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                {% endfor %}
                {#<li><a href="/index.php?route=product/special">Распродажа</a></li>#}
                {#<li><a href="/index.php?route=product/latest">Новинки</a></li>#}
                {#<li><a href="/index.php?route=product/category&path=184">Женская</a></li>#}
                {#<li><a href="/index.php?route=product/category&path=189">Мужская</a></li>#}
                {#<li><a href="/index.php?route=product/category&path=186">Детская</a></li>#}
                {#<li><a href="/index.php?route=product/category&path=256">Украинская обувь</a></li>#}
                {#<li><a href="/index.php?route=product/manufacturer">Бренды</a></li>#}
            </ul>
        </nav>
    </div>

