{% set build_version = '79142359499' %}
<!-- FOOTER -->
<footer>
	<div class="footer-wrapper">
		<div class="footer-nav-list">
			<div class="footer-nav-list_item">
                {% if footer_1 %}
                    {{footer_1}}
                {% endif %}
			</div>
			<div class="footer-nav-list_item">
                {% if footer_2 %}
                    {{footer_2}}
                {% endif %}

				<!---->
			</div>
			<div class="footer-nav-list_item">
                {% if footer_3 %}
                    {{footer_3}}
                {% endif %}
			</div>
			<div class="footer-sign-up">
                {% if footer_4 %}
                    {{footer_4}}
                {% endif %}

			</div>
		</div>
		<!-- FOOTER FORM -->
	</div>
	<div class="footer-payments">
		<a href="/">
			<img src="/catalog/view/theme/{{ theme_path }}/img/icons/logo_footer.svg" alt="">
		</a>
		<div class="footer-payments_wrapper">
			<p>Мы принимаем</p>
			<img src="/catalog/view/theme/{{ theme_path }}/img/icons/visa.svg" alt="">
			<img src="/catalog/view/theme/{{ theme_path }}/img/icons/mastercard.svg" alt="">
			<img src="/catalog/view/theme/{{ theme_path }}/img/icons/maestro.svg" alt="">
			<img src="/catalog/view/theme/{{ theme_path }}/img/icons/paypal.svg" alt="">
		</div>
	</div>



    {% if logged %}
    {% else %}


	<div class="popup popup-signin">
		<div class="popup__wrap">
			<div class="popup__close">
				<i class="i-close"></i>
			</div>
			<div class="popup__title">
				<p>Вход</p>
			</div>
			<div class="popup__content">
				<form action="{{ action_login }}" method="post" enctype="multipart/form-data">
					<div class="wrap__row">
						<div class="wrap">
							<p>Email</p>
							<input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" />
							{#<input type="email" placeholder="Введиете ваш Email">#}
						</div>
					</div>
					<div class="wrap__row">
						<div class="wrap">
							<p>Пароль</p>
							<input type="password" name="password" value="" placeholder="{{ entry_your_password }}" id="input-password" class="form-control" />


							{#<input type="password" placeholder="Введиете ваш пароль">#}
						</div>
						<div class="forgot-pass">
							<a href="javascript:void(0)" onCLick="openModal('popup-change-pass');">{{ text_forgotten }}</a>
							{#<p>забыли пароль?</p>#}

                            {#{{ forgotten }}#}
						</div>
					</div>
					<div class="account-edit_form_footer">

						<a class="canceling" href="{{ register }}">Зарегистрироватся</a>
						<input type="submit" value="{{ button_login }}" class="btn btn-primary" />
						{#<input type="submit" value="Войти">#}
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="popup popup-change-pass">
		<div class="popup__wrap">
			<div class="popup__close">
				<i class="i-close"></i>
			</div>
			<div class="popup__title">
				<p>Забыли пароль</p>
			</div>
			<div class="popup__subtitle">
				<p>Пожалуйста укажите email.
					Мы вышлем ссылку для востановления пароля.</p>
			</div>
			<div class="popup__content">
				<form action="{{ action_forgotten}}" method="post" enctype="multipart/form-data" >
					<div class="wrap__row">
						<div class="wrap">
							<p>{{ text_your_email }}</p>
							<input type="text" name="email" value="" placeholder="{{ entry_email }}"  />

							{#<input type="email" placeholder="Введиете ваш Email">#}
						</div>
					</div>
					<div class="account-edit_form_footer">
						<input type="submit" value="{{ button_continue }}" />
						{#<input type="submit" value="Отправить">#}
					</div>
				</form>
			</div>
		</div>
	</div>

    {% endif %}


</footer>
</div>

<script src="/catalog/view/javascript/bootstrap/js/bootstrap.min.js?v={{build_version}}" type="text/javascript"></script>
<script src="/catalog/view/javascript/ocfilter/ocfilter.js?v={{build_version}}" type="text/javascript"></script>

{% for script in scripts %}
	<script src="{{ script }}?v={{build_version}}" type="text/javascript"></script>
{% endfor %}

<script src="/catalog/view/theme/{{ theme_path }}/js/common.js?v={{build_version}}" type="text/javascript"></script>
{#<script src="/catalog/view/theme/{{ theme_path }}/js/script.js" type="text/javascript"></script>#}

<script src="/catalog/view/theme/{{ theme_path }}/inc/modernizr.js?v={{build_version}}"></script> <!-- Modernizr -->
<script src="/catalog/view/theme/{{ theme_path }}/inc/jquery.mobile.custom.min.js?v={{build_version}}"></script>
<script src="/catalog/view/theme/{{ theme_path }}/inc/snap.svg-min.js?v={{build_version}}"></script>
<script src="/catalog/view/theme/{{ theme_path }}/inc/main.js?v={{build_version}}"></script> <!-- Resource jQuery -->
<script src="/catalog/view/theme/{{ theme_path }}/js/custom.js?v={{build_version}}"></script>

</body>
</html>