<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
{% if page_direction == 'rtl' %}
	{% set direction = 'rtl'%}
{% endif %}
<html dir="{{ direction }}" lang="{{ lang }}" class="{{ responsive ? mobile-responsive-off : '' }}">
<!--<![endif]-->
<head>

{% set build_version = '99142359406' %}
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<base href="{{ base }}" />
    {% if noindex %}
		<!-- OCFilter Start -->
		<meta name="robots" content="noindex,nofollow" />
		<!-- OCFilter End -->
    {% endif %}


    {% if description %}
		<meta name="description" content="{{ description }}" />
	{% endif %}



	{% for meta in add_this_meta %}
		<meta property="og:{{ meta.property }}" content="{{ meta.content }}" />
	{% endfor %}


	<link rel="apple-touch-icon" href="apple-touch-icon.png">



    <link href="/catalog/view/theme/{{theme_path}}/application.css?v={{build_version}}" rel="stylesheet" />
	<link href="/catalog/view/theme/{{theme_path}}/custom.css?v={{build_version}}" rel="stylesheet" />

<!--
	{# fonts #}
	<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css?v={{build_version}}" rel="stylesheet" type="text/css" />
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/material-design.css?v={{build_version}}" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/linearicons.css?v={{build_version}}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	{# end fonts #}

	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css?v={{build_version}}" rel="stylesheet" media="screen" />
	{# styles #}
	<link href="catalog/view/theme/{{theme_path}}/stylesheet/photoswipe.css?v={{build_version}}" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/stylesheet.css?v={{build_version}}" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/js/fancybox/jquery.fancybox.css?v={{build_version}}" rel="stylesheet">
	{# end styles #}
	{# rtl #}
	{% if direction == 'rtl' %}
		<link href="catalog/view/theme/{{ theme_path }}/stylesheet/bootstrap-rtl.css?v={{build_version}}" rel="stylesheet">
	{% endif %}
	{# end rtl #}


	<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

	{% for script in scripts %}
		<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}
	-->

    {% if color_scheme_link %}
		<link id="color_scheme" href="{{color_scheme_link}}" rel="stylesheet">
    {% endif %}
    {% for link in links %}
		<link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}


    {% for style in styles %}
		<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}

    {% for analytic in analytics %}
		{{ analytic }}
	{% endfor %}

	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />

	<link rel="alternate" href="{{ current_url_ua }}" hreflang="uk-UA" />
	<link rel="alternate" href="{{ current_url_ru }}" hreflang="ru-UA" />

	<script src="/catalog/view/theme/{{theme_path}}/js/vendor.js?v={{build_version}}"></script>
	<script src="/catalog/view/theme/{{theme_path}}/js/application.js?v={{build_version}}"></script>
	<script src="/catalog/view/theme/{{theme_path}}/js/jquery.lazyload.js?v={{build_version}}"></script>


</head>
<body>
<style>

	.loader {
		background:#fff url(/catalog/view/theme/shlepki/img/Spinner.gif) no-repeat center center;
		text-align:center;
		margin:0px auto;
		opacity:0.5;
	}

</style>
{#<div class="loader">#}
	{#<img class=""src="/catalog/view/theme/shlepki/img/Spinner.gif"/>#}
{#</div>#}
<div class="wrapperBlock">
	<!-- HEADER -->
	<header>
		<!-- MOBILE -->
		<div class="mobile-header">
			<!-- NAVIGATION -->
			<nav>
				<ul>
					<li id="open_mobile-menu">
						<div><img src="/catalog/view/theme/{{ theme_path }}/img/icons/burger_menu.svg" alt=""></div>
					</li>
					<li id="list_phone-numbers">
						<div><img src="/catalog/view/theme/{{ theme_path }}/img/icons/phone.svg" alt=""></div>
					</li>
					<li>
						<a href="/"><img src="/catalog/view/theme/{{ theme_path }}/img/icons/logo.svg" alt=""></a>
					</li>
					<li id="search-mobile">
						<div><img src="/catalog/view/theme/{{ theme_path }}/img/icons/search.svg" alt=""></div>
					</li>
					<li>
						<div>
							<a href="{{ carturl }}">
								<img style="width: 30px;height: 30px;" src="/catalog/view/theme/{{ theme_path }}/img/icons/cart.svg" alt="">
								<div class="mobile-menu_counter">{{ counts_cart }}</div>
							</a>
							</div>
					</li>
				</ul>
			</nav>
			<style>
				.mobile-header nav .mobile-menu_counter{
					width: 17px;
					height: 17px;
					font-size: 14px;
					position: absolute;
					top: 30px;
				}
			</style>
			<!-- MOBILE MENU -->
			<div class="mobile-menu mobile-menu_logged mobile-menu_unactive">
				<div class="mobile-menu_lang">

					{{ language_mob }}

					<img id="close-mobile-menu" src="/catalog/view/theme/{{ theme_path }}/img/icons/crossWhite.svg" alt="">
				</div>
				<div class="mobile-menu_with_icons">
					<ul>
						<li>
							<a href="{{ carturl }}">
								<img src="/catalog/view/theme/{{ theme_path }}/img/icons/cartIcon.svg" alt="">
								<p>Корзина</p>
								<div class="mobile-menu_counter">{{ counts_cart }}</div>
							</a>
						</li>
						<li>
                            {% if not logged %}

								<a class="mobile-menu_profile_logged"  href="javascript:void()" onCLick="openModal('popup-signin');">
									<img src="/catalog/view/theme/{{ theme_path }}/img/icons/profile.svg" alt="">
									<p>{{ text_account }}</p>
								</a>

                            {% else %}
								<a class="mobile-menu_profile_logged"  href="{{ account }}" >
									<img src="/catalog/view/theme/{{ theme_path }}/img/icons/profile.svg" alt="">
									<p>{{ text_account }}</p>
								</a>
                            {% endif %}

						</li>
						<li>
							<a  href="{{ wishlist }}" id="wishlist-total-m" title="{{ text_wishlist }}">
								<img src="/catalog/view/theme/shlepki/img/icons/heart.svg" alt="">
								<p class="wishlist-total-mobile">{{ text_wishlist }} (<span id="wishlist-total-mobile">{{ count_wishlist }}</span>)</p>
							</a>

						</li>
						<li>
							<a href="{{ order }}">
								<img src="/catalog/view/theme/{{ theme_path }}/img/icons/confirmOrder.svg" alt="">
								<p>Мои заказы</p>
							</a>
						</li>
						{#<li>#}
							{#<a href="/">#}
								{#<img src="/catalog/view/theme/{{ theme_path }}/img/icons/eye.svg" alt="">#}
								{#<p>Просмотренные товары</p>#}
							{#</a>#}
						{#</li>#}
					</ul>
				</div>
				<div class="mobile-menu-nav">
                    {{ mobile_nav }}
				</div>
				<div class="mobile-menu-phones">
					<div class="mobile-menu_phone-icon">
						<img src="/catalog/view/theme/{{ theme_path }}/img/icons/phoneBG.svg" alt="">
					</div>
					<div class="mobile-menu_phone-list">
						<a href="tel:{{ phone1 }}">{{ phone1 }}</a><!--+38 050 786 99 84-->
						<a href="tel:{{ phone2 }}">{{ phone2 }}</a><!--+38 050 343 34 24-->
						<a href="tel:{{ phone3 }}">{{ phone3 }}</a><!--+38 050 756 90 00-->
						<p><img src="/catalog/view/theme/{{ theme_path }}/img/icons/clock.svg" alt="">{{ config_open }}</p><!--ПН-ВС с 10:00 до 19:00-->
					</div>
				</div>
				<div class="mobile-menu-bottom-nav">
					<ul>
						<li><a href="/about">О нас</a></li>
						<li><a href="/contact">Контакты</a></li>
						<li><a href="/delivery">Информация</a></li>
					</ul>
				</div>
			</div>
			<!-- PHONE NUMBERS -->
			<div class="mobile-header_phone-numbers_wrapper">
				<div class="mobile-header_phone-numbers">
					<div class="mobile-header_phone-numbers_cross-btn">
						<img src="/catalog/view/theme/{{ theme_path }}/img/icons/cross.svg" alt="">
					</div>
					<img src="/catalog/view/theme/{{ theme_path }}/img/icons/phone.svg" alt="">
					<div class="mobile-header_phone-numbers-list">
						<a href="tel:{{ phone1 }}">{{ phone1 }}</a>
						<a href="tel:{{ phone2 }}">{{ phone2 }}</a>
						<a href="tel:{{ phone3 }}">{{ phone3 }}</a>
					</div>
					<p><img src="/catalog/view/theme/{{ theme_path }}/img/icons/clock.svg" alt="">{{ config_open }}</p>
				</div>
			</div>
		</div>


		<!-- SEARCH MOBILE -->
		<div class="mobile-header_search_wrapper">
            {{ mobile_search }}
		</div>


		<!-- DESKTOP -->
		<div class="desktop-header">
			<div class="desktop-top-header">
				<div class="containerBlock">
                    {{ header_nav }}
				</div>
			</div>

			<div class="desktop-middle-header">
				<div class="containerBlock">
                    {{ header_top }}
				</div>
			</div>
			<div class="desktop-main-header">
                {% if navigation %}
					{{ navigation }}
                {% endif %}
			</div>
		</div>
	</header>