{{ header }}

	<!-- MAIN -->
	<main class="page-home">

		<div class="main-catalog">
			<div class="containerBlock">
				<div class="main-catalog_list">
                    {% if meta_h1 %}
						<h1 class="main-description_title" style="    width: 1180px;">{{ meta_h1 }}</h1>
                    {% endif %}
                    {% if top %}
                        {{ top }}
                    {% endif %}

                    {% if mobile_banner %}
                        {{ mobile_banner }}
                    {% endif %}


				</div>
			</div>


            {% if desctop_banner %}
				<!-- DESKTOP -->
					{{ desctop_banner }}
            {% endif %}


            {% if desctop_brands %}
                {{ desctop_brands }}
            {% endif %}


            {% if list_manufacturers %}
                {{ list_manufacturers }}
            {% endif %}

		</div>

        {{ content_top }}

        {{ content_bottom }}

		<div class="main-products">
        {{ content_adventure }}
		</div>

		<div class="main-description">
            {{ home_text }}
		</div>

	</main>


	{#
	{% if column_left and column_right %}
		{%set class = 'col-sm-6' %}
	{% elseif column_left or column_right %}
		{%set class = 'col-sm-9' %}
	{% else %}
		{%set class = 'col-sm-12' %}
	{% endif %}
	<div id="content" class="{{ class }}">
		{{ content_top }}{{ content_bottom }}
	</div>
	{{ column_right }}

	#}

{% if bottom %}
	<section class="bottom">{{ bottom }}</section>
{% endif %}
{{ footer }}
