{% if languages|length > 1 %}

    <div class="wrapperBlock-lang">

        {#<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language-mob">#}

        {% for language in languages %}

            {% if language.code == code %}
                <a href="javascript:void(0);" class="language-select active-lang" name="{{ language.code }}" >{{ language.name }} </a>

            {% else %}
                <a class="language-select"
                   href="{{ language.url }}" data-lang="{{ language.code }}">
                    {{ language.name }}
                </a>

            {% endif %}
            <!--РУС-->

        {% endfor %}

            {#{% for language in languages %}#}
                {#{% if language.code == code %}#}
                    {#<button type="button" class="language-select active-lang" name="{{ language.code }}">{{ language.name }} </button>#}
                {#{% else %}#}
                    {#<button type="button" class="language-select" name="{{ language.code }}">{{ language.name }}</button>#}
                {#{% endif %}#}
                {##}
            {#{% endfor %}#}
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="url" value="{{ url }}" />
        <input type="hidden" name="route" value="{{ route }}" />
        <input type="hidden" name="redirect" value="{{ redirect }}" />
        {#</form>#}
    </div>

    {#<div class="wrapperBlock-lang">#}
        {##}

        {#<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">#}


            {#{% for language in languages %}#}

                {#{% if language.code == code %}#}
                    {#<button type="button" class="language-select active-lang"#}
                            {#name="{{ language.code }}">{{ language.name }} </button>#}
                {#{% else %}#}
                    {#<button type="button" class="language-select"#}
                            {#name="{{ language.code }}">{{ language.name }}</button>#}
                {#{% endif %}#}
                {#<!--РУС-->#}

            {#{% endfor %}#}
            {#<input type="hidden" name="code" value=""/>#}
            {#<input type="hidden" name="redirect" value="{{ redirect }}"/>#}

        {#</form>#}
    {#</div>#}

{% endif %}
