{% if languages|length > 1 %}
  <div class="wrapperBlock-lang">

      {#<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">#}


                  {% for language in languages %}

                      {% if language.code == code %}
                          <a href="javascript:void(0);" class="language-select active-lang" name="{{ language.code }}" >{{ language.name }} </a>

                      {% else %}
                          <a class="language-select"
                             href="{{ language.url }}" data-lang="{{ language.code }}">
                              {{ language.name }}
                          </a>
                            {#<button type="button" class="language-select" name="{{ language.code }}">{{ language.name }}</button>#}
                      {% endif %}
                      <!--РУС-->

                  {% endfor %}

          <input type="hidden" name="code" value="" />
          <input type="hidden" name="url" value="{{ url }}" />
          <input type="hidden" name="route" value="{{ route }}" />
          <input type="hidden" name="redirect" value="{{ redirect }}" />
      {#</form>#}
  </div>

{% endif %}


{#{% if languages|length > 1 %}#}
    {#<div class="wrapperBlock-lang">#}
        {#<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">#}
            {#{% for language in languages %}#}
                {#{% if language.code == code %}#}
                    {#<div class="lang__current">{{ language.code_name }}</div>#}
                {#{% endif %}#}
            {#{% endfor %}#}
            {#<div class="lang__select">#}
                {#{% for language in languages %}#}
                    {#<a class="lang__link {% if language.code == code %}lang__link--active{% endif %}"#}
                       {#href="{{ language.url }}" data-lang="{{ language.code }}">#}
                        {#{{ language.code_name }}#}
                    {#</a>#}
                {#{% endfor %}#}
            {#</div>#}
            {##}
            {#<input type="hidden" name="code" value="" />#}
            {#<input type="hidden" name="url" value="{{ url }}" />#}
            {#<input type="hidden" name="route" value="{{ route }}" />#}
            {#<input type="hidden" name="redirect" value="{{ redirect }}" />#}
        {#</form>#}
    {#</div>#}
{#{% endif %}#}
