

<ul>
    <li class="nav-attention" >
        <a href="/index.php?route=product/special">Распродажа</a></li>
    <li><a href="/index.php?route=product/latest">Новинки</a></li>

    {% for category in categories %}

        <li  class="{% if category.children|length %}nav-to-list{% endif %}">
            <a href="{{ category.href }}">{{ category.name }}
                {% if category.children|length %}
                <img src="/catalog/view/theme/shlepki/img/icons/arrowHorizontal.svg" alt="">
                {% endif %}
            </a>

            {% if category.children|length %}

                <div class="mobile-catalog-popup">
                    <div class="mobile-catalog-popup_header">
                        <div class="mobile-catalog-popup_header_arrow">
                            <img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt="">
                        </div>
                        <div class="mobile-catalog-popup_header_text">
                            {{ category.name }}
                        </div>
                    </div>
                    <div class="mobile-catalog-popup_body">
                        <div class="mobile-catalog-popup_body_list">

                            {% for child in category.children %}

                                <div class="mobile-catalog-popup_body_list_item">
                                    <a href="{{ child.href }}">
                                        {{ child.name }}
                                    </a>
                                </div>
                            {% endfor %}

                            {#<div class="mobile-catalog-popup_body_list_item">#}
                                {#<a href="#">#}
                                    {#Мокасины#}
                                {#</a>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>






            {% endif %}
        </li>
        {#/index.php?route=product/category&path=184#}
    {% endfor %}
    {#<li><a href="/index.php?route=product/category&path=189">Мужская <img src="/catalog/view/theme/{{ theme_path }}/img/icons/arrowHorizontal.svg" alt=""></a></li>#}
    {#<li><a href="/index.php?route=product/category&path=186">Детская <img src="/catalog/view/theme/{{ theme_path }}/img/icons/arrowHorizontal.svg" alt=""></a></li>#}
    {#<li><a href="/index.php?route=product/category&path=256">Украинская обувь</a></li>#}
    <li><a href="/index.php?route=product/manufacturer">Бренды</a></li>
</ul>