<div class="mobile-header_search">
				<!-- INPUT index.php?route=product/search-->

	<form action="/search" id="searchingMobileForm" method="get">

		<input type="text" name="search" id="searchingMobileField" value="{{ search }}" placeholder="{{ text_search }}" />
		<img id="abort-input" src="/catalog/view/theme/shlepki/img/icons/cross.svg" alt="">
		<!-- RESULT -->
		<div class="mobile-header_search_list" style="display:none;"></div>
		<button type="submit" style="display:none;" id="button-search-searcher"><img src="/catalog/view/theme/shlepki/img/icons/search.svg" alt=""></button>

	</form>
	{#<div class="desktop-search-result" style="display:none;">#}
	{#</div>#}



</div>