<!-- DESKTOP SEARCHER index.php?route=product/search-->
<div class="desktop-searcher">
  <form action="/search" id="searchingForm" method="get">
    <label for="searchingField" class="desktop-searcher-wrapperBlock">
      <input type="text" name="search" id="searchingField" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
      <button type="submit"  id="button-search-searcher"><img src="/catalog/view/theme/shlepki/img/icons/search.svg" alt=""></button>
    </label>
  </form>
  <div class="desktop-search-result" style="display:none;">
  </div>
</div>

<script type="text/javascript"><!--
  $(document).ready(function(){
    $('#searchingForm').on('submit', function() {
        url = '/search';//index.php?route=product/search';

        var search = $('#searchingField').prop('value');

        if (search) {
            url += '?search=' + encodeURIComponent(search);
        }



        location = url;
        return false;
    });

      $('#searchingMobileForm').on('submit', function() {
          url = '/search';//index.php?route=product/search';

          var search = $('#searchingMobileField').prop('value');

          if (search) {
              url += '?search=' + encodeURIComponent(search);
          }

          location = url;
          return false;
      });
  });


    --></script>

