{{ header }}


<main>
    <div class="message-page" style="height:auto;">
        <img class="message-page_lil-icon" src="/catalog/view/theme/shlepki/img/icons/order.svg" alt="">

        {% if order_id %}
        <h2>Спасибо, Ваш заказ <span>№{{ order_id }}</span> принят!</h2>
        <p>Наши менеджеры в ближайшее время свяжуться с вами</p>
        <a class="btn-animate" href="/">Перейти на главную</a>
        {% else %}
        {{ text_message }}
        {% endif %}


    </div>

</main>

{#<div id="common-success" class="container">#}
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}#}
      {#<h1>{{ heading_title }}</h1>#}
      {#{{ text_message }}#}
      {#<div class="buttons">#}
        {#<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>#}
      {#</div>#}
      {#{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}
{{ footer }}