{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-on-page" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-on-page" class="form-horizontal">
          <input type="hidden" name="seo_url_id" value="{{ seo_url_id }}" />
          <input type="hidden" name="category_id" value="{{ category_id }}" /
          <input type="hidden" name="store_id" value="{{ store_id }}" />
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-seo-url">{{ entry_seo_url }}</label>
            <div class="col-sm-10">
              <input type="text" name="seo_url" value="{{ seo_url }}" placeholder="{{ entry_seo_url }}" id="input-seo-url" class="form-control" />
              {% if error_seo_url %}
                <div class="text-danger">{{ error_seo_url }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-head">{{ entry_head }}</label>
            <div class="col-sm-10">
              <textarea rows="5" name="head" id="input-head" class="form-control">{{ head }}</textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                  <li class="{% if loop.index == 1 %}active{% endif %}"><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                  <div class="tab-pane{% if loop.index == 1 %} active {% endif %}" id="language{{ language.language_id }}">
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-heading{{ language.language_id }}">{{ entry_heading }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="on_page_text[{{ language.language_id }}][heading]" value="{{ on_page_text[language.language_id] ? on_page_text[language.language_id].heading }}" placeholder="{{ entry_heading }}" id="input-heading{{ language.language_id }}" class="form-control" />
                        {% if error_heading[language.language_id] %}
                          <div class="text-danger">{{ error_heading[language.language_id] }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-seo-text{{ language.language_id }}">{{ entry_seo_text }}</label>
                      <div class="col-sm-10">
                        <textarea name="on_page_text[{{ language.language_id }}][seo_text]" placeholder="{{ entry_seo_text }}" id="input-seo-text{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ on_page_text[language.language_id] ? on_page_text[language.language_id].seo_text }}</textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-short_description{{ language.language_id }}">short description</label>
                      <div class="col-sm-10">
                        <textarea name="on_page_text[{{ language.language_id }}][short_description]" placeholder="short description" id="input-short_description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ on_page_text[language.language_id] ? on_page_text[language.language_id].short_description }}</textarea>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="on_page_text[{{ language.language_id }}][meta_title]" value="{{ on_page_text[language.language_id] ? on_page_text[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                        {% if error_meta_title[language.language_id] %}
                        <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                      <div class="col-sm-10">
                        <textarea name="on_page_text[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ on_page_text[language.language_id] ? on_page_text[language.language_id].meta_description }}</textarea>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>

  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"><!--
  $('input[name=\'seo_url\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=design/seo_url/autocomplete&user_token={{ user_token }}&filter_keyword=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          json.unshift({
            seo_url_id: 0,
            store_id: 0,
            store: false,
            keyword: '{{ text_none }}'
          });
          response($.map(json, function(item) {
            return {
              label: (item['category']? item['category']+' => ':'')+item['keyword']+(item['store']?' ['+item['store']+']':''),
              keyword: item['keyword'],
              value: item['category_id'] + item['seo_url_id'],
              store_id: item['store_id'],
              seo_url_id: item['seo_url_id'],
              category_id: item['category_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'seo_url\']').val(item['label']);
      $('input[name=\'seo_url_id\']').val(item['seo_url_id']);
      $('input[name=\'category_id\']').val(item['category_id']);
      $('input[name=\'store_id\']').val(item['store_id']);
    }
  });
  //--></script>
</div>
{{ footer }}
