{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-redirect" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-redirect" class="form-horizontal">
          <input type="hidden" name="seo_url_id" value="{{ seo_url_id }}" />
          <input type="hidden" name="store_id" value="{{ store_id }}" />
          <input type="hidden" name="code" value="{{ code }}" />
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-seo-url">{{ entry_seo_url }}</label>
            <div class="col-sm-10">
              <input type="text" name="seo_url" value="{{ seo_url }}" placeholder="{{ entry_seo_url }}" id="input-seo-url" class="form-control" />
              {% if error_seo_url %}
                <div class="text-danger">{{ error_seo_url }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-ещ">{{ entry_to }}</label>
            <div class="col-sm-10">
              <input type="text" name="to" value="{{ to }}" placeholder="{{ entry_to }}" id="input-to" class="form-control" />
              {% if error_to %}
                <div class="text-danger">{{ error_to }}</div>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>

  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"><!--
  $('input[name=\'seo_url\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=design/seo_url/autocomplete&user_token={{ user_token }}&filter_keyword=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          json.unshift({
            seo_url_id: 0,
            store_id: 0,
            store: false,
            keyword: '{{ text_none }}'
          });
          response($.map(json, function(item) {
            return {
              label: item['keyword']+(item['store']?' ['+item['store']+']':''),
              keyword: item['keyword'],
              value: item['seo_url_id'],
              store_id: item['store_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'seo_url\']').val(item['label']);
      $('input[name=\'seo_url_id\']').val(item['value']);
      $('input[name=\'store_id\']').val(item['store_id']);
    }
  });
  //--></script>
</div>
{{ footer }}
