{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
          <button type="button" id="button-filter-reset" class="btn btn-warning"><i class="fa fa-refresh"></i></button>
        </div>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="submit" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" form="form-redirect" formaction="{{ delete }}" onclick="confirm('{{ text_confirm }}') ? true : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data" id="form-redirect">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td>
                    {% if sort == 'store' %}
                      <a href="{{ sort_store }}" class="{{ order|lower }}">{{ column_store }}</a>
                    {% else %}
                      <a href="{{ sort_store }}">{{ column_store }}</a>
                    {% endif %}
                  </td>
                  <td>
                    <div>
                      {% if sort == 'seo_url_id' %}
                        <a href="{{ sort_seo_url_id }}" class="{{ order|lower }}">{{ column_seo_url }}</a>
                      {% else %}
                        <a href="{{ sort_seo_url_id }}">{{ column_seo_url }}</a>
                      {% endif %}
                    </div>
                    <input type="text" name="filter_keyword" value="{{ filter_keyword }}" id="input-seo-url" class="form-control filter-input" autocomplete="off">
                  </td>
                  <td>
                    <div>
                      {% if sort == 'to' %}
                        <a href="{{ sort_to }}" class="{{ order|lower }}">{{ column_to }}</a>
                      {% else %}
                        <a href="{{ sort_to }}">{{ column_to }}</a>
                      {% endif %}
                    </div>
                    <input type="text" name="filter_to" value="{{ filter_to }}" id="input-to" class="form-control filter-input" autocomplete="off">
                  </td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if redirects %}
                {% for redirect in redirects %}
                <tr>
                  <td class="text-center">
                    {% if redirect.seo_redirect_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ redirect.seo_redirect_id }}" checked="checked" />
                    {% else %}
                      <input type="checkbox" name="selected[]" value="{{ redirect.seo_redirect_id }}" />
                    {% endif %}
                  </td>
                  <td>{{ redirect.store }}</td>
                  <td>{{ redirect.seo_url }}</td>
                  <td>{{ redirect.to }}</td>
                  <td class="text-right"><a href="{{ redirect.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="5">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
    $('.filter-input').keypress(function (e) {
      if (e.which == 13) {
        e.preventDefault();
        $('#button-filter').trigger('click');
      }
    });
    $('#button-filter-reset').on('click', function() {
      location = 'index.php?route=seo/redirect&user_token={{ user_token }}';
    });
    $('#button-filter').on('click', function() {
      var url = '';
      var filter_keyword = $('input[name=\'filter_keyword\']').val();
      if (filter_keyword) {
        url += '&filter_keyword=' + encodeURIComponent(filter_keyword);
      }
      var filter_to = $('input[name=\'filter_to\']').val();
      if (filter_to) {
        url += '&filter_to=' + encodeURIComponent(filter_to);
      }
      location = 'index.php?route=seo/redirect&user_token={{ user_token }}'+url;
    });
  </script>
</div>
{{ footer }}
