{{ header }}


<main class="page-category">
    <div class="main-products">
        <div class="main-bread-crumbs">
            <div class="main-bread-crumbs_wrapper">
                {% for breadcrumb in breadcrumbs %}
                    {% if (breadcrumbs|length== loop.index) %}
                        <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    {% else %}
                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="main-title">
            <div class="main-title_wrapper">
                <h1>{{ heading_title }}</h1>
                <div class="main-title_control_wrapper">
                    <div class="a-dropdown">

                        <!--<label class="input-group-addon" for="input-sort">{{ text_sort }}</label>-->
                        <select name="dropdown" id="dropdown" class="a-dropdown__select"
                                onchange="location = this.value;">
                            {% for sorts in sorts %}
                                {% if sorts.value == '%s-%s'|format(sort, order) %}
                                    <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                {% else %}
                                    <option value="{{ sorts.href }}">{{ sorts.text }}</option>

                                {% endif %}
                            {% endfor %}
                        </select>
                        <svg class="dropdown-icon" width="13" height="6" viewBox="0 0 13 6" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z"
                                  fill="black"/>
                        </svg>
                    </div>
                    <div class="select_counter">Позиций на странице</div>
                    <div class="a-dropdown">
                        <select name="dropdown" id="dropdown" class="a-dropdown__select"
                                onchange="location = this.value;">
                            {% for limits in limits %}
                                {% if limits.value == limit %}
                                    <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                {% else %}
                                    <option value="{{ limits.href }}">{{ limits.text }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <svg class="dropdown-icon" width="13" height="6" viewBox="0 0 13 6" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z"
                                  fill="black"/>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- MOBILE FILTER -->
            <div class="filter-mobile-wrapper">
                <!-- BUTTON FILTER FOR MOBILE -->
                <button class="filter-mobile"><img src="/catalog/view/theme/shlepki/img/icons/filterIcon.svg" alt="">
                    Фильтр
                </button>
                <!-- BUTTON SORT PRODUCTS FOR MOBILE -->
                <div class="a-dropdown">
                    <select name="dropdown" id="dropdown" class="a-dropdown__select" onchange="location = this.value;">
                        {% for sorts in sorts %}
                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                            {% else %}
                                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>


        <div class="main-katalog-wrapper">

            {{ column_left }}

            <div class="main-product-list-right">

                {% if short_description %}
                    <div class="main-description">
                        {{ short_description }}
                    </div>
                {% endif %}
                <!-- CARDS PRODUCT LIST -->
                <div class="main-product-list" data-catalog="items">


                    {% for product in products %}

                        <!-- CARD PRODUCT -->
                        <div class="main-product-list_item">


                            <a href="javascript:void(0);" onclick="wishlist.add('{{ product.product_id }}');">
                                {% if product.wishlist %}

                                    <img class="product-favorite" data-product_id="{{ product.product_id }}"
                                         src="/catalog/view/theme/shlepki/img/icons/blueHeart.svg" alt="">

                                {% else %}
                                    <img class="product-favorite" data-product_id="{{ product.product_id }}"
                                         src="/catalog/view/theme/shlepki/img/icons/greyHeart.svg" alt="">

                                {% endif %}

                            </a>

                            <a href="{{ product.href }}" class="preview-product"><img class="lazyload"
                                                                                      data-src="{{ product.thumb }}"
                                                                                      alt="{{ product.name }}"></a>
                            <div class="product-model-wraaper">
                                <p class="product-title"><a href="{{ product.href }}">{{ product.name }}</a></p>
                                <p class="product-model">Модель: {{ product.model }}</p>
                            </div>
                            <p class="product-value">{{ text_par_in_box }} ({{ product.par_in_box }})</p>
                            <div class="product-list-prices">
                                <!--<div class="product-list-prices_item">
                                  <span>Цена за ящик</span>
                                  <p>480.00 ₴  </p>
                                </div>
                                -->
                                {% if product.price %}
                                    <div class="product-list-prices_item">
                                        <span>{{ text_price_box_one }}</span>
                                        {% if not product.special %}
                                            <p>{{ product.price_item }}  </p>
                                        {% else %}
                                            <p class="sale">{{ product.price_item }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="product-list-prices_item">
                                        <span>{{ text_price_box }}</span>
                                        {% if not product.special %}
                                            <p>{{ product.price }}  </p>
                                        {% else %}
                                            <p class="sale">{{ product.special }}  </p>
                                        {% endif %}
                                    </div>
                                {% endif %}

                            </div>
                            <a href="javascript:void(0)"
                               onClick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');return false;"
                               class="product-button-cart">
                                {{ text_in_cart }}
                                <img src="/catalog/view/theme/shlepki/img/icons/whiteCart.svg" alt=""/>
                            </a>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>

        {#<div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
        #}

        <div class="show_more_products_wrapper">
            {% if pagination and not last_page %}
                <a href="javascript:void(0)" data-href="{{ next_page }}" class="main-new_link show_more_products">Посмотреть
                    ещё</a>
            {% endif %}
        </div>

        {{ pagination }}

        {{ content_adventure }}
    </div>

    {% if description %}
        <div class="main-description">

            {#{% if heading_title %}#}
            {#<h2 class="main-description_title">{{ heading_title }}</h2>#}
            {#{% endif %}#}


            <p>{{ description }}</p>
            <div class="main-description-hider">
                <button>
                    <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.146447 0.146447C0.320013 -0.0271197 0.589437 -0.0464049 0.784306 0.0885912L0.853553 0.146447L4.5 3.793L8.14645 0.146447C8.32001 -0.0271197 8.58944 -0.0464049 8.78431 0.0885912L8.85355 0.146447C9.02712 0.320013 9.0464 0.589437 8.91141 0.784306L8.85355 0.853553L4.85355 4.85355C4.67999 5.02712 4.41056 5.0464 4.21569 4.91141L4.14645 4.85355L0.146447 0.853553C-0.0488155 0.658291 -0.0488155 0.341709 0.146447 0.146447Z"
                              fill="white"/>
                    </svg>
                </button>
            </div>
        </div>
    {% endif %}
</main>


{#

<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ heading_title }}</h2>
      {% if thumb or description %}
      <div class="row"> {% if thumb %}
        <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
        {% endif %}
        {% if description %}
        <div class="col-sm-10">{{ description }}</div>
        {% endif %}</div>
      <hr>
      {% endif %}
      {% if categories %}
      <h3>{{ text_refine }}</h3>
      {% if categories|length <= 5 %}
      <div class="row">
        <div class="col-sm-3">
          <ul>
            {% for category in categories %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div class="row">{% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
        <div class="col-sm-3">
          <ul>
            {% for child in category %}
            <li><a href="{{ child.href }}">{{ child.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}</div>
      <br />
      {% endif %}
      {% endif %}
      {% if products %}
      <div class="row">
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group"><a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a></div>
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              
              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              
              
              
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              
              
              
              {% else %}
              
              
              
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              
              
              {% for limits in limits %}
              {% if limits.value == limit %}
              
              
              
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              
              
              
              {% else %}
              
              
              
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            </select>
          </div>
        </div>
      </div>
      <div class="row">
          {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div>
              <div class="caption">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <p>{{ product.description }}</p>
                {% if product.price %}
                <p class="price"> {% if not product.special %}
                  {{ product.price }}
                  {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                  {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                {% endif %}
                {% if product.rating %}
                <div class="rating"> {% for i in 1..5 %}
                  {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}
                  {% endfor %} </div>
                {% endif %} </div>
              <div class="button-group">
                <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% endif %}
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

#}
{{ footer }} 
