{{ header }}

<main class="page-manufacturer">
    <div class="main-products">
        <div class="main-bread-crumbs">
            <div class="main-bread-crumbs_wrapper">
                {% for breadcrumb in breadcrumbs %}
                    {% if (breadcrumbs|length== loop.index) %}
                        <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    {% else %}
                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="main-title">
            <div class="main-title_wrapper">
                <h1>{{ heading_title }}</h1>
                <div class="main-title_control_wrapper">
                    <div class="a-dropdown">

                        <!--<label class="input-group-addon" for="input-sort">{{ text_sort }}</label>-->
                        <select name="dropdown" id="dropdown" class="a-dropdown__select"
                                onchange="location = this.value;">
                            {% for sorts in sorts %}
                                {% if sorts.value == '%s-%s'|format(sort, order) %}
                                    <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                {% else %}
                                    <option value="{{ sorts.href }}">{{ sorts.text }}</option>

                                {% endif %}
                            {% endfor %}
                        </select>
                        <svg class="dropdown-icon" width="13" height="6" viewBox="0 0 13 6" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z"
                                  fill="black"/>
                        </svg>
                    </div>
                    <div class="select_counter">Позиций на странице</div>
                    <div class="a-dropdown">
                        <select name="dropdown" id="dropdown" class="a-dropdown__select"
                                onchange="location = this.value;">
                            {% for limits in limits %}
                                {% if limits.value == limit %}
                                    <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                {% else %}
                                    <option value="{{ limits.href }}">{{ limits.text }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <svg class="dropdown-icon" width="13" height="6" viewBox="0 0 13 6" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z"
                                  fill="black"/>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- MOBILE FILTER -->
            <div class="filter-mobile-wrapper">
                <!-- BUTTON FILTER FOR MOBILE -->
                <button class="filter-mobile"><img src="/catalog/view/theme/shlepki/img/icons/filterIcon.svg" alt="">
                    Фильтр
                </button>
                <!-- BUTTON SORT PRODUCTS FOR MOBILE -->
                <div class="a-dropdown">
                    <select name="dropdown" id="dropdown" class="a-dropdown__select" onchange="location = this.value;">
                        {% for sorts in sorts %}
                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                            {% else %}
                                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>


        {#<div class="main-mobile-filter">#}
        {#<div class="main-mobile-filter_header">#}
        {#<h2>Фильтр</h2>#}
        {#<img class="main-mobile-filter-close" src="/catalog/view/theme/shlepki/img/icons/cross.svg" alt="">#}
        {#</div>#}
        {#<div class="main-mobile-filter-wrapper ocfilter-mobile1">#}
        {#<div class="filter-item">#}
        {#<p>#}
        {#<span class="filter-item_label">Цена</span>#}
        {#<svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z" fill="black"/>#}
        {#</svg>#}
        {#</p>#}
        {#<div class="filter-block">#}
        {#<input type="text" class="js-range-slider_mobile" name="my_range" value="" />#}
        {#<div class="filter-prices_inputs_wrapper">#}
        {#<input class="filter-prices_input" type="number" name="min-price_input" id="min-price_input_mobile" value="50">#}
        {#<span class="filter-prices_input_line"></span>#}
        {#<input class="filter-prices_input" type="number" name="min-price_input" id="max-price_input_mobile" value="5000">#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="filter-item">#}
        {#<p>#}
        {#<span class="filter-item_label">Тип обуви</span>#}
        {#<svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z" fill="black"/>#}
        {#</svg>#}
        {#</p>#}
        {#<div id="type_of_shoes" class="filter-block">#}
        {#<label for="Балетки">#}
        {#<input type="checkbox" name="Балетки" id="Балетки">#}
        {#<p>Балетки</p>#}
        {#</label>#}
        {#<label for="Босоножки">#}
        {#<input type="checkbox" name="Босоножки" id="Босоножки">#}
        {#<p>Босоножки</p>#}
        {#</label>#}
        {#<label for="Ботинки">#}
        {#<input type="checkbox" name="Ботинки" id="Ботинки">#}
        {#<p>Ботинки</p>#}
        {#</label>#}
        {#<label for="Бурки">#}
        {#<input type="checkbox" name="Бурки" id="Бурки">#}
        {#<p>Бурки</p>#}
        {#</label>#}
        {#<label for="Дутики">#}
        {#<input type="checkbox" name="Дутики" id="Дутики">#}
        {#<p>Дутики</p>#}
        {#</label>#}
        {#<label for="Луноходы">#}
        {#<input type="checkbox" name="Луноходы" id="Луноходы">#}
        {#<p>Луноходы</p>#}
        {#</label>#}
        {#<label for="Полусапоги">#}
        {#<input type="checkbox" name="Полусапоги" id="Полусапоги">#}
        {#<p>Полусапоги</p>#}
        {#</label>#}
        {#<label for="Сабо">#}
        {#<input type="checkbox" name="Сабо" id="Сабо">#}
        {#<p>Сабо</p>#}
        {#</label>#}
        {#<label for="Сапоги резиновые">#}
        {#<input type="checkbox" name="Сапоги резиновые" id="Сапоги резиновые">#}
        {#<p>Сапоги резиновые</p>#}
        {#</label>#}
        {#<label for="Сникерсы">#}
        {#<input type="checkbox" name="Сникерсы" id="Сникерсы">#}
        {#<p>Сникерсы</p>#}
        {#</label>#}
        {#<label for="Туфли">#}
        {#<input type="checkbox" name="Туфли" id="Туфли">#}
        {#<p>Туфли</p>#}
        {#</label>#}
        {#</div>#}
        {#</div>#}
        {#<div class="filter-item">#}
        {#<p>#}
        {#<span class="filter-item_label">Производитель</span>#}
        {#<svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z" fill="black"/>#}
        {#</svg>#}
        {#</p>#}
        {#<div id="list_with_checkbox" class="filter-block">#}
        {#<label for="BBT">#}
        {#<input type="checkbox" name="BBT" id="BBT">#}
        {#<p>BBT</p>#}
        {#</label>#}
        {#<label for="Beesky-Kellaifeng">#}
        {#<input type="checkbox" name="Beesky-Kellaifeng" id="Beesky-Kellaifeng">#}
        {#<p>Beesky-Kellaifeng</p>#}
        {#</label>#}
        {#<label for="Clibee">#}
        {#<input type="checkbox" name="Clibee" id="Clibee">#}
        {#<p>Clibee</p>#}
        {#</label>#}
        {#</div>#}
        {#</div>#}
        {#<div class="filter-item">#}
        {#<p>#}
        {#<span class="filter-item_label">Материал подкладки</span>#}
        {#<svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z" fill="black"/>#}
        {#</svg>#}
        {#</p>#}
        {#<div class="filter-block">#}
        {#<h1>Content</h1>#}
        {#</div>#}
        {#</div>#}
        {#<div class="filter-item">#}
        {#<p>#}
        {#<span class="filter-item_label">Размер</span>#}
        {#<svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z" fill="black"/>#}
        {#</svg>#}
        {#</p>#}
        {#<div class="filter-block">#}
        {#<h1>Content</h1>#}
        {#</div>#}
        {#</div>#}
        {#<div class="filter-item">#}
        {#<p>#}
        {#<span class="filter-item_label">Цвет</span>#}
        {#<svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z" fill="black"/>#}
        {#</svg>#}
        {#</p>#}
        {#<div id="colors_checkboxes" class="filter-block">#}
        {#<label for="beige_checkbox">#}
        {#<input type="checkbox" name="beige_checkbox" id="beige_checkbox">#}
        {#<svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path fill-rule="evenodd" clip-rule="evenodd" d="M33.1806 16.481C33.1806 7.37937 25.8023 0.00104904 16.7006 0.00104904C7.59903 0.00104904 0.220703 7.37937 0.220703 16.481C0.220703 25.5826 7.59903 32.9609 16.7006 32.9609C25.8023 32.9609 33.1806 25.5826 33.1806 16.481Z" fill="#FFDEAD"/>#}
        {#</svg>#}
        {#</label>#}
        {#<label for="white_checkbox">#}
        {#<input type="checkbox" name="white_checkbox" id="white_checkbox">#}
        {#<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path fill-rule="evenodd" clip-rule="evenodd" d="M33.7892 17.481C33.7892 8.37937 26.4109 1.00105 17.3093 1.00105C8.20767 1.00105 0.829346 8.37937 0.829346 17.481C0.829346 26.5826 8.20767 33.9609 17.3093 33.9609C26.4109 33.9609 33.7892 26.5826 33.7892 17.481Z" fill="white" stroke="#DEDEDE"/>#}
        {#</svg>#}
        {#</label>#}
        {#<label for="grey_checkbox">#}
        {#<input type="checkbox" name="grey_checkbox" id="grey_checkbox">#}
        {#<svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path fill-rule="evenodd" clip-rule="evenodd" d="M33.6186 16.481C33.6186 7.37937 26.2403 0.00104904 17.1386 0.00104904C8.03701 0.00104904 0.658691 7.37937 0.658691 16.481C0.658691 25.5826 8.03701 32.9609 17.1386 32.9609C26.2403 32.9609 33.6186 25.5826 33.6186 16.481Z" fill="#A9A9A9"/>#}
        {#</svg>#}
        {#</label>#}
        {#</div>#}
        {#</div>#}
        {#<div class="filter-item">#}
        {#<p>#}
        {#<span class="filter-item_label">Материал подошвы</span>#}
        {#<svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z" fill="black"/>#}
        {#</svg>#}
        {#</p>#}
        {#<div class="filter-block">#}
        {#<h1>Content</h1>#}
        {#</div>#}
        {#</div>#}
        {#<div class="filter-item">#}
        {#<p>#}
        {#<span class="filter-item_label">Высота платформы</span>#}
        {#<svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z" fill="black"/>#}
        {#</svg>#}
        {#</p>#}
        {#<div class="filter-block">#}
        {#<h1>Content</h1>#}
        {#</div>#}
        {#</div>#}
        {#<div class="filter-item">#}
        {#<p>#}
        {#<span class="filter-item_label">Высота каблука, см</span>#}
        {#<svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z" fill="black"/>#}
        {#</svg>#}
        {#</p>#}
        {#<div class="filter-block">#}
        {#<h1>Content</h1>#}
        {#</div>#}
        {#</div>#}
        {#<div class="filter-item">#}
        {#<p>#}
        {#<span class="filter-item_label">Размерная сетка</span>#}
        {#<svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z" fill="black"/>#}
        {#</svg>#}
        {#</p>#}
        {#<div class="filter-block">#}
        {#<h1>Content</h1>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="filter-buttons_wrapper">#}
        {#<button class="reset-filter">Сбросить настройки</button>#}
        {#<button type="submit" class="search-products">показать <span>35</span> товара</button>#}
        {#</div>#}
        {#</div>#}


        <div class="main-katalog-wrapper">

            {{ column_left }}


            <div class="main-product-list-right">

                {% if short_description %}
                    <div class="main-description">
                        {{ short_description }}
                    </div>
                {% endif %}
                <!-- CARDS PRODUCT LIST -->
                <div class="main-product-list">

                    {% for product in products %}

                        <!-- CARD PRODUCT -->
                        <div class="main-product-list_item">
                            <a href="javascript:void(0);" onclick="wishlist.add('{{ product.product_id }}');">
                                <img class="product-favorite" data-product_id="{{ product.product_id }}"
                                     src="/catalog/view/theme/shlepki/img/icons/greyHeart.svg" alt=""></a>
                            <a href="{{ product.href }}" class="preview-product"><img data-src="{{ product.thumb }}"
                                                                                      class="lazyload"
                                                                                      alt="{{ product.name }}"></a>
                            <div class="product-model-wraaper">
                                <p class="product-title"><a href="{{ product.href }}">{{ product.name }}</a></p>
                                <p class="product-model">Модель: {{ product.model }}</p>
                            </div>
                            <p class="product-value">Пар в ящике ({{ product.par_in_box }})</p>
                            <div class="product-list-prices">
                                <!--<div class="product-list-prices_item">
                                  <span>Цена за ящик</span>
                                  <p>480.00 ₴  </p>
                                </div>
                                -->
                                {% if product.price %}
                                    <div class="product-list-prices_item">
                                        <span>Цена за пару</span>
                                        {% if not product.special %}
                                            <p>{{ product.price_item }}  </p>
                                        {% else %}
                                            <p class="sale">{{ product.price_item }}</p>
                                        {% endif %}


                                    </div>
                                    <div class="product-list-prices_item">
                                        <span>Цена за ящик</span>
                                        {% if not product.special %}
                                            <p>{{ product.price }}  </p>
                                        {% else %}
                                            <p class="sale">{{ product.special }}  </p>
                                        {% endif %}
                                    </div>
                                {% endif %}

                            </div>
                            <a href="javascript:void(0)"
                               onClick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');return false;"
                               class="product-button-cart">В корзину <img
                                        src="/catalog/view/theme/shlepki/img/icons/whiteCart.svg" alt=""></a>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>

        {#<div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
        #}

        {#<a href="" class="main-new_link">Посмотреть ещё {{ results }}</a>#}
        {{ pagination }}



        {#<a class="main-pagination_prev" href="">#}
        {#<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M0.707107 5.70711C0.316582 5.31658 0.316582 4.68342 0.707107 4.29289L4.29289 0.707108C4.92286 0.0771428 6 0.523309 6 1.41421L6 8.58579C6 9.47669 4.92286 9.92286 4.29289 9.29289L0.707107 5.70711Z" fill="#DAE0E6"/>#}
        {#</svg>#}
        {#</a>#}
        {#<a href="" class="main_pagination_selected">1</a>#}
        {#<a href="" class="main_pagination_next-page">2</a>#}
        {#<a href="" class="main_pagination_minor-page">3</a>#}
        {#<p class="main-pagination_dots">...</p>#}
        {#<a href="" class="main_pagination_minor-page">12</a>#}


        {#<a class="main-pagination_next">#}
        {#<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#<path d="M5.29289 4.29289C5.68342 4.68342 5.68342 5.31658 5.29289 5.70711L1.70711 9.29289C1.07714 9.92286 1.81653e-08 9.47669 2.87892e-08 8.58579L1.14309e-07 1.41421C1.24933e-07 0.523309 1.07714 0.0771418 1.70711 0.707107L5.29289 4.29289Z" fill="#25B4E5"/>#}
        {#</svg>#}
        {#</a>#}




        {{ content_adventure }}

        {#<div class="main-pluses">#}
        {#<div class="main-pluses_item">#}
        {#<img class="main-pluses_icon" src="/catalog/view/theme/shlepki/img/icons/delivery-truck.svg">#}
        {#<div class="main-pluses-line main-pluses-line_1"></div>#}
        {#<div class="main-pluses-title"><span class="main-pluses_title_1">Бессплатная</span><span>Доставка</span><p>При заказе от 20 ящиков</p></div>#}
        {#</div>#}
        {#<div class="main-pluses_item">#}
        {#<img class="main-pluses_icon" src="/catalog/view/theme/shlepki/img/icons/wallet.svg">#}
        {#<div class="main-pluses-line main-pluses-line_2"></div>#}
        {#<div class="main-pluses-title"><span class="main-pluses_title_2">Гарантия</span><span>Возврата</span><p>Возврат в течение 14 дней</p></div>#}
        {#</div>#}
        {#<div class="main-pluses_item">#}
        {#<img class="main-pluses_icon" src="/catalog/view/theme/shlepki/img/icons/open-24-hours.svg">#}
        {#<div class="main-pluses-line main-pluses-line_3"></div>#}
        {#<div class="main-pluses-title"><span class="main-pluses_title_3">Информация</span><span>О товаре</span><p>Онлайн поддержка клиентов 24/7</p></div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="main-navigation">#}
        {#<nav>#}
        {#<ul>#}
        {#<li><a href="/index.php?route=product/special">Распродажа</a></li>#}
        {#<li><a href="/index.php?route=product/latest">Новинки</a></li>#}
        {#<li><a href="/index.php?route=product/category&path=184">Женская</a></li>#}
        {#<li><a href="/index.php?route=product/category&path=189">Мужская</a></li>#}
        {#<li><a href="/index.php?route=product/category&path=186">Детская</a></li>#}
        {#<li><a href="/index.php?route=product/category&path=256">Украинская обувь</a></li>#}
        {#<li><a href="/index.php?route=product/manufacturer">Бренды</a></li>#}
        {#</ul>#}
        {#</nav>#}
        {#</div>#}


    </div>


    <div class="main-description">

        {{ seo_text }}
        {% if description %}
            {{ description }}

            <div class="main-description-hider">
                <button>
                    <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.146447 0.146447C0.320013 -0.0271197 0.589437 -0.0464049 0.784306 0.0885912L0.853553 0.146447L4.5 3.793L8.14645 0.146447C8.32001 -0.0271197 8.58944 -0.0464049 8.78431 0.0885912L8.85355 0.146447C9.02712 0.320013 9.0464 0.589437 8.91141 0.784306L8.85355 0.853553L4.85355 4.85355C4.67999 5.02712 4.41056 5.0464 4.21569 4.91141L4.14645 4.85355L0.146447 0.853553C-0.0488155 0.658291 -0.0488155 0.341709 0.146447 0.146447Z"
                              fill="white"/>
                    </svg>
                </button>
            </div>
        {% endif %}
        <!--
        <h2 class="main-description_title">Качественная обувь оптом </h2>
        <p>
          В оптовом интернет-магазине "Shlepki" – только качественная обувь по ценам от производителя. Собираем заказы оперативно и каждую неделю пополняем ассортимент новинками. Хотим, чтобы у вас был большой и разнообразный выбор для покупки. Теперь, чтобы купить обувь оптом в Одессе не нужно никуда ехать! Просто заходите на сайт, выбирайте интересующий вас товар и оформляйте заказ в несколько кликов! <br>
          <br>
          Мужская, женская, детская обувь – весь наш товар закуплен у проверенных надежных производителей – зарубежных и украинских. Мы знаем, что для вас важно предлагать своим покупателям только качественную обувь. Поэтому внимательно относимся к отбору продукции, которую публикуем на сайте для продажи.<br>
          Приобретайте в магазине "Shlepki" сезонную обувь, спортивную и праздничную. Из натуральной кожи, кожзаменителя, замши или текстиля.<br>
          <br>
          Если вы планируете регулярно покупать обувь оптом в Одессе, предлагаем индивидуальные условия сотрудничества. Мы ценим каждого клиента и постоянно организовываем для вас акции и специальные предложения.<br>
        </p>-->

    </div>
</main>


{#<div id="product-manufacturer" class="container">#}
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}#}
      {#<h2>{{ heading_title }}</h2>#}
      {#{% if products %}#}
      {#<div class="row">#}
        {#<div class="col-md-2 col-sm-6 hidden-xs">#}
          {#<div class="btn-group btn-group-sm">#}
            {#<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>#}
            {#<button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>#}
          {#</div>#}
        {#</div>#}
        {#<div class="col-md-3 col-sm-6">#}
          {#<div class="form-group"> <a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a> </div>#}
        {#</div>#}
        {#<div class="col-md-4 col-xs-6">#}
          {#<div class="form-group input-group input-group-sm">#}
            {#<label class="input-group-addon" for="input-sort">{{ text_sort }}</label>#}
            {#<select id="input-sort" class="form-control" onchange="location = this.value;">#}
              {##}
              {#{% for sorts in sorts %}#}
              {#{% if sorts.value == '%s-%s'|format(sort, order) %}#}
              {##}
              {#<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>#}
              {##}
              {#{% else %}#}
              {##}
              {#<option value="{{ sorts.href }}">{{ sorts.text }}</option>#}
              {##}
              {#{% endif %}#}
              {#{% endfor %}#}
            {##}
            {#</select>#}
          {#</div>#}
        {#</div>#}
        {#<div class="col-md-3 col-xs-6">#}
          {#<div class="form-group input-group input-group-sm">#}
            {#<label class="input-group-addon" for="input-limit">{{ text_limit }}</label>#}
            {#<select id="input-limit" class="form-control" onchange="location = this.value;">#}
              {##}
              {#{% for limits in limits %}#}
              {#{% if limits.value == limit %}#}
              {##}
              {#<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>#}
              {##}
              {#{% else %}#}
              {##}
              {#<option value="{{ limits.href }}">{{ limits.text }}</option>#}
              {##}
              {#{% endif %}#}
              {#{% endfor %}#}
            {##}
            {#</select>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
      {#<div class="row"> {% for product in products %}#}
        {#<div class="product-layout product-list col-xs-12">#}
          {#<div class="product-thumb">#}
            {#<div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>#}
            {#<div>#}
              {#<div class="caption">#}
                {#<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>#}
                {#<p>{{ product.description }}</p>#}
                {#{% if product.price %}#}
                {#<p class="price"> {% if not product.special %}#}
                  {#{{ product.price }}#}
                  {#{% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}#}
                  {#{% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>#}
                {#{% endif %}#}
                {#{% if product.rating %}#}
                {#<div class="rating">#}
                  {#{% for i in 1..5 %}#}
                  {#{% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}#}
                  {#{% endfor %} </div>#}
                {#{% endif %} </div>#}
              {#<div class="button-group">#}
                {#<button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>#}
                {#<button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>#}
                {#<button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>#}
              {#</div>#}
            {#</div>#}
          {#</div>#}
        {#</div>#}
        {#{% endfor %} </div>#}
      {#<div class="row">#}
        {#<div class="col-sm-6 text-left">{{ pagination }}</div>#}
        {#<div class="col-sm-6 text-right">{{ results }}</div>#}
      {#</div>#}
      {#{% else %}#}
      {#<p>{{ text_empty }}</p>#}
      {#<div class="buttons">#}
        {#<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>#}
      {#</div>#}
      {#{% endif %}#}
      {#{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}
{{ footer }}