{{ header }}


<!-- MAIN -->
<main class="page-product">
    <div class="main-products-block">
        <div class="main-bread-crumbs">
            <div class="main-bread-crumbs_wrapper">
                {% for breadcrumb in breadcrumbs %}

                    {% if (breadcrumbs|length== loop.index) %}
                        <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    {% else %}
                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
                    {% endif %}

                {% endfor %}

            </div>
        </div>

        <div class="main-product-page_info">
            <!-- SLIDER -->
            <div class="cd-slider-wrapper">
                <ul class="cd-slider" data-step1="M1402,800h-2V525V0h1c0.6,0,1,0.4,1,1V800z"
                    data-step2="M1400,800H739L427,523L760,0h639c0.6,0,1,0.4,1,1V800z"
                    data-step3="M1400,800H0V521V0h1399c0.6,0,1,0.4,1,1V800z"
                    data-step4="M-2,800h2V525V0h-1c-0.6,0-1,0.4-1,1V800z"
                    data-step5="M0,800h661l312-277L640,0L1,0C0.4,0,0,0.4,0,1L0,800z"
                    data-step6="M0,800h1400V521V0L1,0C0.4,0,0,0.4,0,1L0,800z">


                    {#<li class="visible">#}
                    {#<div class="cd-svg-wrapper">#}
                    {#<svg viewBox="0 0 1400 800">#}
                    {#<title>Aimated SVG</title>#}
                    {#<defs>#}
                    {#<clipPath id="cd-image-0">#}
                    {#<path id="cd-changing-path-1" d="M1400,800H0V521V0h1399c0.6,0,1,0.4,1,1V800z"/>#}
                    {#</clipPath>#}
                    {#</defs>#}

                    {#<image height='800px' width="1400px" clip-path="url(#cd-image-0)"#}
                    {#xlink:href="{{ images.0.thumb }}"></image>#}
                    {#</svg>#}
                    {#</div> #}
                    {#</li>#}

                    {% for image in images %}

                        <li class="visible">
                            <div class="cd-svg-wrapper">
                                <svg viewBox="0 0 1400 800">
                                    <title>Aimated SVG</title>
                                    <defs>
                                        <clipPath id="cd-image-{{ loop.index }}">
                                            <path id="cd-changing-path-{{ loop.index }}"
                                                  d="M1400,800H0V521V0h1399c0.6,0,1,0.4,1,1V800z"/>
                                        </clipPath>
                                    </defs>

                                    <image height='800px' width="1400px" clip-path="url(#cd-image-{{ loop.index }})"
                                           xlink:href="{{ image.thumb }}"></image>
                                </svg>
                            </div> <!-- .cd-svg-wrapper -->
                        </li>

                    {% endfor %}


                </ul> <!-- .cd-slider -->

                {% if (images|length >1) %}
                {% endif %}
                <ul class="cd-slider-navigation">
                    <li class="first_slider_button">
                        <a href="#0" class="next-slide">
                            <img src="/catalog/view/theme/shlepki/img/icons/sliderIcon.svg" alt="">
                        </a></li>
                    <li><a href="#0" class="prev-slide">
                            <img src="/catalog/view/theme/shlepki/img/icons/sliderIcon.svg" alt="">
                        </a></li>
                </ul> <!-- .cd-slider-navigation -->


                <ol class="cd-slider-controls">
                    {% for image in images %}
                        <li class="{% if ( loop.index ==1 ) %}selected{% endif %}">
                            <a href="#{{ loop.index }}">
                                <em>Item {{ loop.index }}</em>
                            </a>
                        </li>
                    {% endfor %}
                </ol> <!-- .cd-slider-controls -->
            </div> <!-- .cd-slider-wrapper -->
            <div class="main-products-page-info_text">
                <h1>{{ heading_title }}</h1>


                <p>Модель: {{ model }}</p>
                <h4>Пар в ящике (<span>{{ in_box }}</span>)</h4>
                <div class="main-products-page_list_prices">
                    <div class="main-products-page_list_item">
                        <p>{{ text_price_box_one }}</p>
                        {% if not special %}
                            <span>{{ price_item }}</span>
                        {% else %}
                            <span class="sale">{{ price_item }}</span>
                        {% endif %}
                    </div>
                    <div class="main-products-page_list_item">
                        <p>{{ text_price_box }}</p>
                        {% if not special %}
                            <span>{{ price }}</span>
                        {% else %}
                            <span class="sale">{{ special }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="main-products-page-info_control">

                    <!--<label class="control-label" for="input-quantity">{{ entry_qty }}</label>
                        <a class="counter counter-minus material-design-horizontal39" href='#'></a>
                        <input type="text" name="quantity" value="{{ minimum }}" size="2"
                               id="input-quantity" class="form-control"/>
                        <input type="hidden" name="product_id" value="{{ product_id }}"/>
                        <a class="counter counter-plus material-design-add186" href='#'></a>
                        <button type="button" id="button-cart" data-loading-text="{{ text_loading }}"
                                class="product-btn-add">{{ button_cart }}</button>
                        -->

                    {#<div class="form_buy_product">#}
                    <form method="post" onSubmit="return false;">
                        <div class="counter-value_block">
                            <p>{{ text_count_box }}</p>
                            <div id="counter_products_prev">
                                <svg width="6" height="12" viewBox="0 0 6 12" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.499756 6.6247C0.207581 6.25948 0.20758 5.74052 0.499755 5.37531L4.21913 0.726088C4.80964 -0.0120499 6 0.405504 6 1.35078L6 10.6492C6 11.5945 4.80964 12.0121 4.21913 11.2739L0.499756 6.6247Z"
                                          fill="#9DA8B3"/>
                                </svg>
                            </div>
                            <input type="number" name="quantity" id="counter_products" value="1">

                            <div id="counter_products_next">
                                <svg width="6" height="13" viewBox="0 0 6 13" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.50024 7.1247C5.79242 6.75948 5.79242 6.24052 5.50024 5.87531L1.78087 1.22609C1.19036 0.48795 6.66338e-08 0.905504 9.96893e-08 1.85078L4.24847e-07 11.1492C4.57903e-07 12.0945 1.19036 12.5121 1.78087 11.7739L5.50024 7.1247Z"
                                          fill="#9DA8B3"/>
                                </svg>
                            </div>
                        </div>
                        <input type="hidden" name="product_id" value="{{ product_id }}"/>

                        <button onclick="cart.add('{{ product_id }}', document.getElementById('counter_products').value);return false;"
                                type="submit">{{ text_buy }} <img src="/catalog/view/theme/shlepki/img/icons/whiteCart.svg"
                                                          alt=""></button>

                    {#</div>#}
                    </form>
                </div>

                <a onclick="wishlist.add('{{ product_id }}');" href="javascript:void(0);"
                   onclick="wishlist.add('{{ product_id }}');" class="main-products-page-info_favorite"><img
                            src="/catalog/view/theme/shlepki/img/icons/heartGrey.svg" alt="">
                    {{ text_in_favorite }}</a>
            </div>


            <div class="main-products-page-info_desription">
                <div class="main-products-page-info_control_panel">
                    <label for="characteristic" class="main-product-info_control_panel_active">
                        <input type="radio" name="description" id="characteristic">
                        <p>Характеристики</p>
                    </label>
                    <label for="info_text">
                        <input type="radio" name="description" id="info_text">
                        <p>Описание</p>
                    </label>
                </div>
                <div class="main-products-page_list_characteristic">


                    <div class="main-products-page_list_characteristic_item">
                        <span>Артикул:</span>
                        <p>{{ model }} </p>
                    </div>
                    {% if attribute_groups %}
                        {% for attribute_group in attribute_groups %}
                            {% for attribute in attribute_group.attribute %}
                                <div class="main-products-page_list_characteristic_item">
                                    <span>{{ attribute.name }}:</span>
                                    <p>{{ attribute.text }}</p>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}


                </div>
                <div class="main-products-page_list_description">
                    {{ description }}
                </div>
            </div>
        </div>
    </div>
    <div class="main-products main-block-wrapper">

        <!-- related Products -->
        {% if products %}
            <div class="main-title">{{ text_related }}</div>


            <!-- CARDS PRODUCT LIST -->
            <div class="main-product-list">
                {% for prod in products %}


                    <input type="hidden" name="product_id" value="{{ prod.product_id }}"
                           class="form-control hidden"/>
                    <!-- CARD PRODUCT -->
                    <div class="main-product-list_item">
                        <a href="javascript:void(0);" onclick="wishlist.add('{{ prod.product_id }}');">
                            <img class="product-favorite"  data-product_id="{{ prod.product_id }}"  src="/catalog/view/theme/shlepki/img/icons/greyHeart.svg"
                                 alt="">
                        </a>
                        <a href="{{ prod.href }}" class="preview-product"><img data-src="{{ prod['thumb'] }}"
                                                                               class="lazyload"
                                                                               alt="{{ product.name }}"></a>
                        <div class="product-model-wraaper">
                            <p class="product-title"><a href="{{ prod.href }}">{{ prod.name }}</a></p>
                            <p class="product-model">Модель: {{ prod.model }}</p>
                        </div>
                        <p class="product-value">Пар в ящике ({{ prod.par_in_box }})</p>
                        <div class="product-list-prices">
                            {% if prod.price %}
                                <div class="product-list-prices_item">
                                    <span>{{ text_price_box_one }}</span>
                                    {% if not prod.special %}
                                        <p>{{ prod.price_item }}  </p>
                                    {% else %}
                                        <p class="sale">{{ prod.price_item }}</p>
                                    {% endif %}


                                </div>
                                <div class="product-list-prices_item">
                                    <span>{{ text_price_box }}</span>
                                    {% if not prod.special %}
                                        <p>{{ prod.price }}  </p>
                                    {% else %}
                                        <p class="sale">{{ prod.special }}  </p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        <a href="javascript:void(0)" {% if (prod.options|length > 3) %} onclick="cart.add('{{ prod.product_id }}');return false;" {% else %} onclick="ajaxAdd($(this),{{ prod.product_id }});" {% endif %}
                           class="product-button-cart">{{ text_buy }} <img
                                    src="/catalog/view/theme/shlepki/img/icons/whiteCart.svg" alt=""></a>
                    </div>


                {% endfor %}

            </div>
        {% endif %}


    </div>
    <!--<div class="main-block-wrapper">
        <div class="main-navigation">
            <nav>
                <ul>
                    <li><a href="/index.php?route=product/special">Распродажа</a></li>
                    <li><a href="/index.php?route=product/latest">Новинки</a></li>
                    <li><a href="/index.php?route=product/category&path=184">Женская</a></li>
                    <li><a href="/index.php?route=product/category&path=189">Мужская</a></li>
                    <li><a href="/index.php?route=product/category&path=186">Детская</a></li>
                    <li><a href="/index.php?route=product/category&path=256">Украинская обувь</a></li>
                    <li><a href="/index.php?route=product/manufacturer">Бренды</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="main-description">
        <h2 class="main-description_title">Качественная обувь оптом </h2>
        <p>
            В оптовом интернет-магазине "Shlepki" – только качественная обувь по ценам от производителя. Собираем заказы
            оперативно и каждую неделю пополняем ассортимент новинками. Хотим, чтобы у вас был большой и разнообразный
            выбор для покупки. Теперь, чтобы купить обувь оптом в Одессе не нужно никуда ехать! Просто заходите на сайт,
            выбирайте интересующий вас товар и оформляйте заказ в несколько кликов! <br>
            <br>
            Мужская, женская, детская обувь – весь наш товар закуплен у проверенных надежных производителей – зарубежных
            и украинских. Мы знаем, что для вас важно предлагать своим покупателям только качественную обувь. Поэтому
            внимательно относимся к отбору продукции, которую публикуем на сайте для продажи.<br>
            Приобретайте в магазине "Shlepki" сезонную обувь, спортивную и праздничную. Из натуральной кожи,
            кожзаменителя, замши или текстиля.<br>
            <br>
            Если вы планируете регулярно покупать обувь оптом в Одессе, предлагаем индивидуальные условия
            сотрудничества. Мы ценим каждого клиента и постоянно организовываем для вас акции и специальные предложения.<br>
        </p>
        <div class="main-description-hider">
            <button>
                <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.146447 0.146447C0.320013 -0.0271197 0.589437 -0.0464049 0.784306 0.0885912L0.853553 0.146447L4.5 3.793L8.14645 0.146447C8.32001 -0.0271197 8.58944 -0.0464049 8.78431 0.0885912L8.85355 0.146447C9.02712 0.320013 9.0464 0.589437 8.91141 0.784306L8.85355 0.853553L4.85355 4.85355C4.67999 5.02712 4.41056 5.0464 4.21569 4.91141L4.14645 4.85355L0.146447 0.853553C-0.0488155 0.658291 -0.0488155 0.341709 0.146447 0.146447Z"
                          fill="white"/>
                </svg>
            </button>
        </div>
    </div>-->

    <style>
        .popup__carousel .image-item {
            display: block !important;
        }
    </style>


    <div class="popup popup-carousel">
        {% if images|length > 1 %}
            <div class="carousel_button left">
                <svg width="14" height="33" viewBox="0 0 18 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.499756 17.1247C0.207581 16.7595 0.207582 16.2405 0.499757 15.8753L12.2191 1.22608C12.8096 0.487946 14 0.905504 14 1.85078L14 31.1492C14 32.0945 12.8096 32.5121 12.2191 31.7739L0.499756 17.1247Z"
                          fill="white"/>
                </svg>
            </div>
        {% endif %}
        <div class="popup__wrap">
            <div>
                <div class="popup__close">
                    <i class="i-close"></i>
                </div>
                <div class="popup__carousel">
                    {% for image in images %}

                        <div class="image-item {% if (loop.index==0) %} active{% endif %}">
                            <img src="{{ image.thumb }}" alt="">
                        </div>
                    {% endfor %}
                </div>
                <div class="popup__carousel-navigation-list">
                    {% for image in images %}
                        <div class="navigation-item {% if (loop.index==0) %} active{% endif %}"></div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% if (images|length > 1) %}
            <div class="carousel_button right">
                <svg width="14" height="33" viewBox="0 0 14 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5002 17.1247C13.7924 16.7595 13.7924 16.2405 13.5002 15.8753L1.78087 1.22608C1.19036 0.487946 8.32922e-08 0.905504 1.24612e-07 1.85078L1.40529e-06 31.1492C1.44661e-06 32.0945 1.19036 32.5121 1.78087 31.7739L13.5002 17.1247Z"
                          fill="white"/>
                </svg>
            </div>
        {% endif %}
    </div>

</main>


<script>
    (function ($) {
        $(document).ready(function () {
            $('.review-link a').click(function (e) {
                e.preventDefault();
                $('.product_tabs a[href="#tab-review"').tab('show');

            });
            $('.review-link-show').click(function () {
                $('html, body').animate({
                    'scrollTop': $('.product_tabs').offset().top - ($('#stuck').outerHeight() + 50)
                }, 1000);
            });
            $('.review-link-write').click(function () {
                $('html, body').animate({
                    'scrollTop': $('#reviews_form_title').offset().top - ($('#stuck').outerHeight() + 50)
                }, 1000);
                $('#reviews_form_title').addClass('close-tab').parents('#tab-review').find('#reviews_form').slideDown();
            });
            $('.product_tabs li:first-child a').tab('show');

            $('#reviews_form_title').addClass('close-tab');
            $('#reviews_form_title').on("click", function () {
                if ($(this).hasClass('close-tab')) {
                    $(this).removeClass('close').parents('#tab-review').find('#reviews_form').slideToggle();
                }
                else {
                    $(this).addClass('close-tab').parents('#tab-review').find('#reviews_form').slideToggle();
                }
            });
        });
    })(jQuery);
</script>
<script type="text/javascript">
    document.getElementById('input-quantity').onkeypress = function (e) {
        e = e || event;
        if (e.ctrlKey || e.altKey || e.metaKey) return;
        var chr = getChar(e);
        if (chr == null) return;
        if (chr < '0' || chr > '9') {
            return false;
        }
    }

    function getChar(event) {
        if (event.which == null) {
            if (event.keyCode < 32) return null;
            return String.fromCharCode(event.keyCode)
        }
        if (event.which != 0 && event.charCode != 0) {
            if (event.which < 32) return null;
            return String.fromCharCode(event.which)
        }
        return null;
    }
</script>
<script type="text/javascript">
    $('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
        $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            beforeSend: function () {
                $('#recurring-description').html('');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['success']) {
                    $('#recurring-description').html(json['success']);
                }
            }
        });
    });
</script>
<script type="text/javascript">
    var timer2;
    $('#button-cart').on('click', function () {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            success: function (json) {
                clearTimeout(timer2);
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));

                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            }
                        }
                    }

                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                    }

                    $('.text-danger').parent().addClass('has-error');
                }

                if (json['success']) {
                    $('#content').parent().before('<div class="alert alert-success"><i class="material-design-verification24"></i> ' + json['success'] + '<button type="button" class="close material-design-close47"></button></div>');
                    $('#cart-total').html(json['total']);
                    $('#cart-total2').html(json['total2']);

                    $('#cart > ul').load('index.php?route=common/cart/info ul li');
                    timer2 = setTimeout(function () {
                        $('.alert').addClass('fadeOut');
                    }, 4000);
                    $('.fancybox-close').length ? $('.fancybox-close').trigger('click') : null;
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
</script>
<script type="text/javascript">
    $('.date').datetimepicker({
        language: '{{ datepicker }}',
        pickTime: false
    });

    $('.datetime').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: true,
        pickTime: true
    });

    $('.time').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: false
    });
</script>


{{ footer }}
