{{ header }}


<main class="page-category">
    <div class="main-products">
        <div class="main-bread-crumbs">
            <div class="main-bread-crumbs_wrapper">
                {% for breadcrumb in breadcrumbs %}
                    {% if (breadcrumbs|length== loop.index) %}
                        <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    {% else %}
                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="main-title">
            <div class="main-title_wrapper">
                <h1>{{ heading_title }}</h1>
                <div class="main-title_control_wrapper">
                    <div class="a-dropdown">

                        <!--<label class="input-group-addon" for="input-sort">{{ text_sort }}</label>-->
                        <select name="dropdown" id="dropdown" class="a-dropdown__select" onchange="location = this.value;">
                            {% for sorts in sorts %}
                                {% if sorts.value == '%s-%s'|format(sort, order) %}
                                    <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                {% else %}
                                    <option value="{{ sorts.href }}">{{ sorts.text }}</option>

                                {% endif %}
                            {% endfor %}
                        </select>
                        <svg class="dropdown-icon" width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z" fill="black"/>
                        </svg>
                    </div>
                    <div class="select_counter">Позиций на странице</div>
                    <div class="a-dropdown">
                        <select name="dropdown" id="dropdown" class="a-dropdown__select" onchange="location = this.value;">
                            {% for limits in limits %}
                                {% if limits.value == limit %}
                                    <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                {% else %}
                                    <option value="{{ limits.href }}">{{ limits.text }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <svg class="dropdown-icon" width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z" fill="black"/>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- MOBILE FILTER -->
            <div class="filter-mobile-wrapper">
                <!-- BUTTON FILTER FOR MOBILE -->
                <button class="filter-mobile"><img src="/catalog/view/theme/shlepki/img/icons/filterIcon.svg" alt=""> Фильтр</button>
                <!-- BUTTON SORT PRODUCTS FOR MOBILE -->
                <div class="a-dropdown">
                    <select name="dropdown" id="dropdown" class="a-dropdown__select" onchange="location = this.value;">
                        {% for sorts in sorts %}
                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                            {% else %}
                                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>





        <div class="main-katalog-wrapper">

            {{ column_left }}


            <!-- CARDS PRODUCT LIST -->
            <div class="main-product-list"  data-catalog="items">

                {% for product in products %}

                    <!-- CARD PRODUCT -->
                    <div class="main-product-list_item">
                        <a href="javascript:void(0);" onclick="wishlist.add('{{ product.product_id }}');">
                            <img class="product-favorite" data-product_id="{{ product.product_id }}" src="/catalog/view/theme/shlepki/img/icons/greyHeart.svg" alt=""></a>
                        <a href="{{ product.href }}" class="preview-product"><img  class="lazyload" alt="{{ product.name }}" data-src="{{ product.thumb }}" alt=""></a>
                        <div class="product-model-wraaper">
                        <p class="product-title"><a href="{{ product.href }}">{{ product.name }}</a></p>
                        <p class="product-model">Модель: {{ product.model }}</p>
                        </div>
                        <p class="product-value">Пар в ящике ({{ product.par_in_box }})</p>
                        <div class="product-list-prices">
                            <!--<div class="product-list-prices_item">
                              <span>Цена за ящик</span>
                              <p>480.00 ₴  </p>
                            </div>
                            -->
                            {% if product.price %}
                                <div class="product-list-prices_item">
                                    <span>Цена за пару</span>
                                    {% if not product.special %}
                                        <p>{{ product.price_item }}  </p>
                                    {% else %}
                                        <p class="sale">{{ product.price_item }}</p>
                                    {% endif %}


                                </div>
                                <div class="product-list-prices_item">
                                    <span>Цена за ящик</span>
                                    {% if not product.special %}
                                        <p>{{ product.price }}  </p>
                                    {% else %}
                                        <p class="sale">{{ product.special }}  </p>
                                    {% endif %}
                                </div>
                            {% endif %}

                        </div>
                        <a href="javascript:void(0)" onClick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');return false;" class="product-button-cart">В корзину <img src="/catalog/view/theme/shlepki/img/icons/whiteCart.svg" alt=""></a>
                    </div>
                {% endfor %}




            </div>
        </div>

        {#<div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
        #}
        <div class="show_more_products_wrapper">
        {% if pagination and not last_page %}
            <a href="javascript:void(0)" data-href="{{ next_page }}" class="main-new_link show_more_products">Посмотреть ещё </a>

        {% endif %}
        </div>



        {{ pagination }}




        {{ content_adventure }}


        {#<div class="main-pluses">#}
            {#<div class="main-pluses_item">#}
                {#<img class="main-pluses_icon" src="/catalog/view/theme/shlepki/img/icons/delivery-truck.svg">#}
                {#<div class="main-pluses-line main-pluses-line_1"></div>#}
                {#<div class="main-pluses-title"><span class="main-pluses_title_1">Бессплатная</span><span>Доставка</span><p>При заказе от 20 ящиков</p></div>#}
            {#</div>#}
            {#<div class="main-pluses_item">#}
                {#<img class="main-pluses_icon" src="/catalog/view/theme/shlepki/img/icons/wallet.svg">#}
                {#<div class="main-pluses-line main-pluses-line_2"></div>#}
                {#<div class="main-pluses-title"><span class="main-pluses_title_2">Гарантия</span><span>Возврата</span><p>Возврат в течение 14 дней</p></div>#}
            {#</div>#}
            {#<div class="main-pluses_item">#}
                {#<img class="main-pluses_icon" src="/catalog/view/theme/shlepki/img/icons/open-24-hours.svg">#}
                {#<div class="main-pluses-line main-pluses-line_3"></div>#}
                {#<div class="main-pluses-title"><span class="main-pluses_title_3">Информация</span><span>О товаре</span><p>Онлайн поддержка клиентов 24/7</p></div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="main-navigation">#}
            {#<nav>#}
                {#<ul>#}
                    {#<li><a href="/index.php?route=product/special">Распродажа</a></li>#}
                    {#<li><a href="/index.php?route=product/latest">Новинки</a></li>#}
                    {#<li><a href="/index.php?route=product/category&path=184">Женская</a></li>#}
                    {#<li><a href="/index.php?route=product/category&path=189">Мужская</a></li>#}
                    {#<li><a href="/index.php?route=product/category&path=186">Детская</a></li>#}
                    {#<li><a href="/index.php?route=product/category&path=256">Украинская обувь</a></li>#}
                    {#<li><a href="/index.php?route=product/manufacturer">Бренды</a></li>#}
                {#</ul>#}
            {#</nav>#}
        {#</div>#}




    </div>



    <div class="main-description">

        <h2 class="main-description_title">{{ heading_title }}</h2>
        {% if description %}
            <p> {{ description }}</p>
            <div class="main-description-hider">
                <button>
                    <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.146447 0.146447C0.320013 -0.0271197 0.589437 -0.0464049 0.784306 0.0885912L0.853553 0.146447L4.5 3.793L8.14645 0.146447C8.32001 -0.0271197 8.58944 -0.0464049 8.78431 0.0885912L8.85355 0.146447C9.02712 0.320013 9.0464 0.589437 8.91141 0.784306L8.85355 0.853553L4.85355 4.85355C4.67999 5.02712 4.41056 5.0464 4.21569 4.91141L4.14645 4.85355L0.146447 0.853553C-0.0488155 0.658291 -0.0488155 0.341709 0.146447 0.146447Z" fill="white"/>
                    </svg>
                </button>
            </div>
        {% endif %}


        <!--
        <p>

          В оптовом интернет-магазине "Shlepki" – только качественная обувь по ценам от производителя. Собираем заказы оперативно и каждую неделю пополняем ассортимент новинками. Хотим, чтобы у вас был большой и разнообразный выбор для покупки. Теперь, чтобы купить обувь оптом в Одессе не нужно никуда ехать! Просто заходите на сайт, выбирайте интересующий вас товар и оформляйте заказ в несколько кликов! <br>
          <br>
          Мужская, женская, детская обувь – весь наш товар закуплен у проверенных надежных производителей – зарубежных и украинских. Мы знаем, что для вас важно предлагать своим покупателям только качественную обувь. Поэтому внимательно относимся к отбору продукции, которую публикуем на сайте для продажи.<br>
          Приобретайте в магазине "Shlepki" сезонную обувь, спортивную и праздничную. Из натуральной кожи, кожзаменителя, замши или текстиля.<br>
          <br>
          Если вы планируете регулярно покупать обувь оптом в Одессе, предлагаем индивидуальные условия сотрудничества. Мы ценим каждого клиента и постоянно организовываем для вас акции и специальные предложения.<br>
        </p>-->

    </div>
</main>
<script type="text/javascript"><!--
    $('#button-search').bind('click', function() {
        url = '/search';//index.php?route=product/search';

        var search = $('#content input[name=\'search\']').prop('value');

        if (search) {
            url += '?search=' + encodeURIComponent(search);
        }

        var category_id = $('#content select[name=\'category_id\']').prop('value');

        if (category_id > 0) {
            url += '&category_id=' + encodeURIComponent(category_id);
        }

        var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

        if (sub_category) {
            url += '&sub_category=true';
        }

        var filter_description = $('#content input[name=\'description\']:checked').prop('value');

        if (filter_description) {
            url += '&description=true';
        }

        location = url;
    });

    $('#content input[name=\'search\']').bind('keydown', function(e) {
        if (e.keyCode == 13) {
            $('#button-search').trigger('click');
        }
    });

    $('select[name=\'category_id\']').on('change', function() {
        if (this.value == '0') {
            $('input[name=\'sub_category\']').prop('disabled', true);
        } else {
            $('input[name=\'sub_category\']').prop('disabled', false);
        }
    });

    $('select[name=\'category_id\']').trigger('change');
    --></script>
{{ footer }}





{#{{ header }}#}
{#<div id="product-search" class="container">#}
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}#}
      {#<h1>{{ heading_title }}</h1>#}
      {#<label class="control-label" for="input-search">{{ entry_search }}</label>#}
      {#<div class="row">#}
        {#<div class="col-sm-4">#}
          {#<input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />#}
        {#</div>#}
        {#<div class="col-sm-3">#}
          {#<select name="category_id" class="form-control">#}
            {#<option value="0">{{ text_category }}</option>#}
            {#{% for category_1 in categories %}#}
            {#{% if category_1.category_id == category_id %}#}
            {#<option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>#}
            {#{% else %}#}
            {#<option value="{{ category_1.category_id }}">{{ category_1.name }}</option>#}
            {#{% endif %}#}
            {#{% for category_2 in category_1.children %}#}
            {#{% if category_2.category_id == category_id %}#}
            {#<option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>#}
            {#{% else %}#}
            {#<option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>#}
            {#{% endif %}#}
            {#{% for category_3 in category_2.children %}#}
            {#{% if category_3.category_id == category_id %}#}
            {#<option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>#}
            {#{% else %}#}
            {#<option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>#}
            {#{% endif %}#}
            {#{% endfor %}#}
            {#{% endfor %}#}
            {#{% endfor %}#}
          {#</select>#}
        {#</div>#}
        {#<div class="col-sm-3">#}
          {#<label class="checkbox-inline">#}
            {#{% if sub_category %}#}
            {#<input type="checkbox" name="sub_category" value="1" checked="checked" />#}
            {#{% else %}#}
            {#<input type="checkbox" name="sub_category" value="1" />#}
            {#{% endif %}#}
            {#{{ text_sub_category }}</label>#}
        {#</div>#}
      {#</div>#}
      {#<p>#}
        {#<label class="checkbox-inline">#}
          {#{% if description %}#}
          {#<input type="checkbox" name="description" value="1" id="description" checked="checked" />#}
          {#{% else %}#}
          {#<input type="checkbox" name="description" value="1" id="description" />#}
          {#{% endif %}#}
          {#{{ entry_description }}</label>#}
      {#</p>#}
      {#<input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary" />#}
      {#<h2>{{ text_search }}</h2>#}
      {#{% if products %}#}
      {#<div class="row">#}
        {#<div class="col-md-2 col-sm-6 hidden-xs">#}
          {#<div class="btn-group btn-group-sm">#}
            {#<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>#}
            {#<button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>#}
          {#</div>#}
        {#</div>#}
        {#<div class="col-md-3 col-sm-6">#}
          {#<div class="form-group">#}
            {#<a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a>#}
          {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-xs-6">#}
          {#<div class="form-group input-group input-group-sm">#}
            {#<label class="input-group-addon" for="input-sort">{{ text_sort }}</label>#}
            {#<select id="input-sort" class="form-control" onchange="location = this.value;">#}
              {#{% for sorts in sorts %}#}
              {#{% if sorts.value == '%s-%s'|format(sort, order) %}#}
              {#<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>#}
              {#{% else %}#}
              {#<option value="{{ sorts.href }}">{{ sorts.text }}</option>#}
              {#{% endif %}#}
              {#{% endfor %}#}
            {#</select>#}
          {#</div>#}
        {#</div>#}
        {#<div class="col-md-3 col-xs-6">#}
          {#<div class="form-group input-group input-group-sm">#}
            {#<label class="input-group-addon" for="input-limit">{{ text_limit }}</label>#}
            {#<select id="input-limit" class="form-control" onchange="location = this.value;">#}
              {#{% for limits in limits %}#}
              {#{% if limits.value == limit %}#}
              {#<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>#}
              {#{% else %}#}
              {#<option value="{{ limits.href }}">{{ limits.text }}</option>#}
              {#{% endif %}#}
              {#{% endfor %}#}
            {#</select>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
      {#<div class="row">#}
        {#{% for product in products %}#}
        {#<div class="product-layout product-list col-xs-12">#}
          {#<div class="product-thumb">#}
            {#<div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>#}
            {#<div>#}
              {#<div class="caption">#}
                {#<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>#}
                {#<p>{{ product.description }}</p>#}
                {#{% if product.price %}#}
                {#<p class="price">#}
                  {#{% if  not product.special %}#}
                  {#{{ product.price }}#}
                  {#{% else %}#}
                  {#<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>#}
                  {#{% endif %}#}
                  {#{% if product.tax %}#}
                  {#<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>#}
                  {#{% endif %}#}
                {#</p>#}
                {#{% endif %}#}
                {#{% if product.rating %}#}
                {#<div class="rating">#}
                  {#{% for i in 1..5 %}#}
                  {#{% if product.rating < i %}#}
                  {#<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>#}
                  {#{% else %}#}
                  {#<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>#}
                  {#{% endif %}#}
                  {#{% endfor %}#}
                {#</div>#}
                {#{% endif %}#}
              {#</div>#}
              {#<div class="button-group">#}
                {#<button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>#}
                {#<button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>#}
                {#<button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>#}
              {#</div>#}
            {#</div>#}
          {#</div>#}
        {#</div>#}
        {#{% endfor %}#}
      {#</div>#}
      {#<div class="row">#}
        {#<div class="col-sm-6 text-left">{{ pagination }}</div>#}
        {#<div class="col-sm-6 text-right">{{ results }}</div>#}
      {#</div>#}
      {#{% else %}#}
      {#<p>{{ text_empty }}</p>#}
      {#{% endif %}#}
      {#{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}

{#{{ footer }}#}