{{ header }} {{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }} " class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }} " data-toggle="tooltip" title="{{ button_cancel }} " class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }} </h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }} ">{{ breadcrumb.text }} </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
  <div class="container-fluid">
      {% if error_warning %}
          <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
              <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
      {% endif %}
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }} </h3>
          </div>
    <div class="panel-body">
      <form action="{{ action }} " method="post" enctype="multipart/form-data" id="form">
        <table class="table">

	<tr>
        <td>{{ entry_total }} </td>
        <td><input type="text" name="free_total_coast" value="{{ free_total_coast }} " /></td>
    </tr>

          <tr>
            <td>{{ entry_cost }} </td>
            <td><input type="text" name="shipping_courier_cost" value="{{ shipping_courier_cost }} " /></td>
          </tr>
           <tr>
            <td>{{ entry_time }} </td>
            <td><input type="text" name="shipping_courier_time" value="{{ shipping_courier_time }} " /></td>
          </tr>
          <tr>
            <td>{{ entry_tax_class }} </td>
            <td><select name="shipping_courier_tax_class_id">
                  <option value="0">{{ text_none }} </option>
                  {% for tax_class in tax_classes %}
                    {% if tax_class.tax_class_id  ==  shipping_courier_tax_class_id %}
                      <option value="{{ tax_class.tax_class_id }} " selected="selected">{{ tax_class.title }} </option>
                    {% else %}
                      <option value="{{ tax_class.tax_class_id }} ">{{ tax_class.title }} </option>
                    {% endif %}
                  {% endfor %}

                </select></td>
          </tr>
          <tr>
            <td>{{ entry_geo_zone }} </td>
            <td><select name="shipping_courier_geo_zone_id">
                <option value="0">{{ text_all_zones }} </option>
                {% for geo_zone in geo_zones %}
                  {% if geo_zone.geo_zone_id  ==  shipping_courier_geo_zone_id %}
                    <option value="{{ geo_zone.geo_zone_id }} " selected="selected">{{ geo_zone.name }} </option>
                  {% else %}
                    <option value="{{ geo_zone.geo_zone_id }} ">{{ geo_zone.name }} </option>
                  {% endif %}
                {% endfor %}

              </select></td>
          </tr>
          <tr>
            <td>{{ entry_status }} </td>
            <td><select name="shipping_courier_status">
                {% if shipping_courier_status %}
                <option value="1" selected="selected">{{ text_enabled }} </option>
                <option value="0">{{ text_disabled }} </option>
                {% else %}
                <option value="1">{{ text_enabled }} </option>
                <option value="0" selected="selected">{{ text_disabled }} </option>
                {% endif %}
              </select></td>
          </tr>
          <tr>
            <td>{{ entry_sort_order }} </td>
            <td><input type="text" name="shipping_courier_sort_order" value="{{ shipping_courier_sort_order }} " size="1" /></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
</div>
{{ footer }}
