{{ header }} {{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <div style="display: inline;">
                    <div id="np-update-text" style="display:inline;padding:5px;color:#1D7DFD;font-size:14px;font-weight:bold;"></div>
                    <a class="btn btn-default" href="{{ update }} " id="shipping_sat_update_button">{{ button_update }} </a>
                    <a class="btn btn-default" id="np-update-check-button" style="display:none">{{ button_check_update }} </a>
                </div>
                <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }} "
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }} " data-toggle="tooltip" title="{{ button_cancel }} "
                   class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }} </h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }} ">{{ breadcrumb.text }} </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }} </h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }} " method="post" enctype="multipart/form-data" id="form">
                    <table class="table">
                        <tr>
                            <td>
                                {{ entry_api_key }}
                            </td>
                            <td><input type="text" name="shipping_sat_api_key" value="{{ shipping_sat_api_key }} " /></td>
                        </tr>

                        <tr>
                            <td>{{ entry_status }} </td>
                            <td><select name="shipping_sat_status">
                                    {% if shipping_sat_status %}
                                        <option value="1" selected="selected">{{ text_enabled }} </option>
                                        <option value="0">{{ text_disabled }} </option>
                                    {% else %}
                                        <option value="1">{{ text_enabled }} </option>
                                        <option value="0" selected="selected">{{ text_disabled }} </option>
                                    {% endif %}
                                </select></td>
                        </tr>
                        <tr>
                            <td>{{ entry_sort_order }} </td>
                            <td><input type="text" name="shipping_sat_sort_order"
                                       value="{{ shipping_sat_sort_order }} " size="1"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function npUpdateStart(){
        $('#np-update-text').text("Обновление запущено!");
        $('#np-update-check-button').css("display","inline");
        $('#shipping_sat_update_button').hide();
    }
    function npUpdateRunning(){
        $('#np-update-text').text('Обновление уже запущено! Повторите позже');
        $('#np-update-check-button').css("display","inline");
        $('#shipping_sat_update_button').hide();
    }
    function npUpdateDone(msg){
        $('#np-update-text').text(msg);
        $('#np-update-check-button').hide();
        $('#shipping_sat_update_button').css("display","inline");
    }

    $('#shipping_sat_update_button').bind('click', function() {
        $.ajax('{{ np_check }} ', {
            success: function(data) {
                if (data == 'RUNNING'){
                    npUpdateRunning();
                }else {
                    npUpdateStart();
                    $.ajax('{{ update }} ',{
                        success: function(result){
                            var data = JSON.parse(result);
                            if (data.success){
                                npUpdateDone(data.success);
                            }else if (data.error){
                                npUpdateDone(data.error);
                            }
                        }
                    });
                }
            },
            error: function() {
                $('#np-update-text').text("Ошибка связи! Повторите позже!");
            }
        });
    });

    $('#np-update-check-button').bind('click', function() {
        $.ajax('{{ np_check }} ', {
            success: function(data) {
                if (data != 'RUNNING'){
                    npUpdateDone();
                }else{
                    npUpdateRunning();
                }
            },
            error: function() {
                $('#np-update-text').text("Ошибка связи! Повторите позже!");
            }
        });
    });
</script>
{{ footer }}
