<label class="form__form-control form__form-control--required">
  <span class="thin">{{ text_order_comment }}</span>
  <input type="hidden" name="delivery_method[shipping_address]" value=""/>
  <textarea rows="3" type="text" class="form__textarea form__textarea--thin" name="delivery_method[office]"> </textarea>
</label>
