<input type="hidden" name="delivery_method[shipping_cost]" value="{{ shipping_cost }}">
<div class="form-group">
    <label class="col-xs-18 col-sm-3 control-label">{{ text_address }}</label>
    <div class="col-xs-18 col-md-12 col-lg-10">
        <input type="text" class="form-control" name="delivery_method[address]" id="address" />
    </div>
</div>
<div class="form-group comment_order">
    <label class="col-xs-18 col-sm-3 control-label">{{ text_order_comment }}</label>
    <div class="col-xs-18 col-md-12 col-lg-10">
        <textarea class="review" name="delivery_method[review]" type="text" id="comments_order"></textarea>
    </div>
</div>
