<input type="hidden" name="delivery_method[shipping_cost]" value="{{ shipping_cost }}">
<input type="hidden" name="delivery_method[min_cost_for_free]" value="{{ free_total_coast }}">
<input type="hidden" name="delivery_method[type_delivery]" value="warehouse">
<label class="form__form-control form__form-control--select form__form-control--required">
  <span>
    {{ text_district }}
  </span>
  <select class="form__select" name="delivery_method[state]">
      <option value="-1">{{ text_select_district }}</option>
      {% for country in countries %}
      <option value="{{ country['country_id'] }}">{{ country['name'] }}</option>
      {% endfor %}
  </select>
</label>
<label class="form__form-control form__form-control--select form__form-control--required">
  <span>
    {{ text_city }}
  </span>
  <select class="form__select" name="delivery_method[city]" disabled="disabled">
      <option value="-1">---</option>
  </select>
</label>
<label class="form__form-control form__form-control--select form__form-control--required">
    <span>
        {{ text_office }}
    </span>
  <select class="form__select" name="delivery_method[office]" disabled="disabled">
      <option value="-1">---</option>
  </select>
</label>
<script type="text/javascript">
    $(function(){
        $('select[name=\'delivery_method[state]\']').change(function(){
            var shipping_method = $('input[name=\'delivery_method[shipping_method]\']:checked').val().split('.')[0];
            $.post('index.php?route=extension/shipping/'+shipping_method+'/state', { country_id : $(this).val() }, function(response){
                $('select[name=\'delivery_method[city]\']').html(response).removeAttr('disabled');
            });
        });
        $('select[name=\'delivery_method[city]\']').change(function(){
            var shipping_method = $('input[name=\'delivery_method[shipping_method]\']:checked').val().split('.')[0];
            $.post('index.php?route=extension/shipping/' + shipping_method + '/city', {zone_id: $(this).val()}, function (response) {
                $('select[name=\'delivery_method[office]\']').html(response).removeAttr('disabled');
            });
        });
        $('select[name=\'delivery_method[type_delivery]\']').change(function(){
            var shipping_method = $('input[name=\'delivery_method[shipping_method]\']:checked').val().split('.')[0];
            var zone_id = $('select[name=\'delivery_method[city]\']').val();
            if(zone_id != -1) {
                $.post('index.php?route=extension/shipping/' + shipping_method + '/city', {'zone_id': zone_id}, function (response) {
                    $('select[name=\'delivery_method[office]\']').html(response).removeAttr('disabled').parents('.form__form-control').show();
                    $('input[name=\'delivery_method[address]\']').attr('disabled', 'disabled').parents('.form__form-control').hide();
                });
            } else {
                $('select[name=\'delivery_method[office]\']').parents('.form__form-control').show();
                $('input[name=\'delivery_method[address]\']').attr('disabled', 'disabled').parents('.form__form-control').hide();
            }
        });
    });
</script>
