<input type="hidden" name="delivery_method[shipping_cost]" value="{{ shipping_cost }}">
<input type="hidden" name="delivery_method[min_cost_for_free]" value="{{ free_total_coast }}">





<div class="wrap-checkbox wrap-checkbox_bg">

    {#<select class="form__select" name="delivery_method[type_delivery]">#}
        {#<option value="warehouse" >{{ text_delivery_department }}</option>#}
        {#<option value="address" >{{ text_delivery_address }}</option>#}
    {#</select>#}
    {##}

    <div class="checkbox">
        <input type="radio" id="otd" checked value="warehouse" name="delivery_method[type_delivery]">
        <label for="otd">
            <p>{{ text_delivery_department }}</p>
        </label>
    </div>
    <div class="checkbox">
        <input type="radio" value="address" id="kur" name="delivery_method[type_delivery]">
        <label for="kur">
            <p>{{ text_delivery_address }}</p>
        </label>
    </div>
</div>




<div class="wrap">
    <p>{{ text_district }}</p>
    <div class="a-dropdown1" style="position: relative;
    max-width: 400px;
    font-size: 12px;width: 100%;max-width: 459px;">
        <select class="select-custom" required=""  name="delivery_method[state]" id="delivery_method_state" style="width:100%">
            <option value="-1">{{ text_select_district }}</option>
            {% for country in countries %}
                <option value="{{ country['country_id'] }}">{{ country['name'] }}</option>
            {% endfor %}
        </select>
        {#<svg class="dropdown-icon" width="13" height="6" viewBox="0 0 13 6" fill="none"#}
             {#xmlns="http://www.w3.org/2000/svg">#}
            {#<path#}
                    {#d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z"#}
                    {#fill="black" />#}
        {#</svg>#}
    </div>
</div>
<div class="wrap">
    <p>{{ text_city }}</p>
    <div class="a-dropdown1" style="position: relative;
    max-width: 400px;
    font-size: 12px;width: 100%;max-width: 459px;">
        <select class="select-custom required" required="" name="delivery_method[city]" style="width:100%" id="delivery_method_city"  disabled="disabled">

            <option value="-1">---</option>
        </select>
        {#<svg class="dropdown-icon" width="13" height="6" viewBox="0 0 13 6" fill="none"#}
             {#xmlns="http://www.w3.org/2000/svg">#}
            {#<path#}
                    {#d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z"#}
                    {#fill="black" />#}
        {#</svg>#}
    </div>
</div>



<div class="wrap">
    <p>{{ text_office }}</p>
    <div class="a-dropdown1" style="position: relative;
    max-width: 400px;
    font-size: 12px;width: 100%;max-width: 459px;">

    <select  style="width: 100%;max-width: 459px;" required="" class="select-custom required" name="delivery_method[office]" id="delivery_method_office" disabled="disabled" >
        <option value="-1">---</option>
    </select>
        {#<svg class="dropdown-icon" width="13" height="6" viewBox="0 0 13 6" fill="none"#}
             {#xmlns="http://www.w3.org/2000/svg">#}
            {#<path#}
                    {#d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z"#}
                    {#fill="black" />#}
        {#</svg>#}
    </div>
</div>


<div class="wrap" style="display:none;">
    <p>{{ text_address }}</p>
    <input type="text" name="delivery_method[address]" id="delivery_method_address"/>
</div>

