<div class="filter-item">
    <p class="filter-active-item">
        <span class="filter-item_label">Тип обуви</span>
        <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                    d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z"
                    fill="black" />
        </svg>
    </p>

    <div id="type_of_shoes" class="list_with_checkbox filter-block type_of_shoes open-filter">


        {% for category in subCategories %}
        <div class="ocf-option-values">
            <label for="{{ category.name }}_desk">
                <input {% if currentCategory==category.category_id %} checked="checked" {% endif %} onClick="location.href='{{ category.link }}';" type="checkbox" name="{{ category.name }}_desk" id="{{ category.name }}_desk">
                <p><a href="{{ category.link }}">{{ category.name }}</a></p>
            </label>
        </div>

        {% endfor %}

    </div>
</div>