<div class="filter-item">
  <p class="{{ (selecteds[option.option_id] is defined) ? 'filter-active-item' : '' }}">
    <span class=" filter-item_label">{{ option.name }}</span>
    <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z"
            fill="black"/>
    </svg>
  </p>
    {#<div id="type_of_shoes" class="filter-block">#}




  <div class=" list_with_checkbox filter-block {{ (selecteds[option.option_id] is defined) ? 'open-filter' : '' }}">
    {% for value in option.values %}


      <div class="ocf-option-values">
        <label class="option-values " for="{{ value.id }}_desk" id="v-{{ value.id }}"
               data-option-id="{{ option.option_id }}">
          <input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="{{ value.params }}"
              {% if selecteds[option.option_id] is defined %}
              {% for _value in selecteds[option.option_id].values %}
              {% if (_value.id==value.id) %}
                 checked="checked"
                {% endif %}
            {% endfor %}
        {% endif %} class="ocf-target" id="{{ value.id }}_desk">
          <p>{{ value.name }}
            {#({{ value.count }})#}
          </p>
        </label>
      </div>

        {#ocfilter-hidden-values-{{ option.option_id }}#}
          {#{% include 'default/template/extension/module/ocfilter/value_item.twig' %}#}
          {#{{value.value_id }}ccctet <br/>#}
    {% endfor %}
  </div>
    {#ccf{% include 'default/template/extension/module/ocfilter/value_list.twig' %}#}

</div>




{#<div class="list-group-item ocfilter-option" id="option-{{ option.option_id }}">#}
  {#<div class="ocf-option-name">#}
    {#{{ option.name }}#}

		{#{% if option.type == 'slide' or option.type == 'slide_dual' %}#}
    {#<span id="left-value-{{ option.option_id }}">{{ option.slide_value_min_get }}</span>#}
		{#{% if option.type == 'slide_dual' %}#}
		{#-&nbsp;<span id="right-value-{{ option.option_id }}">{{ option.slide_value_max_get }}</span>#}
		{#{% endif %}#}
    {#{{ option.postfix }}#}
    {#{% endif %}#}
  {#</div>#}

  {#<div class="ocf-option-values">#}
    {#{% if option.type == 'slide' or option.type == 'slide_dual' %}#}
    {#{% include 'default/template/extension/module/ocfilter/filter_slider_item.twig' %}#}
    {#{% else %}#}

    {#{% if option.selectbox %}#}
    {#<div class="dropdown">#}
      {#<button class="btn btn-block btn-{{ (selecteds[option.option_id] is defined) ? 'warning' : 'default' }} dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">#}
        {#<i class="pull-right fa fa-angle-down"></i>#}
        {#<span class="pull-left text-left">#}
        	{#{% if selecteds[option.option_id] is defined %}#}

          {#{% for value in selecteds[option.option_id].values %}#}
          {#{{ value.name }}<br />#}
					{#{% endfor %}#}

        	{#{% else %}#}
        	{#{{ text_any }}#}
          {#{% endif %}#}
        {#</span>#}
      {#</button>#}
      {#<div class="dropdown-menu">#}
        {#{% include 'default/template/extension/module/ocfilter/value_list.twig' %}#}
      {#</div>#}
    {#</div>#}
    {#{% else %}#}
    {#{% include 'default/template/extension/module/ocfilter/value_list.twig' %}#}
    {#{% endif %}#}

    {#{% endif %}#}
  {#</div>#}
{#</div>#}