{% if selecteds %}
{#<div class="list-group-item selected-options">#}
  {#{% for option in selecteds %}#}
  {#<div class="ocfilter-option">#}
    {#<span>{{ option.name }}:</span>#}
    {#{% for value in option.values %}#}
    {#<button type="button" onclick="location = '{{ value.href }}';" class="btn btn-xs btn-danger" style="padding: 1px 4px;"><i class="fa fa-times"></i> {{ value.name }}</button>#}
    {#{% endfor %}#}
  {#</div>#}
  {#{% endfor %}#}

  {#{% if selecteds|length > 1 or selecteds|first.values|length > 1 %}#}
  {#<button type="button" onclick="location = '{{ link}}';" class="btn btn-block btn-danger" style="border-radius: 0;"><i class="fa fa-times-circle"></i> {{ text_cancel_all }}</button>#}
  {#{% endif %}#}
{#</div>#}

  {% if selecteds|length > 0 or selecteds|first.values|length > 1 %}
    <button type="button" onclick="location = '{{ link}}';" class="reset_filtr_button" style="border-radius: 0;">{{ text_cancel_all }}</button>
    {#<button class="reset_filtr_button">Сбросить фильтр</button>#}
  {% endif %}


  {#<div class="hidden" id="ocfilter-button">#}
    {#<button class="btn btn-primary disabled"#}
            {#data-loading-text="<i class='fa fa-refresh fa-spin'></i> Загрузка.."></button>#}
  {#</div>#}
{% endif %}