{% if option.color %}
    <div class="ocf-color" style="background-color: #{{ value.color }};"></div>
{% endif %}

{% if option.image %}
    <div class="ocf-image" style="background-image: url({{ value.image }});"></div>
{% endif %}

{% if value.selected %}
    <div class="ocf-option-values">
        <label class="option-values " for="{{ value.id }}_desk" id="v-{{ value.id }}"
               data-option-id="{{ option.option_id }}">
            <input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="{{ value.params }}" {{ (selecteds[value.id] is defined) ? 'checked="checked"' : '' }}
                   class="ocf-target" id="{{ value.id }}_desk">
            <p>{{ value.name }}
                {#({{ value.count }})#}
            </p>
        </label>
    </div>
    {##}
    {#<label id="v-{{ value.id }}" class="ocf-selected" data-option-id="{{ option.option_id }}">#}
    {#<input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="{{ value.params }}" checked="checked" class="ocf-target" autocomplete="off" />#}
    {#{{ value.name }}#}
    {#{% if show_counter %}#}
    {#<small class="badge"></small>#}
    {#{% endif %}#}
    {#</label>#}
{% elseif value.count %}
    <div class="ocf-option-values">
        <label class="option-values " for="{{ value.id }}_desk" id="v-{{ value.id }}"
               data-option-id="{{ option.option_id }}">
            <input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="{{ value.params }}" {{ (selecteds[value.id] is defined) ? 'checked="checked"' : '' }}
                   class="ocf-target" id="{{ value.id }}_desk">
            <p>{{ value.name }} ({{ value.count }})</p>
        </label>
    </div>

{% else %}
    <div class="ocf-option-values">
        <label class="option-values " for="{{ value.id }}_desk" id="v-{{ value.id }}"
               data-option-id="{{ option.option_id }}">
            <input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="{{ value.params }}" {{ (selecteds[value.id] is defined) ? 'checked="checked"' : '' }}
                   class="ocf-target" autocomplete="off" type="checkbox" id="{{ value.id }}_desk">
            <p>{{ value.name }}</p>
        </label>

    </div>

{% endif %}