{% if show_values_limit > 0 and option.values|length > show_values_limit %}
    {#{% set hidden_values = option.values[show_values_limit:] %}#}
    {#{% set values = option.values[:show_values_limit] %}#}

    {% set hidden_values = option.values %}
    {% set values = option.values %}
{% else %}
    {% set hidden_values = [] %}
    {% set values = option.values %}
{% endif %}
<div id="ocfilter-hidden-values--mobile-{{ option.option_id }}" class="filter-block list_with_checkbox {{ (selecteds[option.option_id] is defined) ? 'open-filter' : '' }}">
{% for value in values %}

{% include 'default/template/extension/module/ocfilter/value_item_mobile.twig' %}
{% endfor %}


</div>
{% if hidden_values|length > 0 %}


    <div id="ocfilter-hidden-values--mobile-{{ option.option_id }}" class="filter-block list_with_checkbox {{ (selecteds[option.option_id] is defined) ? 'open-filter' : '' }}">
{#<div class="collapse" id="ocfilter-hidden-values-{{ option.option_id }}">#}
  {#<hr style="margin:0 0 10px;" />#}
  {% for value in hidden_values %}
  {% include 'default/template/extension/module/ocfilter/value_item_mobile.twig' %}
  {% endfor %}
</div>
{#<div class="collapse-value">#}
  {#<button type="button" data-target="#ocfilter-hidden-values-{{ option.option_id }}" data-toggle="collapse" class="btn btn-block">{{ text_show_all }} <i class="fa fa-fw"></i></button>#}
{#</div>#}
{% endif %}