{% if show_values_limit > 0 and option.values|length > show_values_limit %}
    {#{% set hidden_values = option.values[show_values_limit:] %}#}
    {#{% set values = option.values[:show_values_limit] %}#}

    {% set hidden_values = option.values %}
    {% set values = option.values %}
{% else %}
    {% set hidden_values = [] %}
    {% set values = option.values %}
{% endif %}

{% for value in option.values %}
    {#ocfilter-hidden-values-{{ option.option_id }}#}
    <div class=" list_with_checkbox filter-block">
    {#{% include 'default/template/extension/module/ocfilter/value_item.twig' %}#}
        ccctet <br/>
    </div>

{% endfor %}

{% if hidden_values|length > 0 %}


  <div id="ocfilter-hidden-values-{{ option.option_id }}" class="filter-block">
      {#<div class="collapse" id="ocfilter-hidden-values-{{ option.option_id }}">#}
      {#<hr style="margin:0 0 10px;" />#}
      {% for value in hidden_values %}
          {% include 'default/template/extension/module/ocfilter/value_item.twig' %}
      {% endfor %}
  </div>
  <div class="collapse-value">
    <button type="button" data-target="#ocfilter-hidden-values-{{ option.option_id }}" data-toggle="collapse" class="btn btn-block">{{ text_show_all }} <i class="fa fa-fw"></i></button>
  </div>
{% endif %}