
{% if option.color %}
<div class="ocf-color" style="background-color: #{{ value.color }};"></div>
{% endif %}

{% if option.image %}
<div class="ocf-image" style="background-image: url({{ value.image }});"></div>
{% endif %}

{% if value.selected %}

  <label for="{{ value.id }}_desk" id="v-{{ value.id }}" data-option-id="{{ option.option_id }}">
    <input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="{{ value.params }}" {% if selecteds[option.option_id] is defined %}
        {% for _value in selecteds[option.option_id].values %}
            {% if (_value.id==value.id) %}
              checked="checked"
            {% endif %}
        {% endfor %}
    {% endif %} class="ocf-target" id="{{ value.id }}_desk">
    <p>{{ value.name }} ({{ value.count }})</p>
  </label>

    {##}
  {#<label id="v-{{ value.id }}" class="ocf-selected" data-option-id="{{ option.option_id }}">#}
  {#<input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="{{ value.params }}" checked="checked" class="ocf-target" autocomplete="off" />#}
  {#{{ value.name }}#}
  {#{% if show_counter %}#}
  {#<small class="badge"></small>#}
  {#{% endif %}#}
{#</label>#}
{% elseif value.count %}

  <label for="{{ value.id }}_desk" id="mobile_v-{{ value.id }}" data-option-id="{{ option.option_id }}">
    <input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="{{ value.params }}" {% if selecteds[option.option_id] is defined %}
        {% for _value in selecteds[option.option_id].values %}
            {% if (_value.id==value.id) %}
              checked="checked"
            {% endif %}
        {% endfor %}
    {% endif %} class="ocf-target" id="{{ value.id }}_mobile">
    <p>{{ value.name }} ({{ value.count }})</p>
  </label>


{% else %}
  <label for="{{ value.id }}_desk" id="v-{{ value.id }}" data-option-id="{{ option.option_id }}">
    <input type="{{ option.type }}" name="ocf[{{ option.option_id }}]" value="{{ value.params }}" {% if selecteds[option.option_id] is defined %}
        {% for _value in selecteds[option.option_id].values %}
            {% if (_value.id==value.id) %}
              checked="checked"
            {% endif %}
        {% endfor %}
    {% endif %} class="ocf-target" autocomplete="off"  type="checkbox" id="{{ value.id }}_mobile">
    <p>{{ value.name }}</p>
  </label>


{% endif %}


