{% if show_price %}

    <div class="filter-item">
        <p>
            <span class="filter-item_label">Цена</span>
            <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z"
                      fill="black"/>
            </svg>
        </p>
        <div class="filter-block">
            <input type="text" class="js-range-slider" name="my_range" value=""/>
            <div class="filter-prices_inputs_wrapper">
                <input class="filter-prices_input" type="number" name="min-price_input" id="min-price_input"
                       value="{{ min_price_get }}">
                <span class="filter-prices_input_line"></span>
                <input class="filter-prices_input" type="number" name="min-price_input" id="max-price_input"
                       value="{{ max_price_get }}">
            </div>
        </div>
    </div>


    {##}
{#<div class="list-group-item ocfilter-option" data-toggle="popover-price">#}
  {#<div class="ocf-option-name">#}
		{#{{ text_price }}&nbsp;{{ symbol_left }}#}
    {#<span id="price-from">{{ min_price_get }}</span>&nbsp;-&nbsp;<span id="price-to">{{ max_price_get }}</span>{{ symbol_right }}#}
	{#</div>#}

  {#<div class="ocf-option-values">#}
		{#<div id="scale-price" class="scale ocf-target" data-option-id="p"#}
      {#data-start-min="{{ min_price_get }}"#}
      {#data-start-max="{{ max_price_get }}"#}
      {#data-range-min="{{ min_price }}"#}
      {#data-range-max="{{ max_price }}"#}
      {#data-element-min="#price-from"#}
      {#data-element-max="#price-to"#}
      {#data-control-min="#min-price-value"#}
      {#data-control-max="#max-price-value"#}
    {#></div>#}
  {#</div>#}
{#</div>#}
{% endif %}