<div class="filter-item">
  <p>
    <span class="filter-item_label">xsxsx{{ option.name }}</span>
    <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.8753 5.50024C6.24052 5.79242 6.75948 5.79242 7.12469 5.50024L11.7739 1.78087C12.5121 1.19036 12.0945 0 11.1492 0L1.85078 0C0.905503 0 0.487947 1.19036 1.22609 1.78087L5.8753 5.50024Z"
            fill="black"/>
    </svg>
  </p>
  {#<div id="type_of_shoes" class="filter-block">#}



    {% include 'default/template/extension/module/ocfilter/value_list.twig' %}


    {#<label for="Балетки_desk">#}
      {#<input type="checkbox" name="Балетки_desk" id="Балетки_desk">#}
      {#<p>Балетки</p>#}
    {#</label>#}
    {#<label for="Босоножки_desk">#}
      {#<input type="checkbox" name="Босоножки_desk" id="Босоножки_desk">#}
      {#<p>Босоножки</p>#}
    {#</label>#}
    {#<label for="Ботинки_desk">#}
      {#<input type="checkbox" name="Ботинки_desk" id="Ботинки_desk">#}
      {#<p>Ботинки</p>#}
    {#</label>#}
    {#<label for="Бурки_desk">#}
      {#<input type="checkbox" name="Бурки_desk" id="Бурки_desk">#}
      {#<p>Бурки</p>#}
    {#</label>#}
    {#<label for="Дутики_desk">#}
      {#<input type="checkbox" name="Дутики_desk" id="Дутики_desk">#}
      {#<p>Дутики</p>#}
    {#</label>#}
    {#<label for="Луноходы_desk">#}
      {#<input type="checkbox" name="Луноходы_desk" id="Луноходы_desk">#}
      {#<p>Луноходы</p>#}
    {#</label>#}
    {#<label for="Полусапоги_desk">#}
      {#<input type="checkbox" name="Полусапоги_desk" id="Полусапоги_desk">#}
      {#<p>Полусапоги</p>#}
    {#</label>#}
    {#<label for="Сабо">#}
      {#<input type="checkbox" name="Сабо_desk" id="Сабо_desk">#}
      {#<p>Сабо</p>#}
    {#</label>#}
    {#<label for="Сапоги резиновые_desk">#}
      {#<input type="checkbox" name="Сапоги резиновые_desk" id="Сапоги резиновые_desk">#}
      {#<p>Сапоги резиновые</p>#}
    {#</label>#}
    {#<label for="Сникерсы_desk">#}
      {#<input type="checkbox" name="Сникерсы_desk" id="Сникерсы_desk">#}
      {#<p>Сникерсы</p>#}
    {#</label>#}
    {#<label for="Туфли_desk">#}
      {#<input type="checkbox" name="Туфли_desk" id="Туфли_desk">#}
      {#<p>Туфли</p>#}
    {#</label>#}
  {#</div>#}
</div>




{#<div class="list-group-item ocfilter-option" id="option-{{ option.option_id }}">#}
  {#<div class="ocf-option-name">#}
    {#{{ option.name }}#}

		{#{% if option.type == 'slide' or option.type == 'slide_dual' %}#}
    {#<span id="left-value-{{ option.option_id }}">{{ option.slide_value_min_get }}</span>#}
		{#{% if option.type == 'slide_dual' %}#}
		{#-&nbsp;<span id="right-value-{{ option.option_id }}">{{ option.slide_value_max_get }}</span>#}
		{#{% endif %}#}
    {#{{ option.postfix }}#}
    {#{% endif %}#}
  {#</div>#}

  {#<div class="ocf-option-values">#}
    {#{% if option.type == 'slide' or option.type == 'slide_dual' %}#}
    {#{% include 'default/template/extension/module/ocfilter/filter_slider_item.twig' %}#}
    {#{% else %}#}

    {#{% if option.selectbox %}#}
    {#<div class="dropdown">#}
      {#<button class="btn btn-block btn-{{ (selecteds[option.option_id] is defined) ? 'warning' : 'default' }} dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">#}
        {#<i class="pull-right fa fa-angle-down"></i>#}
        {#<span class="pull-left text-left">#}
        	{#{% if selecteds[option.option_id] is defined %}#}

          {#{% for value in selecteds[option.option_id].values %}#}
          {#{{ value.name }}<br />#}
					{#{% endfor %}#}

        	{#{% else %}#}
        	{#{{ text_any }}#}
          {#{% endif %}#}
        {#</span>#}
      {#</button>#}
      {#<div class="dropdown-menu">#}
        {#{% include 'default/template/extension/module/ocfilter/value_list.twig' %}#}
      {#</div>#}
    {#</div>#}
    {#{% else %}#}
    {#{% include 'default/template/extension/module/ocfilter/value_list.twig' %}#}
    {#{% endif %}#}

    {#{% endif %}#}
  {#</div>#}
{#</div>#}