{% if options or show_price %}




    <div class="main-desktop-filter" id="ocfilter">


        {% include 'default/template/extension/module/ocfilter/filter_subcategories.twig' %}

        {% include 'default/template/extension/module/ocfilter/filter_price.twig' %}

        {% include 'default/template/extension/module/ocfilter/filter_list.twig' %}

        {% include 'default/template/extension/module/ocfilter/selected_filter.twig' %}


    </div>

    {% if (isMobile) %}
        <div class="main-mobile-filter">
            <div class="main-mobile-filter_header">
                <h2>Фильтр</h2>
                <img class="main-mobile-filter-close" src="/catalog/view/theme/shlepki/img/icons/cross.svg" alt="">
            </div>
            <div class="main-mobile-filter-wrapper ocfilter-mobile1">
                {% include 'default/template/extension/module/ocfilter/filter_price_mobile.twig' %}
                {% include 'default/template/extension/module/ocfilter/filter_list_mobile.twig' %}
            </div>
            {% include 'default/template/extension/module/ocfilter/selected_filter_mobile.twig' %}

        </div>
    {% endif %}






    <script type="text/javascript"><!--


        $(function () {
            $(document).ready(function () {
                //$('body').append($('.ocfilter-mobile').remove().get(0).outerHTML);

                var options = {
                    mobile: $('.ocfilter-mobile').is(':visible'),
                    php: {
                        searchButton: {{ search_button ? 'true' : 'false' }},
                        showPrice: {{ show_price ? 'true' : 'false' }},
                        showCounter: {{ show_counter ? 'true' : 'false' }},
                        manualPrice: {{ manual_price ? 'true' : 'false' }},
                        search:'{{ search }}',
                        manufacturer_id:'{{ manufacturer_id }}',
                        link: '{{ link }}',
                        path: '{{ path }}',
                        type: '{{ type }}',
                        params: '{{ params }}',
                        index: '{{ index }}'
                    },
                    text: {
                        show_all: '{{ text_show_all }}',
                        hide: '{{ text_hide }}',
                        load: '{{ text_load }}',
                        any: '{{ text_any }}',
                        select: '{{ button_select }}'
                    }
                };

                if (options.mobile) {
                    $('.ocf-offcanvas-body').html($('#ocfilter').remove().get(0).outerHTML);
                }

                $('[data-toggle="offcanvas"]').on('click', function (e) {
                    $(this).toggleClass('active');
                    $('body').toggleClass('modal-open');
                    $('.ocfilter-mobile').toggleClass('active');
                });

                setTimeout(function () {
                    console.log('ocfilter options');
                    console.log(options);
                    $('#ocfilter').ocfilter(options);
                }, 1);
            });
        });



        {#$(function () {#}
        {#$('body').append($('.ocfilter-mobile').remove().get(0).outerHTML);#}

        {#var options = {#}
        {#mobile: $('.ocfilter-mobile').is(':visible'),#}
        {#php: {#}
        {#searchButton: {{ search_button ? 'true' : 'false' }},#}
        {#showPrice: {{ show_price ? 'true' : 'false' }},#}
        {#showCounter: {{ show_counter ? 'true' : 'false' }},#}
        {#manualPrice: {{ manual_price ? 'true' : 'false' }},#}
        {#link: '{{ link }}',#}
        {#path: '{{ path }}',#}
        {#params: '{{ params }}',#}
        {#index: '{{ index }}'#}
        {#},#}
        {#text: {#}
        {#show_all: '{{ text_show_all }}',#}
        {#hide: '{{ text_hide }}',#}
        {#load: '{{ text_load }}',#}
        {#any: '{{ text_any }}',#}
        {#select: '{{ button_select }}'#}
        {#}#}
        {#};#}

        {#if (options.mobile) {#}
        {#$('.ocf-offcanvas-body').html($('#ocfilter').remove().get(0).outerHTML);#}
        {#}#}

        {#$('[data-toggle="offcanvas"]').on('click', function (e) {#}
        {#$(this).toggleClass('active');#}
        {#$('body').toggleClass('modal-open');#}
        {#$('.ocfilter-mobile').toggleClass('active');#}
        {#});#}

        {#setTimeout(function () {#}
        {#$('#ocfilter').ocfilter(options);#}
        {#}, 1);#}
        {#});#}
        //--></script>



{% endif %}