{{ header }}

<main class="contacts">
  <div class="main-bread-crumbs">
    <div class="main-bread-crumbs_wrapper">

        {% for breadcrumb in breadcrumbs %}
            {% if (breadcrumbs|length== loop.index) %}
              <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% else %}
              <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
              <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
            {% endif %}
        {% endfor %}


    </div>
  </div>
  <div class="container">
    <div class="aboutus__header">
      <a href="/about" class="aboutus__header_item">
        <div class="aboutus__header_item_img">
          <img src="/catalog/view/theme/shlepki/img/aboutus/1.svg" alt="">
        </div>
        <div class="aboutus__header_item_title">
          <p>О нас</p>
        </div>
      </a>
      <a href="/delivery" class="aboutus__header_item">
        <div class="aboutus__header_item_img">
          <img src="/catalog/view/theme/shlepki/img/aboutus/2.svg" alt="">
        </div>
        <div class="aboutus__header_item_title">
          <p>Доставка и оплата</p>
        </div>
      </a>
      <a href="/refund" class="aboutus__header_item">
        <div class="aboutus__header_item_img">
          <img src="/catalog/view/theme/shlepki/img/aboutus/3.svg" alt="">
        </div>
        <div class="aboutus__header_item_title">
          <p>Обмен и возврат</p>
        </div>
      </a>
      <a href="/contact" class="aboutus__header_item active">
        <div class="aboutus__header_item_img">
          <img src="/catalog/view/theme/shlepki/img/aboutus/4.svg" alt="">
        </div>
        <div class="aboutus__header_item_title">
          <p>Контакты</p>
        </div>
      </a>
    </div>
  </div>
  <div class="aboutus__wrap">
    <div class="container">
      <div class="aboutus__title">
        <h1>Контакты</h1>
      </div>
      <div class="contacts__wrap">
        <div class="contacts__info">
          <div class="contacts__info_item">
            <i class="i-location"></i>
            <p>Одесса, Промрынок 7км</p>
          </div>
          <div class="contacts__info_item">
            <i class="i-time"></i>
            <p>ПН-ВС с 10:00 до 19:00</p>
          </div>
          <div class="contacts__info_item">
            <i class="i-phone"></i>
            <p>
              <a href="tel:+ 38 050 786 99 84">{{ telephone }}</a>
            </p>
          </div>
          <div class="contacts__info_item">
            <i class="i-mail"></i>
            <p>
              <a href="mailto:info@shlepki.com">info@shlepki.com</a>
            </p>
          </div>
        </div>
        <div class="contacts__form">
          <div class="contacts__form_title">
            <p>Написать нам</p>
          </div>
          <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <p>{{ entry_email }}</p>
            <input type="text" name="email" value="{{ email }}" id="input-email" />
              {% if error_email %}
                <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            <p>{{ entry_name }}</p>
            <input type="text" name="name" value="{{ name }}" id="input-name" />
              {% if error_name %}
                <div class="text-danger">{{ error_name }}</div>
              {% endif %}

            {#<input type="text" placeholder="Введиете ваше имя">#}
            <p>{{ entry_enquiry }}</p>
            <textarea name="enquiry" rows="10" id="input-enquiry" >{{ enquiry }}</textarea>
              {% if error_enquiry %}
                <div class="text-danger">{{ error_enquiry }}</div>
              {% endif %}
            <input type="submit" value="Отправить"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>



{#<div id="information-contact" class="container">#}
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}#}
      {#<h1>{{ heading_title }}</h1>#}
      {#<h3>{{ text_location }}</h3>#}
      {#<div class="panel panel-default">#}
        {#<div class="panel-body">#}
          {#<div class="row">#}
            {#{% if image %}#}
            {#<div class="col-sm-3"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-thumbnail" /></div>#}
            {#{% endif %}#}
            {#<div class="col-sm-3"><strong>{{ store }}</strong><br />#}
              {#<address>#}
              {#{{ address }}#}
              {#</address>#}
              {#{% if geocode %}#}
              {#<a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>#}
              {#{% endif %}#}
            {#</div>#}
            {#<div class="col-sm-3"><strong>{{ text_telephone }}</strong><br>#}
              {#{{ telephone }}<br />#}
              {#<br />#}
              {#{% if fax %}#}
              {#<strong>{{ text_fax }}</strong><br>#}
              {#{{ fax }}#}
              {#{% endif %}#}
            {#</div>#}
            {#<div class="col-sm-3">#}
              {#{% if open %}#}
              {#<strong>{{ text_open }}</strong><br />#}
              {#{{ open }}<br />#}
              {#<br />#}
              {#{% endif %}#}
              {#{% if comment %}#}
              {#<strong>{{ text_comment }}</strong><br />#}
              {#{{ comment }}#}
              {#{% endif %}#}
            {#</div>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
      {#{% if locations %}#}
      {#<h3>{{ text_store }}</h3>#}
      {#<div class="panel-group" id="accordion">#}
        {#{% for location in locations %}#}
        {#<div class="panel panel-default">#}
          {#<div class="panel-heading">#}
            {#<h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>#}
          {#</div>#}
          {#<div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">#}
            {#<div class="panel-body">#}
              {#<div class="row">#}
                {#{% if location.image %}#}
                {#<div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail" /></div>#}
                {#{% endif %}#}
                {#<div class="col-sm-3"><strong>{{ location.name }}</strong><br />#}
                  {#<address>#}
                  {#{{ location.address }}#}
                  {#</address>#}
                  {#{% if location.geocode %}#}
                  {#<a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>#}
                  {#{% endif %}#}
                {#</div>#}
                {#<div class="col-sm-3"> <strong>{{ text_telephone }}</strong><br>#}
                  {#{{ location.telephone }}<br />#}
                  {#<br />#}
                  {#{% if location.fax %}#}
                  {#<strong>{{ text_fax }}</strong><br>#}
                  {#{{ location.fax }}#}
                  {#{% endif %}#}
                {#</div>#}
                {#<div class="col-sm-3">#}
                  {#{% if location.open %}#}
                  {#<strong>{{ text_open }}</strong><br />#}
                  {#{{ location.open }}<br />#}
                  {#<br />#}
                  {#{% endif %}#}
                  {#{% if location.comment %}#}
                  {#<strong>{{ text_comment }}</strong><br />#}
                  {#{{ location.comment }}#}
                  {#{% endif %}#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
          {#</div>#}
        {#</div>#}
        {#{% endfor %}#}
      {#</div>#}
      {#{% endif %}#}
      {#<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">#}
        {#<fieldset>#}
          {#<legend>{{ text_contact }}</legend>#}
          {#<div class="form-group required">#}
            {#<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>#}
            {#<div class="col-sm-10">#}
              {#<input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />#}
              {#{% if error_name %}#}
              {#<div class="text-danger">{{ error_name }}</div>#}
              {#{% endif %}#}
            {#</div>#}
          {#</div>#}
          {#<div class="form-group required">#}
            {#<label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>#}
            {#<div class="col-sm-10">#}
              {#<input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />#}
              {#{% if error_email %}#}
              {#<div class="text-danger">{{ error_email }}</div>#}
              {#{% endif %}#}
            {#</div>#}
          {#</div>#}
          {#<div class="form-group required">#}
            {#<label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}</label>#}
            {#<div class="col-sm-10">#}
              {#<textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>#}
              {#{% if error_enquiry %}#}
              {#<div class="text-danger">{{ error_enquiry }}</div>#}
              {#{% endif %}#}
            {#</div>#}
          {#</div>#}
          {#{{ captcha }}#}
        {#</fieldset>#}
        {#<div class="buttons">#}
          {#<div class="pull-right">#}
            {#<input class="btn btn-primary" type="submit" value="{{ button_submit }}" />#}
          {#</div>#}
        {#</div>#}
      {#</form>#}
      {#{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}
{{ footer }}
