{{ header }}

<main class="aboutus">
  <div class="main-bread-crumbs">
    <div class="main-bread-crumbs_wrapper">
        {% for breadcrumb in breadcrumbs %}
            {% if (breadcrumbs|length== loop.index) %}
              <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% else %}
              <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
              <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
            {% endif %}
        {% endfor %}

    </div>
  </div>

  <div class="container">
    <div class="aboutus__header">
      <a href="/about" class="aboutus__header_item">
        <div class="aboutus__header_item_img">
          <img src="/catalog/view/theme/shlepki/img/aboutus/1.svg" alt="">
        </div>
        <div class="aboutus__header_item_title">
          <p>О нас</p>
        </div>
      </a>
      <a href="/delivery" class="aboutus__header_item">
        <div class="aboutus__header_item_img">
          <img src="/catalog/view/theme/shlepki/img/aboutus/2.svg" alt="">
        </div>
        <div class="aboutus__header_item_title">
          <p>Доставка и оплата</p>
        </div>
      </a>
      <a href="/refund" class="aboutus__header_item">
        <div class="aboutus__header_item_img">
          <img src="/catalog/view/theme/shlepki/img/aboutus/3.svg" alt="">
        </div>
        <div class="aboutus__header_item_title">
          <p>Обмен и возврат</p>
        </div>
      </a>
      <a href="/contact" class="aboutus__header_item">
        <div class="aboutus__header_item_img">
          <img src="/catalog/view/theme/shlepki/img/aboutus/4.svg" alt="">
        </div>
        <div class="aboutus__header_item_title">
          <p>Контакты</p>
        </div>
      </a>
    </div>
  </div>

  {##}
  {#<div class="container">#}
    {#<div class="aboutus__header">#}
      {#<a href="aboutus.html" class="aboutus__header_item active">#}
        {#<div class="aboutus__header_item_img">#}
          {#<img src="img/aboutus/1.svg" alt="">#}
        {#</div>#}
        {#<div class="aboutus__header_item_title">#}
          {#<p>О нас</p>#}
        {#</div>#}
      {#</a>#}
      {#<a href="delivery.html" class="aboutus__header_item">#}
        {#<div class="aboutus__header_item_img">#}
          {#<img src="img/aboutus/2.svg" alt="">#}
        {#</div>#}
        {#<div class="aboutus__header_item_title">#}
          {#<p>Доставка и оплата</p>#}
        {#</div>#}
      {#</a>#}
      {#<a href="obmen.html" class="aboutus__header_item">#}
        {#<div class="aboutus__header_item_img">#}
          {#<img src="img/aboutus/3.svg" alt="">#}
        {#</div>#}
        {#<div class="aboutus__header_item_title">#}
          {#<p>Обмен и возврат</p>#}
        {#</div>#}
      {#</a>#}
      {#<a href="contacts.html" class="aboutus__header_item">#}
        {#<div class="aboutus__header_item_img">#}
          {#<img src="img/aboutus/4.svg" alt="">#}
        {#</div>#}
        {#<div class="aboutus__header_item_title">#}
          {#<p>Контакты</p>#}
        {#</div>#}
      {#</a>#}
    {#</div>#}
  {#</div>#}

  <div class="aboutus__wrap">
    <div class="container">
      <div class="aboutus__title">
        <h1{{ heading_title }}</h1>
      </div>

        {{ description }}{{ content_bottom }}


    </div>
  </div>
</main>



{#<div id="information-information" class="container">#}
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}#}
      {#<h1>{{ heading_title }}</h1>#}
      {#{{ description }}{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}




{{ footer }}