<ul>
          <li>
            <a class="{% if active == 'account' %} active{% endif %}" href="{{ account }}"><i class="i-account"></i> Личный данные</a>
          </li>
          <li>
            <a class="{% if active == 'wishlist' %} active{% endif %}" href="{{ wishlist }}"><i class="i-favorite"></i> Избранное</a>
          </li>
          <li>
            <a class="{% if active == 'order' %} active{% endif %}" href="{{ order }}"><i class="i-myorders"></i> Мои заказы</a>
          </li>
          {#<li>#}
            {#<a class="{% if active == 'viewed' %} active{% endif %}" href="{{ viewed }}"><i class="i-viewed"></i> Просмотренные товары</a>#}
          {#</li>#}
        </ul>





{#<nav class="side-menu">#}
  {#<ul class="side-menu__list">#}
  {#<li class="side-menu__list-item-wrapper wrapper_account_balance" style="padding-top: 10px;">#}


              {#<span class="side-menu__item-text text_account_balance" >{{ text_balance }}: {{ balance }}</span>#}

          {#</li>#}
    {#<li class="side-menu__list-item-wrapper">#}
      {#<a class="side-menu__list-item {% if active == 'order' %} side-menu__list-item--active{% endif %}" href="{{ order }}">#}
        {#<span class="side-menu__item-icon-wrapper side-menu__item-icon-wrapper--orders">#}
          {#<span class="side-menu__item-icon side-menu__item-icon--orders"></span>#}
        {#</span>#}
        {#<span class="side-menu__item-text">{{ text_my_orders }}</span>#}
      {#</a>#}
    {#</li>#}
    {#<li class="side-menu__list-item-wrapper">#}
      {#<a class="side-menu__list-item {% if active == 'wishlist' %} side-menu__list-item--active{% endif %}" href="{{ wishlist }}">#}
        {#<span class="side-menu__item-icon-wrapper side-menu__item-icon-wrapper--favorites">#}
          {#<span class="side-menu__item-icon side-menu__item-icon--favorites"></span>#}
        {#</span>#}
        {#<span class="side-menu__item-text">{{ text_wishlist }}</span>#}
      {#</a>#}
    {#</li>#}
    {#<li class="side-menu__list-item-wrapper">#}
      {#<a class="side-menu__list-item {% if active == 'viewed' %} side-menu__list-item--active{% endif %}" href="{{ viewed }}">#}
        {#<span class="side-menu__item-icon-wrapper side-menu__item-icon-wrapper--viewed">#}
          {#<span class="side-menu__item-icon side-menu__item-icon--viewed"></span>#}
        {#</span>#}
        {#<span class="side-menu__item-text">{{ text_viewed }}</span>#}
      {#</a>#}
    {#</li>#}
    {#<li class="side-menu__list-item-wrapper">#}
      {#<a class="side-menu__list-item {% if active == 'account' %} side-menu__list-item--active{% endif %}" href="{{ account }}">#}
        {#<span class="side-menu__item-icon-wrapper side-menu__item-icon-wrapper--settings">#}
          {#<span class="side-menu__item-icon side-menu__item-icon--settings"></span>#}
        {#</span>#}
        {#<span class="side-menu__item-text">{{ text_settings }}</span>#}
      {#</a>#}
    {#</li>#}
    {#<li class="side-menu__list-item-wrapper">#}
      {#<a class="side-menu__list-item" href="{{ logout }}">#}
        {#<span class="side-menu__item-icon-wrapper side-menu__item-icon-wrapper--exit">#}
          {#<span class="side-menu__item-icon side-menu__item-icon--exit"></span>#}
        {#</span>#}
        {#<span class="side-menu__item-text">{{ text_logout }}</span>#}
      {#</a>#}
    {#</li>#}


  {#</ul>#}
{#</nav>#}
{#<style>#}


{#@media screen and (max-width: 2440px)#}
{#{#}
{#.wrapper_account_balance,.text_account_balance{#}
{#display:none;#}
{#}#}
{#}#}
{#@media screen and (max-width: 440px)#}
{#{#}
{#.text_account_balance{#}
    {#padding-left: 40px;#}

    {#font-size: 14px;#}

    {#color: #ff4040;#}
    {#font-weight:700;#}
    {#display:block;#}
{#}#}
{#}#}
{#</style>#}