{{ header }}


{#<div class="content__main">#}
    {#{{ heading }}#}
  {#<div class="profile-content">#}
    {#<aside class="profile-content__right-side">#}
      {#<div class="profile-content__mobile-heading">#}
                {#<span class="profile__mobile-heading-text">#}
                    {#{{ text_profile }}#}
                {#</span>#}
      {#</div>#}
        {#{{ account_nav }}#}
    {#</aside>#}
    {#<div class="profile-content__main">#}
        {#{{ edit_form }}#}
    {#</div>#}

  {#</div>#}
{#</div>#}



<main class="account-edit">
  <div class="main-bread-crumbs">
    <div class="main-bread-crumbs_wrapper">
      <a href="">Главная страница</a>
      <span><img src="img/icons/arrow_small.svg" alt=""></span>
      <a href="" class="main-bread-crumbs_active">Информация</a>
    </div>
  </div>
  <div class="container">
    <div class="account__title">
      <p>Личный кабинет</p>
    </div>
    <div class="account__wrap">
      <div class="account__menu">
        <ul>
          <li>
            <a class="active" href="account.html"><i class="i-account"></i> Личный данные</a>
          </li>
          <li>
            <a href="favorite.html"><i class="i-favorite"></i> Избранное</a>
          </li>
          <li>
            <a href="myorders.html"><i class="i-myorders"></i> Мои заказы</a>
          </li>
          <li>
            <a href="viewed.html"><i class="i-viewed"></i> Просмотренные товары</a>
          </li>
        </ul>
      </div>
      <div class="account__info">
        <div class="account__info_title">
          <p>Контактные данные</p>
        </div>
        <form action="" class="account-edit_form">
          <div class="wrap">
            <p>Имя</p>
            <input type="text" value="Леонид">
          </div>
          <div class="wrap">
            <p>Фамилия</p>
            <input type="text" value="Марквенко">
          </div>
          <div class="wrap">
            <p>Номер телефона</p>
            <input type="text" value="+38 (093) 676 35 35">
          </div>
          <div class="wrap">
            <p>Email</p>
            <input type="email" value="dfghjk@gmail.com">
          </div>
          <div class="account-edit_form_footer">
            <div class="canceling">отмена</div>
            <input type="submit" value="сохранить">
          </div>
        </form>
      </div>
      <div class="account__settings">
        <ul>
          <li>
            <a href="account-edit.html">Редактировать личные данные</a>
          </li>
          <li>
            <a href="">Изменить пароль</a>
          </li>
          <li>
            <a href="">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>



<main class="account">
  <div class="main-bread-crumbs">
    <div class="main-bread-crumbs_wrapper">
        {% for breadcrumb in breadcrumbs %}
            {% if (breadcrumbs|length== loop.index) %}
              <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% else %}
              <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
              <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
            {% endif %}
        {% endfor %}

      {#<a href="">Главная страница</a>#}
      {#<span><img src="img/icons/arrow_small.svg" alt=""></span>#}
      {#<a href="" class="main-bread-crumbs_active">Информация</a>#}
    </div>
  </div>
  <div class="container">
    <div class="account__title">
      <p>{{ text_profile }}</p>
    </div>
    <div class="account__wrap">
      <div class="account__menu">
          {{ account_nav }}

      </div>
      <div class="account__info">
        <div class="account__info_title">
          <p>Контактные данные</p>
        </div>
        <div class="account__info_items">
          <div class="account__info_item">
            <span>Имя</span>
            <p>Леонид</p>
          </div>
          <div class="account__info_item">
            <span>Фамилия</span>
            <p>Марквенко</p>
          </div>
          <div class="account__info_item">
            <span>Телефон</span>
            <p>+38 (093) 676 35 35</p>
          </div>
          <div class="account__info_item">
            <span>Email</span>
            <p>dfghjk@gmil.com</p>
          </div>
        </div>
      </div>
      <div class="account__settings">
        <ul>
          <li>
            <a href="account-edit.html">Редактировать личные данные</a>
          </li>
          <li>
            <a href="">Изменить пароль</a>
          </li>
          <li>
            <a href="">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>



{#<div id="account-account" class="container">#}
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#{% if success %}#}
  {#<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>#}
  {#{% endif %}#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}#}
      {#<h2>{{ text_my_account }}</h2>#}
      {#<ul class="list-unstyled">#}
        {#<li><a href="{{ edit }}">{{ text_edit }}</a></li>#}
        {#<li><a href="{{ password }}">{{ text_password }}</a></li>#}
        {#<li><a href="{{ address }}">{{ text_address }}</a></li>#}
        {#<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>#}
      {#</ul>#}
      {#{% if credit_cards %}#}
      {#<h2>{{ text_credit_card }}</h2>#}
      {#<ul class="list-unstyled">#}
        {#{% for credit_card in credit_cards %}#}
        {#<li><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>#}
        {#{% endfor %}#}
      {#</ul>#}
      {#{% endif %}#}
      {#<h2>{{ text_my_orders }}</h2>#}
      {#<ul class="list-unstyled">#}
        {#<li><a href="{{ order }}">{{ text_order }}</a></li>#}
        {#<li><a href="{{ download }}">{{ text_download }}</a></li>#}
        {#{% if reward %}#}
        {#<li><a href="{{ reward }}">{{ text_reward }}</a></li>#}
        {#{% endif %}#}
        {#<li><a href="{{ return }}">{{ text_return }}</a></li>#}
        {#<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>#}
        {#<li><a href="{{ recurring }}">{{ text_recurring }}</a></li>#}
      {#</ul>#}
      {#<h2>{{ text_my_affiliate }}</h2>#}
      {#<ul class="list-unstyled">#}
        {#{% if not tracking %}#}
        {#<li><a href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>#}
        {#{% else %}#}
        {#<li><a href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>#}
        {#<li><a href="{{ tracking }}">{{ text_tracking }}</a></li>#}
        {#{% endif %}#}
      {#</ul>#}
      {#<h2>{{ text_my_newsletter }}</h2>#}
      {#<ul class="list-unstyled">#}
        {#<li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>#}
      {#</ul>#}
      {#{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}
{{ footer }}