{{ header }}
<main class="account">
  <div class="main-bread-crumbs">
    <div class="main-bread-crumbs_wrapper">
        {% for breadcrumb in breadcrumbs %}
            {% if (breadcrumbs|length== loop.index) %}
              <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% else %}
              <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
              <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
            {% endif %}
        {% endfor %}

    </div>
  </div>
  <div class="container">
    <div class="account__title">
      <p>{{ text_profile }}</p>
    </div>
    <div class="account__wrap">
      <div class="account__menu">
          {{ account_nav }}

      </div>
      <div class="account__info">
        <div class="account__info_title">
          <p>Контактные данные</p>
        </div>
        <div class="account__info_items">
          <div class="account__info_item">
            <span>Имя</span>
            <p>{{ firstname }}</p>
          </div>
          <div class="account__info_item">
            <span>Фамилия</span>
            <p>{{ lastname }}</p>
          </div>
          <div class="account__info_item">
            <span>Телефон</span>
            <p>{{ telephone }}</p>
          </div>
          <div class="account__info_item">
            <span>Email</span>
            <p>{{ email }}</p>
          </div>
        </div>
      </div>
      <div class="account__settings">
        <ul>
          <li>
            <a href="/index.php?route=account/edit">Редактировать личные данные</a>
          </li>
          <li>
            <a href="/index.php?route=account/password">Изменить пароль</a>
          </li>
          <li>
            <a href="{{ logout }}">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>


{{ footer }}