{{ header }}


<main class="account-edit">
    <div class="main-bread-crumbs">
        <div class="main-bread-crumbs_wrapper">
            {% for breadcrumb in breadcrumbs %}
                {% if (breadcrumbs|length== loop.index) %}
                    <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                {% else %}
                    <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    <div class="container">
        <div class="account__title">
            <p>Личный кабинет</p>
        </div>
        <div class="account__wrap">
            <div class="account__menu">
                {{ account_nav }}

            </div>
            <div class="account__info">
                <div class="account__info_title">
                    <p>Контактные данные</p>
                </div>
                <form action="{{ action }}" method="post" class="account-edit_form">
                    <div class="wrap">
                        <p>{{ entry_lastname }}</p>
                        <input class="form__input" name="lastname" type="text" {% if lastname %}  value="{{ lastname }} "{% endif %} />
                    </div>
                    <div class="wrap">
                        <p>{{ entry_firstname }}</p>
                        <input class="form__input" name="firstname" type="text" {% if firstname %}  value="{{ firstname }} "{% endif %} />
                    </div>
                    <div class="wrap">
                        <p>{{ entry_telephone }}</p>
                        <input class="form__input form__input--phone" name="telephone" type="tel" {% if telephone %}  value="{{ telephone }} "{% endif %} />
                    </div>
                    <div class="wrap">
                        <p>{{ entry_email }}</p>
                        <input class="form__input" name="email" type="email" {% if email %}  value="{{ email }} "{% endif %} />
                    </div>
                    <div class="account-edit_form_footer">
						<a href="{{ back }}" class="canceling">отмена</a>
                        <input type="submit" value="сохранить">
                    </div>
                </form>
            </div>
            <div class="account__settings">
				<ul>
					<li>
						<a href="/index.php?route=account/edit">Редактировать личные данные</a>
					</li>
					<li>
						<a href="/index.php?route=account/password">Изменить пароль</a>
					</li>
					<li>
						<a href="{{ logout }}">Выйти</a>
					</li>
				</ul>
            </div>
        </div>
    </div>
</main>



<script type="text/javascript"><!--
// Sort the custom fields
$('.form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.form-group').length) {
		$('.form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('.form-group').length) {
		$('.form-group:first').before(this);
	}
});
//--></script>
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(element).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});
//--></script>
{{ footer }}
