{{ header }}

<main>
<div class="popup__wrap" style="opacity:1;max-width:100%;">

    <div class="popup__title">
        <p>{{ heading_title }}</p>
    </div>
    <div class="popup__content">


        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">

            <div class="wrap__row">
                <div class="wrap">
                    <p>{{ entry_email }}</p>
                    <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email"
                           class="form-control"/>

                </div>
            </div>

            <div style="text-align:center;margin:20px 0px;">
            {% if success %}
                <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
            {% endif %}
            {% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i
                            class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
            {% endif %}
            </div>


            <div class="account-edit_form_footer">
                <input type="submit" value="{{ button_continue }}" class="btn btn-primary"/>
            </div>
        </form>


    </div>
</div></main>

{{ footer }}

{#{{ header }}#}
{#<div id="account-forgotten" class="container">#}
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#{% if error_warning %}#}
  {#<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>#}
  {#{% endif %}#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}#}
      {#<h1>{{ heading_title }}</h1>#}
      {#<p>{{ text_email }}</p>#}
      {#<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">#}
        {#<fieldset>#}
          {#<legend>{{ text_your_email }}</legend>#}
          {#<div class="form-group required">#}
            {#<label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>#}
            {#<div class="col-sm-10">#}
              {#<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />#}
            {#</div>#}
          {#</div>#}
        {#</fieldset>#}
        {#<div class="buttons clearfix">#}
          {#<div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>#}
          {#<div class="pull-right">#}
            {#<input type="submit" value="{{ button_continue }}" class="btn btn-primary" />#}
          {#</div>#}
        {#</div>#}
      {#</form>#}
      {#{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}
{#{{ footer }}#}