{{ header }}

<main>
<div class="popup__wrap" style="opacity:1;max-width:100%;">

  <div class="popup__title">
    <p>Вход</p>
  </div>
  <div class="popup__content">
      {% if success %}
      <div class="alert alert-success alert-dismissible" style="padding:0px 20px 20px 20px"><i class="fa fa-check-circle"></i> {{ success }}</div>
      {% endif %}
      {% if error_warning %}
      <div class="alert alert-danger alert-dismissible" style="padding:0px 20px 20px 20px"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
      {% endif %}

    <form action="{{ action_login }}" method="post" enctype="multipart/form-data">
      <div class="wrap__row">
        <div class="wrap"  style="width:80%">
          <p>Email</p>
          <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" />
            {#<input type="email" placeholder="Введиете ваш Email">#}
        </div>
      </div>
      <div class="wrap__row">
        <div class="wrap" style="width:80%">
          <p>Пароль</p>
          <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-control" />


            {#<input type="password" placeholder="Введиете ваш пароль">#}
        </div>
        <div class="forgot-pass" style="text-align:left;">
          <a href="javascript:void(0)" onCLick="openModal('popup-change-pass');">{{ text_forgotten }}</a>
            {#<p>забыли пароль?</p>#}

            {#{{ forgotten }}#}
        </div>
      </div>
      <div class="account-edit_form_footer">

        <a class="canceling" href="{{ register }}">Зарегистрироватся</a>
        <input type="submit" value="{{ button_login }}" class="btn btn-primary" />
          {#<input type="submit" value="Войти">#}
      </div>
    </form>
  </div>
</div>
{#<div id="account-login" class="container">#}
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#{% if success %}#}
  {#<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>#}
  {#{% endif %}#}
  {#{% if error_warning %}#}
  {#<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>#}
  {#{% endif %}#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}#}
      {#<div class="row">#}
        {#<div class="col-sm-6">#}
          {#<div class="well">#}
            {#<h2>{{ text_new_customer }}</h2>#}
            {#<p><strong>{{ text_register }}</strong></p>#}
            {#<p>{{ text_register_account }}</p>#}
            {#<a href="{{ register }}" class="btn btn-primary">{{ button_continue }}</a></div>#}
        {#</div>#}
        {#<div class="col-sm-6">#}
          {#<div class="well">#}
            {#<h2>{{ text_returning_customer }}</h2>#}
            {#<p><strong>{{ text_i_am_returning_customer }}</strong></p>#}
            {#<form action="{{ action }}" method="post" enctype="multipart/form-data">#}
              {#<div class="form-group">#}
                {#<label class="control-label" for="input-email">{{ entry_email }}</label>#}
                {#<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />#}
              {#</div>#}
              {#<div class="form-group">#}
                {#<label class="control-label" for="input-password">{{ entry_password }}</label>#}
                {#<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />#}
                {#<a href="{{ forgotten }}">{{ text_forgotten }}</a></div>#}
              {#<input type="submit" value="{{ button_login }}" class="btn btn-primary" />#}
              {#{% if redirect %}#}
              {#<input type="hidden" name="redirect" value="{{ redirect }}" />#}
              {#{% endif %}#}
            {#</form>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
      {#{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}
</main>
{{ footer }}