{{ header }}
<style>
  .myorders__item_body{
    display:block;
  }
</style>

<main class="myorders">
  <div class="main-bread-crumbs">
    <div class="main-bread-crumbs_wrapper">
        {% for breadcrumb in breadcrumbs %}
            {% if (breadcrumbs|length== loop.index) %}
              <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% else %}
              <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
              <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
            {% endif %}
        {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="account__title">
      <p>{{ heading_title }}</p>
    </div>
    <div class="account__wrap">
      <div class="account__menu">
          {{ account_nav }}
      </div>
      <div class="myorders__container">
          {% if orders %}

        <ul class="accordion">

            {% for key, order in orders %}

              <li data-ajax-handler="{{ order.view }}"  class="table__row--acordeon">
                <div class="myorders__item">
                  <button class="accordion-control myorders__item_header">
                    <div class="myorders__item_header_num">
                      <p>№ {{ order.order_id }}</p>
                    </div>
                    <div class="myorders__item_header_date">
                      <p>{{ order.date_added }}</p>
                    </div>
                    <div class="myorders__item_header_info">
                      <p>{{ order.total }}</p>
                      {#3 товар на 480.00 ₴#}
                    </div>
                    <div class="myorders__item_header_stat green">
                      <p>{{ order.status }}</p>
                    </div>
                    <div class="myorders__item_header_icon">
                      <i class="i-arrow"></i>
                    </div>

                    <div class="myorders__item_header_mobile">
                      <div class="myorders__item_header_mobile_num">
                        <p>№ {{ order.order_id }}</p>
                      </div>
                      <div class="myorders__item_header_mobile_icon">
                        <i class="i-arrow"></i>
                      </div>
                      <div class="myorders__item_header_mobile_date">
                        <p>{{ order.date_added }}</p>
                      </div>
                      <div class="myorders__item_header_mobile_info">
                        <p>{{ order.total }} </p>
                      </div>
                      <div class="myorders__item_header_mobile_stat green">
                        <p>{{ order.status }}</p>
                      </div>
                    </div>
                  </button>

                </div>
              </li>

            {% endfor %}



        </ul>

          {% else %}
            <p>{{ text_empty }}</p>
          {% endif %}

      </div>
    </div>
  </div>
</main>



{#<div id="account-order" class="container">#}
  {#<ul class="breadcrumb">#}
    {#{% for breadcrumb in breadcrumbs %}#}
    {#<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#<div class="row">{{ column_left }}#}
    {#{% if column_left and column_right %}#}
    {#{% set class = 'col-sm-6' %}#}
    {#{% elseif column_left or column_right %}#}
    {#{% set class = 'col-sm-9' %}#}
    {#{% else %}#}
    {#{% set class = 'col-sm-12' %}#}
    {#{% endif %}#}
    {#<div id="content" class="{{ class }}">{{ content_top }}#}
      {#<h1>{{ heading_title }}</h1>#}
      {#{% if orders %}#}
      {#<div class="table-responsive">#}
        {#<table class="table table-bordered table-hover">#}
          {#<thead>#}
            {#<tr>#}
              {#<td class="text-right">{{ column_order_id }}</td>#}
              {#<td class="text-left">{{ column_customer }}</td>#}
              {#<td class="text-right">{{ column_product }}</td>#}
              {#<td class="text-left">{{ column_status }}</td>#}
              {#<td class="text-right">{{ column_total }}</td>#}
              {#<td class="text-left">{{ column_date_added }}</td>#}
              {#<td></td>#}
            {#</tr>#}
          {#</thead>#}
          {#<tbody>#}
           {#{% for order in orders %}#}
            {#<tr>#}
              {#<td class="text-right">#{{ order.order_id }}</td>#}
              {#<td class="text-left">{{ order.name }}</td>#}
              {#<td class="text-right">{{ order.products }}</td>#}
              {#<td class="text-left">{{ order.status }}</td>#}
              {#<td class="text-right">{{ order.total }}</td>#}
              {#<td class="text-left">{{ order.date_added }}</td>#}
              {#<td class="text-right"><a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>#}
            {#</tr>#}
            {#{% endfor %}#}
          {#</tbody>#}
        {#</table>#}
      {#</div>#}
      {#<div class="row">#}
        {#<div class="col-sm-6 text-left">{{ pagination }}</div>#}
        {#<div class="col-sm-6 text-right">{{ results }}</div>#}
      {#</div>#}
      {#{% else %}#}
      {#<p>{{ text_empty }}</p>#}
      {#{% endif %}#}
      {#<div class="buttons clearfix">#}
        {#<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>#}
      {#</div>#}
      {#{{ content_bottom }}</div>#}
    {#{{ column_right }}</div>#}
{#</div>#}
{{ footer }}
