<div class="accordion-panel  myorders__item_body table__acordeon-content">
    {% for product in products %}
        <div class="basket__list_item">
            <div class="basket__list_item_img">
                <a href="{{ product.href }}">
                    <img src="{{ product.image }}" alt="image"/>
                </a>
            </div>
            <div class="basket__list_item_name">
                <p>
                    <a href="{{ product.href }}">
                        {{ product.name }}
                    </a></p>
            </div>
            <div class="basket__list_item_kod">
                <p>{{ product.model }}</p>
            </div>
            <div class="basket__list_item_price">
                <p>{{ product.price }}</p>
            </div>
            <div class="basket__list_item_counter">
                <p>кол {{ product.quantity }}</p>
            </div>
            <div class="basket__list_item_summ">
                <p>{{ product.total }}</p>
            </div>


            <div class="basket__list_item_mobile">
                <div class="basket__list_item_mobile_img">
                    <a href="{{ product.href }}">
                        <img src="{{ product.image }}" alt="image"/>
                    </a>
                </div>
                <div class="basket__list_item_mobile_content">
                    <div class="basket__list_item_mobile_name">
                        <a href="{{ product.href }}">
                            {{ product.name }}
                        </a>
                    </div>
                    <div class="basket__list_item_mobile_kod">
                        <p>{{ product.model }}</p>
                    </div>
                    <div class="basket__list_item_mobile_price">
                        <p>{{ product.price }}</p>
                    </div>
                    <div class="basket__list_item_mobile_counter">
                        <p>кол {{ product.quantity }}</p>
                    </div>
                    <div class="basket__list_item_mobile_summ">
                        <p>{{ product.total }}</p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    <div class="myorders__item_body_footer">

        <div class="myorders__item_body_footer_info">
            {#{% if payment_method %} <b>{{ text_payment_method }}</b> {{ payment_method }}<br />#}
            {#{% endif %}#}
            {#{% if shipping_method %} <b>{{ text_shipping_method }}</b> {{ shipping_method }} {% endif %}#}
            {##}
            <p>{% if shipping_address %}
                    {{ text_shipping_address }}:<br/> {{ shipping_address }}
                {% endif %}
                {#Самовывоз из Новой Почты#}
                {#Одесса, Отделение №3, ул. Дальницкая, д.23/4#}
            </p>
        </div>
        <div class="myorders__item_body_footer_price">
            <p>Итого к оплате:</p>
            <span>{{ totals[1].text }}</span>
        </div>
    </div>
</div>
