{{ header }}



<main class="account-edit">
  <div class="main-bread-crumbs">
    <div class="main-bread-crumbs_wrapper">
        {% for breadcrumb in breadcrumbs %}
            {% if (breadcrumbs|length== loop.index) %}
              <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% else %}
              <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
              <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
            {% endif %}
        {% endfor %}

    </div>
  </div>
  <div class="container">
    <div class="account__title">
      <p>{{ heading_title }}</p>
    </div>
    <div class="account__wrap">
      <div class="account__menu">
          {{ account_nav }}

      </div>
      <div class="account__info">
        <div class="account__info_title">
          <p>{{ text_password }}</p>
        </div>
        <form action="{{ action }}" method="post" class="account-edit_form">
          <div class="wrap">
            <p>{{ text_password }}</p>
            <input class="form__input" name="password" type="password" placeholder="{{ entry_password }}" />
          </div>
          <div class="wrap">
            <p>{{  entry_confirm }}</p>
            <input class="form__input" type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" />
              {% if error_confirm %}
                <div class="text-danger">{{ error_confirm }}</div>
              {% endif %}

          </div>
          <div class="account-edit_form_footer">
            <a href="{{ back }}" class="canceling">отмена</a>
            <input type="submit" value="сохранить">
          </div>
        </form>
      </div>
      <div class="account__settings">
        <ul>
          <li>
            <a href="/index.php?route=account/edit">Редактировать личные данные</a>
          </li>
          <li>
            <a href="/index.php?route=account/password">Изменить пароль</a>
          </li>
          <li>
            <a href="{{ logout }}">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>



{{ footer }}