{{ header }}

<main class="signup" id="account-register" >
    <div class="main-bread-crumbs">
        <div class="main-bread-crumbs_wrapper">
            {% for breadcrumb in breadcrumbs %}
                {% if (breadcrumbs|length== loop.index) %}
                    <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                {% else %}
                    <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="signup__title">
            <p>Регистрация</p>
        </div>

        {#<div class="form-group required">#}
            {#<label class="col-sm-2 control-label" for="input-firstname">{{ entry_firstname }}</label>#}
            {#<div class="col-sm-10">#}
                {#<input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />#}
                {#{% if error_firstname %}#}
                    {#<div class="text-danger">{{ error_firstname }}</div>#}
                {#{% endif %} </div>#}
        {#</div>#}
        {#<div class="form-group required">#}
            {#<label class="col-sm-2 control-label" for="input-lastname">{{ entry_lastname }}</label>#}
            {#<div class="col-sm-10">#}
                {#<input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />#}
                {#{% if error_lastname %}#}
                    {#<div class="text-danger">{{ error_lastname }}</div>#}
                {#{% endif %} </div>#}
        {#</div>#}
        {#<div class="form-group required">#}
            {#<label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>#}
            {#<div class="col-sm-10">#}
                {#<input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />#}
                {#{% if error_email %}#}
                    {#<div class="text-danger">{{ error_email }}</div>#}
                {#{% endif %} </div>#}
        {#</div>#}
        {#<div class="form-group required">#}
            {#<label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone }}</label>#}
            {#<div class="col-sm-10">#}
                {#<input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />#}
                {#{% if error_telephone %}#}
                    {#<div class="text-danger">{{ error_telephone }}</div>#}
                {#{% endif %} </div>#}
        {#</div>#}



        <div class="signup__form">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" >
                <div class="wrap__row">
                    <div class="wrap">
                        <p>{{ entry_firstname }}</p>
                        <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname"  />
                        {% if error_firstname %}
                            <div class="text-danger">{{ error_firstname }}</div>
                        {% endif %}

                        {#<input type="text" placeholder="Введиете ваше имя ">#}
                    </div>
                    <div class="wrap">
                        <p>{{ entry_lastname }}</p>
                        <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" />
                        {% if error_lastname %}
                            <div class="text-danger">{{ error_lastname }}</div>
                        {% endif %}
                    </div>
                </div>

    {% for custom_field in custom_fields %}



        {% if custom_field.type == 'date' %}

            <div class="wrap__row">
                <div class="wrap">
                    <p>{{ custom_field.name }}</p>
                    {#<input type="text" placeholder="Введиете вашу дату рождения">#}
                    <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                </div>
            </div>


            {#<div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">#}
                {#<label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>#}
                {#<div class="col-sm-10">#}
                    {#<div class="input-group date">#}
                        {#<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />#}
                        {#<span class="input-group-btn">#}
                {#<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>#}
                {#</span></div>#}
                    {#{% if error_custom_field[custom_field.custom_field_id] %}#}
                        {#<div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>#}
                    {#{% endif %} </div>#}
            {#</div>#}
        {% endif %}

    {% endfor %}



                <div class="wrap__row">
                    <div class="wrap">
                        <p>{{ entry_telephone }}</p>
                        <input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="userPhone" class="form-control" />
                        {% if error_telephone %}
                            <div class="text-danger">{{ error_telephone }}</div>
                        {% endif %}

                        {#<input type="text" placeholder="Введиете ваш номер телефона" id="userPhone">#}
                    </div>
                    <div class="wrap">
                        <p>{{ entry_email }}</p>
                        <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                        {% if error_email %}
                            <div class="text-danger">{{ error_email }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="wrap__row">
                    <div class="wrap">
                        <p>{{ text_your_password }}</p>
                        <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                        {% if error_password %}
                            <div class="text-danger">{{ error_password }}</div>
                        {% endif %}

                        {#<input type="text" placeholder="Введиете пароль">#}
                    </div>
                    <div class="wrap">
                        <p>{{ entry_confirm }}</p>
                        <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
                        {% if error_confirm %}
                            <div class="text-danger">{{ error_confirm }}</div>
                        {% endif %}
                        {#<input type="text" placeholder="Подтвердите пароль">#}
                    </div>
                </div>
                <div class="account-edit_form_footer">
                    <a class="canceling" href="javascript:void()" onCLick="openModal('popup-signin');">Я уже зарегистрирован</a>
                    <input class="btn-animate" type="submit" value="Зарегистрироватся">
                </div>
            </form>
        </div>
    </div>
</main>




<script type="text/javascript"><!--
// Sort the custom fields
$('#account .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
		$('#account .form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#account .form-group').length) {
		$('#account .form-group:first').before(this);
	}
});

$('input[name=\'customer_group_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
		dataType: 'json',
		success: function(json) {
			$('.custom-field').hide();
			$('.custom-field').removeClass('required');

			for (i = 0; i < json.length; i++) {
				custom_field = json[i];

				$('#custom-field' + custom_field['custom_field_id']).show();

				if (custom_field['required']) {
					$('#custom-field' + custom_field['custom_field_id']).addClass('required');
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('input[name=\'customer_group_id\']:checked').trigger('change');
//--></script> 
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 
{{ footer }} 