{{ header }}

<main class="favorite">
  <div class="main-bread-crumbs">
    <div class="main-bread-crumbs_wrapper">
        {% for breadcrumb in breadcrumbs %}
            {% if (breadcrumbs|length== loop.index) %}
              <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% else %}
              <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
              <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
            {% endif %}
        {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="account__title">
      <p>{{ heading_title }}</p>
    </div>
    <div class="account__wrap">
      <div class="account__menu">
          {{ account_nav }}
      </div>
      <div class="favorite__container">


          {% for product in products %}



            <div class="main-product-list_item">
              <a href="{{ product.remove }}" ><img class="product-favorite"  data-product_id="{{ product.product_id }}" src="img/icons/greyHeart.svg" alt=""></a>


                {% if product.thumb %}<a href="{{ product.href }}" class="preview-product"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>{% endif %}

              <p class="product-title"><a href="{{ product.href }}">{{ product.name }}</a></p>
              <p class="product-model">Модель: {{ product.model }}</p>
              <p class="product-value">Пар в ящике ({{ product.par_in_box }})</p>
              <div class="product-list-prices">


                  {% if product.price %}
                      <div class="product-list-prices_item">
                          <span>Цена за пару</span>
                          {% if not product.special %}
                              <p>{{ product.price_item }}  </p>
                          {% else %}
                              <p class="sale">{{ product.price_item }}</p>
                          {% endif %}


                      </div>
                      <div class="product-list-prices_item">
                          <span>Цена за ящик</span>
                          {% if not product.special %}
                              <p>{{ product.price }}  </p>
                          {% else %}
                              <p class="sale">{{ product.special }}  </p>
                          {% endif %}
                      </div>
                  {% endif %}



              </div>
              <a href="javascriipt:void(0)" class="product-button-cart" onclick="cart.add('{{ product.product_id }}');" >
                  В корзину <img src="img/icons/whiteCart.svg" alt=""/>
              </a>
            </div>



          {% endfor %}



      </div>
    </div>
  </div>
</main>



{{ footer }}