{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-zemez_single_category" data-toggle="tooltip"
				title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i>
			</button>
			<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}"
			class="btn btn-default"><i class="fa fa-reply"></i></a>
		</div>
		<h1>{{ heading_title }}</h1>
		<ul class="breadcrumb">
			{% for breadcrumb in breadcrumbs %}
				<li>
					<a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="container-fluid">
	{% if (error_warning) %}
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
		</div>
		<div class="panel-body">
			<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-zemez_single_category" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
					<div class="col-sm-10">
						<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
						{% if (error_name) %}
							<div class="text-danger">{{ error_name }}</div>
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-category">{{ entry_category }}</label>
					<div class="col-sm-10">
						<input type="text" name="path" value="{{ path }}" placeholder="{{ entry_category }}" id="input-category" class="form-control" />
						<input type="hidden" name="category" value="{{ category }}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-tabs">{{ entry_tabs }}</label>
					<div class="col-sm-10">
						<select name="tabs" id="input-tabs" class="form-control">
							{% if (tabs) %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
							{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
							{% endif %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-layout_type">{{ entry_layout_type }}</label>
					<div class="col-sm-10">
						<select name="layout_type" id="input-layout_type" class="form-control">
							{% if (layout_type) %}
								<option value="1" selected="selected">{{ text_layout_carousel }}</option>
								<option value="0">{{ text_layout_static }}</option>
							{% else %}
								<option value="1">{{ text_layout_carousel }}</option>
								<option value="0" selected="selected">{{ text_layout_static }}</option>
							{% endif %}
						</select>
					</div>
				</div>
				<div class="show-type" {% if (tabs is defined and tabs == 1) %}{{ 'style="display:none;"' }}{% endif %}>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-products">{{ entry_products }}</label>
						<div class="col-sm-10">
							<select name="type" id="input-products" class="form-control">
								<option value="3" {% if type == 3 %} selected {% endif %} >{{ entry_featured }}</option>
								<option value="2" {% if type == 2 %} selected {% endif %} >{{ entry_latest }}</option>
								<option value="1" {% if type == 1 %} selected {% endif %} >{{ entry_bestseller }}</option>
								<option value="0" {% if type == 0 %} selected {% endif %} >{{ entry_special }}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="show-tabs" {% if (tabs is not defined) %}{{ 'style="display:none;"' }}{% elseif (tabs == 0) %}{{ 'style="display:none;"' }}{% endif %}>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-special">{{ entry_special }}</label>
						<div class="col-sm-10">
							<select name="special" id="input-special" class="form-control">
								{% if (special) %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-bestseller">{{ entry_bestseller }}</label>
						<div class="col-sm-10">
							<select name="bestseller" id="input-bestseller" class="form-control">
								{% if (bestseller) %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-latest">{{ entry_latest }}</label>
						<div class="col-sm-10">
							<select name="latest" id="input-latest" class="form-control">
								{% if (latest) %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-featured">{{ entry_featured }}</label>
						<div class="col-sm-10">
							<select name="featured" id="input-featured" class="form-control">
								{% if (featured) %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</div>
				<div class="featured">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-product">{{ entry_product }}</label>
						<div class="col-sm-10">
							<input type="text" name="product" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control"/>
							<div id="featured-product" class="well well-sm" style="height: 150px; overflow: auto;">
								{% if (products) %}
									{% for product in products %}
										<div id="featured-product{{ product['product_id'] }}">
											<i class="fa fa-minus-circle"></i> {{ product['name'] }}
											<input type="hidden" name="product[]" value="{{ product['product_id'] }}"/>
										</div>
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-limit">{{ entry_limit }}</label>
					<div class="col-sm-10">
						<input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
					<div class="col-sm-10">
						<input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control"/>
						{% if (error_width) %}
							<div class="text-danger">{{ error_width }}</div>
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
					<div class="col-sm-10">
						<input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control"/>
						{% if (error_height) %}
							<div class="text-danger">{{ error_height }}</div>
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
					<div class="col-sm-10">
						<select name="status" id="input-status" class="form-control">
							{% if (status) %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
							{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
							{% endif %}
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$('input[name=\'product\']').autocomplete({
	source: function (request, response) {
		$.ajax({
			url: 'index.php?route=extension/module/zemez_single_category_product/autocomplete&user_token={{ user_token }}&category_id=' + $('input[name=\'category\']').val() + '&product_name=' + $('input[name=\'product\']').val(),
			dataType: 'json',
			success: function (json) {
				console.log(json);
				response($.map(json, function (item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	},
	select: function (item) {
		$('input[name=\'product\']').val('');

		$('#featured-product' + item['value']).remove();

		$('#featured-product').append('<div id="featured-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');
	}
});


$('input[name=\'path\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					category_id: 0,
					name: '{{ text_none }}'
				});

				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'path\']').val(item['label']);
		$('input[name=\'category\']').val(item['value']);
	}
});


$('#featured-product').delegate('.fa-minus-circle', 'click', function () {
	$(this).parent().remove();
});


$('select[name=\'tabs\']').change(function () {
	if ($(this).val() == '1') {
		$('.show-tabs').show();
		$('.show-type').hide();
	} else {
		$('.show-tabs').hide();
		$('.show-type').show();
	}
})
featuredShow();

$('select[name=\'tabs\'], select[name=\'featured\'], select[name=\'type\']').change(featuredShow);

function featuredShow(){
	var featured = $('.featured');
	if ($('select[name=\'tabs\'').val() == 0 && $('select[name=\'type\']').val() == 3){
		featured.css('display','block');
	}else if ($('select[name=\'tabs\'').val() == 1 && $('select[name=\'featured\']').val() == 1) {
		featured.css('display','block');
	}else{
		featured.css('display','none');
	}
}
</script>
</div>
{{ footer }}