{{ header }}

<main>
    <section class="basket">
        <div class="container">
            <div class="main-bread-crumbs">
                <div class="main-bread-crumbs_wrapper">
                    {% for breadcrumb in breadcrumbs %}
                        {% if (breadcrumbs|length== loop.index) %}
                            <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        {% else %}
                            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                            <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
                        {% endif %}

                    {% endfor %}

                </div>
            </div>
        </div>

        {% if (products) %}
            <div class="basket__wrap">
                <div class="container">
                    <div class="basket__title">
                        <p>{{ heading_title }}</p>
                        <div class="basket__title_total">
                            {#{% if (text_items2 is defined) %}#}
                                {#<span id="cart-total2" class="cart-total2">{{ text_items2 }}</span>#}
                            {#{% endif %}#}


                            {#<p><span>5</span> товаров на 3000 ₴ </p>#}
                        </div>
                    </div>
                    <div class="basket__list">
                        <div class="basket__list_header">
                            <div class="basket__list_header_item basket__list_header_item_kod">
                                <p>Код</p>
                            </div>
                            <div class="basket__list_header_item basket__list_header_item_name">
                                <p>Наеменование</p>
                            </div>
                            <div class="basket__list_header_item basket__list_header_item_nal">
                                <p>Наличие</p>
                            </div>
                            <div class="basket__list_header_item basket__list_header_item_price">
                                <p>Цена за пару</p>
                            </div>
                            <div class="basket__list_header_item basket__list_header_item_price-box">
                                <p>Цена за ящик</p>
                            </div>
                            <div class="basket__list_header_item basket__list_header_item_amount">
                                <p>Количество</p>
                            </div>
                            <div class="basket__list_header_item basket__list_header_item_suma">
                                <p>Сумма</p>
                            </div>
                        </div>


                        <ul>


                            {% for product in products %}

                                <li>
                                    <div class="basket__list_item">
                                        <div class="basket__list_item_img">
                                            {% if product.thumb %} <a href="{{ product.href }}"><img
                                                        src="{{ product.thumb }}" alt="{{ product.name }}"
                                                        title="{{ product.name }}" class="img-thumbnail"/></a> {% endif %}


                                        </div>
                                        <div class="basket__list_item_kod">
                                            <p>{{ product.model }}</p>
                                        </div>
                                        <div class="basket__list_item_name">
                                            <p><a href="{{ product.href }}">{{ product.name }}</a></p>
                                        </div>
                                        <div class="basket__list_item_nal">
                                            <p>В наличии</p>
                                        </div>
                                        <div class="basket__list_item_price">
                                            <p><span class="basket__list_item_price_mobile">Цена за пару: </span><br/> {{ product.price_item }}</p>
                                        </div>
                                        <div class="basket__list_item_price-box">
                                            <p><span class="basket__list_item_price-box_mobile" style="font-size:14px;">Цена за ящик: </span><br/>{{ product.price }}</p>
                                        </div>
                                        <div class="basket__list_item_counter">
                                            <div class="basket__list_item_counter_wrap">
                                                <button type="button" id="sub" class="sub" onclick="cart.update('{{ product.cart_id }}', '{{ (product.quantity - 1 == 0) ? 1 : product.quantity - 1 }}', this);"> <i class="i-arrow"></i></button>
                                                <input min="1" type="text" name="quantity[{{ product.cart_id }}]"
                                                       value="{{ product.quantity }}" size="1" class="form-control" onchange="cart.update('{{ product.cart_id }}', '{{ product.quantity}}', this);"/>
                                                <button type="button" id="add" class="add" onclick="cart.update('{{ product.cart_id }}', '{{ product.quantity + 1 }}', this);"><i class="i-arrow"></i></button>
                                            </div>
                                        </div>
                                        <div class="basket__list_item_summ">
                                            <p>{{ product.total }}</p>
                                        </div>
                                        <div class="basket__list_item_remove">
                                            <button onclick="cart.remove('{{ product.cart_id }}');">
                                                <i class="i-delete"></i>
                                            </button>
                                        </div>



                                        <div class="basket__list_item_mobile">
                                            <div class="basket__list_item_kod_mobile">
                                                <p><span class="basket__list_item_kod_mobile">Модель: </span>{{ product.model }}</p>
                                            </div>
                                            <div class="basket__list_item_name_mobile">
                                                <p><a href="{{ product.href }}">{{ product.name }}</a></p>
                                            </div>
                                            <div class="basket__list_item_nal_mobile">
                                                <p>В наличии</p>
                                            </div>
                                            <div class="basket__list_item_price_mobile">
                                                <p>
                                                    <span class="basket__list_item_price_mobile_title">Цена за пару: </span>
                                                    <span class="basket__list_item_price_mobile_price">{{ product.price_item }}</span>
                                                </p>
                                            </div>
                                            <div class="basket__list_item_price-box_mobile">
                                                <p>
                                                    <span class="basket__list_item_price-box_mobile_title">Цена за ящик: </span>
                                                    <span class="basket__list_item_price-box_mobile_price">{{ product.price }}</span>
                                                </p>
                                            </div>
                                            <div class="basket__list_item_counter_sum_mobile">
                                                <div class="basket__list_item_counter_mobile">
                                                    <div class="basket__list_item_counter_wrap">
                                                        <button type="button" id="sub2" class="sub" onclick="cart.update('{{ product.cart_id }}', '{{ (product.quantity - 1 == 0) ? 1 : product.quantity - 1 }}', this);"> <i class="i-arrow"></i></button>
                                                        <input min="1" type="text" name="quantity[{{ product.cart_id }}]"
                                                               value="{{ product.quantity }}" size="1" class="form-control" onchange="cart.update('{{ product.cart_id }}', '{{ product.quantity}}', this);"/>
                                                        <button type="button" id="add2" class="add" onclick="cart.update('{{ product.cart_id }}', '{{ product.quantity + 1 }}', this);"><i class="i-arrow"></i></button>


                                                        {##}
                                                        {#<button type="button" id="sub" class="sub"><i class="i-arrow"></i></button>#}
                                                        {#<input type="text" id="1" value="1" min="1">#}
                                                        {#<button type="button" id="add" class="add"><i class="i-arrow"></i></button>#}
                                                    </div>
                                                </div>
                                                <div class="basket__list_item_summ_mobile">
                                                    <p>{{ product.total }}</p>
                                                </div>
                                            </div>
                                            <div class="basket__list_item_remove_mobile"  onclick="cart.remove('{{ product.cart_id }}');">
                                                <button>
                                                    <i class="i-delete"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="basket__footer">

                        <div class="basket__footer_total">
                            {% for total in totals %}
                                {% if (loop.index>1) %}
                                    <p>{{ total.title }}: <span>{{ total.text }}</span></p>
                                {% endif %}
                            {% endfor %}

                        </div>
                        <div class="basket__footer_btns">
                            <button onclick="location.href='{{ continue }}'" class="basket__footer_btn">
                                продолжить покупки
                            </button>
                            <button onclick="location.href='{{ checkout }}'" class="basket__footer_btn">
                                Оформить заказ
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="basket__empty" style="display:block;">
                <div class="container">
                    <div class="basket__empty_icon">
                        <i class="i-empty-basket"></i>
                    </div>
                    <div class="basket__empty_title">
                        <p>Ваша корзина пуста</p>
                    </div>
                    <div class="basket__empty_subtitle">
                        <p>Но это легко исправить :)</p>
                    </div>

                    <a href="{{ continue }}" class="basket__empty_btn">Перейти к покупкам</a>
                </div>
            </div>
        {% endif %}
    </section>
</main>


{{ footer }} 