{% if (error_warning) %}
    <div class="warning">{{ error_warning }}</div>
{% endif %}
{% if (shipping_methods) %}



    <div class="wrap-checkbox">
        {% for shipping_method in shipping_methods %}
            {% if (not shipping_method['error']) %}
                {% for quote in shipping_method['quote'] %}

                    <div class="checkbox">
                        {% if (quote['code'] == code or not code) %}
                            {% set code = quote['code'] %}
                            <input type="radio" name="delivery_method[shipping_method]" value="{{ quote['code'] }}"
                                   id="{{ quote['code'] }}" class="form__delivery" checked="checked"/>
                        {% else %}
                            <input type="radio" name="delivery_method[shipping_method]" value="{{ quote['code'] }}"
                                   id="{{ quote['code'] }}" class="form__delivery" checked="checked"/>
                        {% endif %}
                        <label for="{{ quote['code'] }}">
                            <p>{{ quote['title'] }}</p>
                        </label>
                    </div>


                {% endfor %}
            {% else %}
                {{ shipping_method['error'] }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<div id="shipping_methods">
    {{ active_shipping_methods }}
</div>
