{% if (error_warning) %}
<div class="warning">{{ error_warning }}</div>
{% endif %}
{% if (payment_methods) %}
    <div class="wrap-checkbox">
  {#<label class="form__form-control form__form-control--select form__form-control--required">#}
    {#<span>#}
      {#{{ text_new_payment }}#}
    {#</span>#}
    {#<select class="form__select form__select--payment" name="payment_method">#}
    {% for payment_method in payment_methods %}
      {#{% if payment_method.code == code or not code %}#}
        {#{% set code = payment_method.code %}#}
        {#<option value="{{ payment_method.code }}" selected="selected">{{ payment_method.title }}</option>#}
      {#{% else %}#}
        {#<option value="{{ payment_method.code }}">{{ payment_method.title }}</option>#}
      {#{% endif %}#}
        <div class="checkbox">
            <input type="radio" id="{{ payment_method.code }}" checked="checked" name="{{ payment_method.code }}">
            <label for="{{ payment_method.code }}">
                <p>{{ payment_method.title }}</p>
            </label>
        </div>
    {% endfor %}
    {#</select>#}
  {#</label>#}
    </div>
{% endif %}
