<div class="checkout__desktop_edit">
  <div class="checkout__desktop_edit_wrap">
    {#<div class="checkout__desktop_edit_header">#}

      {#<a class="checkout__desktop_edit_link" href="{{ cart }}">#}
        {#{{ text_order_edit }}#}
      {#</a>#}



    {#</div>#}

    <div class="checkout__desktop_edit_header">
      <a href="{{ cart }}" class="checkout__desktop_edit_link">{{ text_order_edit }}</a>
    </div>
    <div class="checkout__desktop_edit_list">
      <ul>
          {% for key, product in products %}

        <li>
          <div class="checkout__desktop_edit_item">


            <div class="checkout__desktop_edit_item_img">
              <a href="{{ product.href }}" title="{{ product.name }}">
                <img class="form__product-photo" src="{{ product.thumb }}" alt="{{ product.name }}">
              </a>

            </div>

            <div class="checkout__desktop_edit_item_info">
              <div class="checkout__desktop_edit_item_info_title"><a href="{{ product.href }}" title="{{ product.name }}">Босоножки 00001-beige</a></div>
              <div class="checkout__desktop_edit_item_info_count">{{ product.quantity_text }}</div>
              <div class="checkout__desktop_edit_item_info_price">{{ product.total }}</div>
            </div>


            {#<div class="checkout__desktop_edit_item_title">#}
              {#<a href="{{ product.href }}" title="{{ product.name }}">Босоножки 00001-beige</a>#}

                {#<span class="form__boxes-amount-number">{{ product.quantity_text }} </span>#}


            {#</div>#}
            {#<div class="checkout__desktop_edit_item_price">#}
              {#<p>{{ product.total }}</p>#}
            {#</div>#}
            <a href="javascript:void(0);" class="checkout__desktop_edit_item_remove" onclick="cart.remove('{{ product.cart_id }}'); location.reload();">
              <i class="i-delete"></i>
            </a>
          </div>
        </li>
          {% endfor %}
      </ul>
    </div>


    <div class="checkout__desktop_edit_footer">
      <div class="checkout__desktop_edit_footer_amount">
        <p>{{ order_total }} на сумму</p>
        <span>{{ total_amount }}</span>
      </div>
      <div class="border"></div>
      <div class="checkout__desktop_edit_footer_total">
        <p>{{ text_order_total }}:</p>
        <span>{{ totals[totals|length-1].text }}</span>
      </div>
    </div>
  </div>

  <div class="checkout_submit">
    <input id="submit" name="submit" value="{{ text_new_confirm }}" type="submit">
  </div>
  <div class="checkout__desktop_edit_busket">
    <a href="{{ cart }}" class="checkout__desktop_edit_link_mobile">{{ text_order_edit }}</a>
  </div>
</div>




{#<div class="form__right-side">#}
  {#<div class="form__title form__title--no-border">#}
    {#{{ text_mini_your_order }}#}
  {#</div>#}
  {#<div class="form__error-message"></div>#}
  {#{% for key, product in products %}#}
    {#{% if key == 3 %}#}
      {#<div class="form__hidden-order-details">#}
    {#{% endif %}#}
    {#<div class="form__order-details-row{% if stock_status_error and product.stock_status %} form__order-details-row--danger{% endif %}" data-check-status-row="{% if stock_status_error and product.stock_status %}danger{% endif %}" id="product-{{ product.product_id }}">#}
      {#<div class="form__product-details">#}
        {#<a href="{{ product.href }}" title="{{ product.name }}">#}
          {#<img class="form__product-photo" src="{{ product.thumb }}" alt="{{ product.name }}">#}
        {#</a>#}
        {#<div class="form__product-info">#}
          {#<a class="form__product-name" href="{{ product.href }}" title="{{ product.name }}">#}
            {#{{ product.name }}#}
          {#</a>#}
          {#<div class="form__product-model" title="{{ product.model }}">#}
            {#{{ product.model }}#}
          {#</div>#}
          {#{% if not product.is_bag %}#}
            {#<div class="form__product-sizes">#}
              {#р.<span class="form__sizes">{{ product.size }}</span>#}
            {#</div>#}
          {#{% endif %}#}
          {#{% if product.is_bag %}#}
            {#<div class="form__product-sizes">#}
              {#р.<span class="form__sizes">{{ product.dimension }}</span>#}
            {#</div>#}
          {#{% endif %}#}
          {#{% if not product.is_bag %}#}
            {#<div class="form__products-in-box">#}
              {#{{ product.in_box_text }}#}
            {#</div>#}
          {#{% endif %}#}
          {#{% if product.is_bag %}#}
            {#<div class="form__products-in-box">#}
              {#{{ product.number_of_pockets_text }}#}
            {#</div>#}
          {#{% endif %}#}
          {#<div class="form__boxes-amount">#}
            {#{% if not product.is_bag %}{{ text_count_boxes }}{% endif %}#}
            {#{% if product.is_bag %}{{ text_quantity }}{% endif %}#}
            {#<span class="form__boxes-amount-number">{{ product.quantity }}</span>#}
          {#</div>#}

          {#<div class="form__boxes-amount">#}

                      {#<span class="form__boxes-amount-number" style="color:red;">{{ product.specialpropose }}</span>#}
                    {#</div>#}


        {#</div>#}
      {#</div>#}
      {#<div class="form__product-price">#}
        {#<span class="form__product-price-val">{{ product.total }}</span>#}
      {#</div>#}
    {#</div>#}
    {#{% if key == (products|length - 1) and products|length > 3 %}#}
      {#</div>#}
      {#<div class="form__show-whole-order-row">#}
        {#<button class="form__show-whole-order">#}
            {#{{ text_show_whole_order }}#}
        {#</button>#}
      {#</div>#}
    {#{% endif %}#}
  {#{% endfor %}#}
  {#<div class="form__order-total-row">#}
    {#<span class="form__total-text">{{ text_order_total }}:</span>#}
    {#<span class="form__total-price-val">{{ totals[totals|length-1].text }}</span>#}
  {#</div>#}
  {#<div class="form__order-buttons-row">#}
    {#<a class="form__submit-btn form__submit-btn--edit-order form__submit-btn--strip" href="{{ cart }}">#}
      {#<div class="form__submit-btn-hover form__submit-btn-hover--small">#}
      {#</div>#}
      {#<span class="form__submit-btn-text">#}
        {#{{ text_order_edit }}#}
      {#</span>#}
    {#</a>#}
    {#<button class="form__submit-btn" data-loading-text="{{ text_loading }}" type="submit" id="do_confirm" data-check-stock-btn="">#}
      {#<div class="form__submit-btn-hover">#}
      {#</div>#}
      {#<span class="form__submit-btn-text">#}
        {#{{ text_new_confirm }}#}
      {#</span>#}
    {#</button>#}
  {#</div>#}
{#</div>#}

{#<script type="text/javascript">#}
  {#var showProductsText = '{{ text_show_whole_order }}',#}
      {#hideProductsText = '{{ text_hide_whole_order }}';#}
{#</script>#}
