{{ header }}

<main class="checkout">
  <div class="main-bread-crumbs">
    <div class="main-bread-crumbs_wrapper">

        {% for breadcrumb in breadcrumbs %}
            {% if (breadcrumbs|length== loop.index) %}
              <a class="main-bread-crumbs_active" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% else %}
              <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
              <span><img src="/catalog/view/theme/shlepki/img/icons/arrow_small.svg" alt=""></span>
            {% endif %}

        {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="checkout__title">
      <p>{{ heading_title }}</p>
    </div>
      {{ content_top }}
    <form action="{{ action_confirm }}" class="checkout__desktop"  method="post">
      <input type="hidden" name="default_address" value="{% if address %} {{ address }} {% endif %} "/>
      <div class="checkout__desktop_inputs">
        <div class="wrap">
          <p>{{ text_new_name }}</p>
          <input class="form__input form__input--name required" required="" name="personal_data[name]" type="text" {% if firstname %}  value="{{ firstname }} "{% endif %} />


        </div>
        <div class="wrap">
          <p>{{ text_new_lname }}</p>

          <input class="form__input form__input--last-name required" required="" name="personal_data[lname]" type="text" {% if lastname %}  value="{{ lastname }} "{% endif %} />

        </div>
        <div class="wrap">
          <p>{{ text_new_phone }}</p>
          <input class="form__input form__input--phone required" id="userPhone" required="" name="personal_data[phone]" {% if telephone %}  value="{{ telephone }} "{% endif %} type="text" />
        </div>
        <div class="wrap">
          <p>Email</p>
          <input class="form__input form__input--email required" required="" name="personal_data[email]" type="email" {% if email %}  value="{{ email }} "{% endif %} />

        </div>

        <div class="border"></div>
        <div class="checkout__subtitle">
          <p>{{ text_new_delivery_method }}</p>
        </div>

          {{ delivery_methods }}

        <div class="border"></div>


        <div class="checkout__subtitle">
          <p>{{ text_new_method_payment }}</p>
        </div>
          {{ payment_methods }}
        <div class="wrap-textarea">
          <div class="wrap-textarea-title">
            <p>{{ text_new_comment }}</p>
          </div>
          <div class="wrap">
            <p>Комментарий к заказу</p>
            <textarea placeholder="{{ text_new_comment_placeholder }}"></textarea>
          </div>
        </div>

          <input id="submit" name="submit" type="submit" value="{{ text_new_confirm }}" data-loading-text="{{ text_loading }}">


        {#<input type="submit" value="Подтвердить">#}
      </div>

        {{ lite_minicart }}


    </form>

<style>
  .checkout__mob .checkout__desktop_edit_header,
  .checkout__desktop .checkout_submit, .checkout__desktop .checkout__desktop_edit_busket{
    display:none;
  }
</style>

    <form action="{{ action_confirm }}" class="checkout__mob" method="post" id="steps-form">
      <div>
        <h3>Контактные данные</h3>
        <section>
          <label for="userName"></label>
          <div class="wrap">

            <p>{{ text_new_name }}</p>
            <input class="form__input form__input--name required" name="personal_data[name]" type="text" {% if firstname %}  value="{{ firstname }} "{% endif %} />

          </div>
          <div class="wrap">
            <p>{{ text_new_lname }}</p>

            <input class="form__input form__input--last-name required" name="personal_data[lname]" type="text" {% if lastname %}  value="{{ lastname }} "{% endif %} />


            {#<p>Фамилия</p>#}
            {#<input class="form__input form__input--last-name required" name="personal_data[lname]" type="text" {% if lastname %}  value="{{ lastname }} "{% endif %} />#}

          </div>
          <div class="wrap">
            <p>{{ text_new_phone }}</p>
            <input class="form__input form__input--phone required" id="mobuserPhone" name="personal_data[phone]" {% if telephone %}  value="{{ telephone }} "{% endif %} type="text" />

            {#<p>Номер телефона</p>#}
            {#<input class="form__input form__input--phone required" name="personal_data[phone]" {% if telephone %}  value="{{ telephone }} "{% endif %} type="text" />#}

            {#<input id="mobuserPhone" name="userPhone" type="text" class="required"#}
                   {#placeholder="+38 (___) ___-__-__">#}
          </div>
          <div class="wrap">
            <p>Email</p>
            <input class="form__input form__input--email required" name="personal_data[email]" type="email" {% if email %}  value="{{ email }} "{% endif %} />

            {#<p>Email</p>#}
            {#<input class="form__input form__input--email required" name="personal_data[email]" type="email" {% if email %}  value="{{ email }} "{% endif %} />#}
            {#<input id="userEmail" name="userEmail" type="text" class="required"#}
                   {#placeholder="Введите вашу фамилию">#}
          </div>
        </section>

        <h3>Доставка и оплата</h3>
        <section>
            {{ delivery_methods }}



          <div class="border"></div>
          <div class="checkout__subtitle">
            <p>Способ оплаты</p>
          </div>

            {{ payment_methods }}


          {#<div class="wrap-checkbox">#}
            {#<div class="checkbox">#}
              {#<input type="radio" id="mobprivat" name="oplata">#}
              {#<label for="mobprivat">#}
                {#<p>Private 24 Online</p>#}
              {#</label>#}
            {#</div>#}
            {#<div class="checkbox">#}
              {#<input type="radio" id="mobnal" name="oplata">#}
              {#<label for="mobnal">#}
                {#<p>Наложеным платежом</p>#}
              {#</label>#}
            {#</div>#}
          {#</div>#}

          <div class="wrap-textarea">
            <div class="wrap-textarea-title">
              <p>{{ text_new_comment }}</p>
            </div>
            <div class="wrap">
              <p>Комментарий к заказу</p>
              <textarea placeholder="{{ text_new_comment_placeholder }}"></textarea>
            </div>
          </div>

          {#<div class="wrap-textarea">#}
            {#<div class="wrap-textarea-title">#}
              {#<p>Комментарий к заказу</p>#}
            {#</div>#}
            {#<div class="wrap">#}
              {#<p>Комментарий к заказу</p>#}
              {#<textarea placeholder="Введиете ваш комментарий"></textarea>#}
            {#</div>#}
          {#</div>#}
        </section>
        <h3>Ваш заказ</h3>
        <section>
            {{ lite_minicart }}

          {#<div class="checkout__desktop_edit">#}
            {#<div class="checkout__desktop_edit_wrap">#}
              {#<div class="checkout__desktop_edit_header">#}
                {#<a href="#" class="checkout__desktop_edit_link">Редактировать корзину</a>#}
              {#</div>#}
              {#<div class="checkout__desktop_edit_list">#}
                {#<ul>#}
                  {#<li>#}
                    {#<div class="checkout__desktop_edit_item">#}
                      {#<div class="checkout__desktop_edit_item_img">#}
                        {#<img src="" alt="">#}
                      {#</div>#}
                      {#<div class="checkout__desktop_edit_item_title">#}
                        {#<p>Босоножки 00001-beige</p>#}
                        {#<span>3 ящика</span>#}
                      {#</div>#}
                      {#<div class="checkout__desktop_edit_item_price">#}
                        {#<p>480.00 ₴</p>#}
                      {#</div>#}
                      {#<button class="checkout__desktop_edit_item_remove">#}
                        {#<i class="i-delete"></i>#}
                      {#</button>#}
                    {#</div>#}
                  {#</li>#}
                  {#<li>#}
                    {#<div class="checkout__desktop_edit_item">#}
                      {#<div class="checkout__desktop_edit_item_img">#}
                        {#<img src="" alt="">#}
                      {#</div>#}
                      {#<div class="checkout__desktop_edit_item_title">#}
                        {#<p>Босоножки 00001-beige</p>#}
                        {#<span>3 ящика</span>#}
                      {#</div>#}
                      {#<div class="checkout__desktop_edit_item_price">#}
                        {#<p>480.00 ₴</p>#}
                      {#</div>#}
                      {#<button class="checkout__desktop_edit_item_remove">#}
                        {#<i class="i-delete"></i>#}
                      {#</button>#}
                    {#</div>#}
                  {#</li>#}
                  {#<li>#}
                    {#<div class="checkout__desktop_edit_item">#}
                      {#<div class="checkout__desktop_edit_item_img">#}
                        {#<img src="" alt="">#}
                      {#</div>#}
                      {#<div class="checkout__desktop_edit_item_title">#}
                        {#<p>Босоножки 00001-beige</p>#}
                        {#<span>3 ящика</span>#}
                      {#</div>#}
                      {#<div class="checkout__desktop_edit_item_price">#}
                        {#<p>480.00 ₴</p>#}
                      {#</div>#}
                      {#<button class="checkout__desktop_edit_item_remove">#}
                        {#<i class="i-delete"></i>#}
                      {#</button>#}
                    {#</div>#}
                  {#</li>#}
                {#</ul>#}
              {#</div>#}
              {#<div class="checkout__desktop_edit_footer">#}
                {#<div class="checkout__desktop_edit_footer_amount">#}
                  {#<p>3 товара на сумму</p>#}
                  {#<span>3000 ₴ </span>#}
                {#</div>#}
                {#<div class="border"></div>#}
                {#<div class="checkout__desktop_edit_footer_total">#}
                  {#<p>Итого к оплате:</p>#}
                  {#<span>3000 ₴ </span>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
          {#</div>#}

          {#<input id="submit" name="submit" type="submit" value="{{ text_new_confirm }}" data-loading-text="{{ text_loading }}">#}


            {#<button class="form__submit-btn" data-loading-text="{{ text_loading }}" type="submit" id="do_confirm" data-check-stock-btn="">#}
            {#<div class="form__submit-btn-hover">#}
            {#</div>#}
            {#<span class="form__submit-btn-text">#}
            {#{{ text_new_confirm }}#}
            {#</span>#}
            {#</button>#}


          {#<input id="address" name="address" type="submit">#}
        </section>
      </div>
    </form>
  </div>
</main>

{#<div class="content__main">#}
  {#{{ breadcrumbs }}#}
  {#{{ heading }}#}
  {#<div class="content__note">{{ text_min_bags }}</div>#}
  {#{% if stock_status_error %}<div class="content__note content__note--stock content__note--lite-cart">{{ error_stock_status }}</div>{% endif %}#}
  {#<form action="{{ action_confirm }}" class="form form--order-form" method="POST">#}
    {#<input type="hidden" name="default_address" value="{% if address %} {{ address }} {% endif %} "/>#}
    {#<div class="form__left-side">#}
      {#<div class="form__title">#}
        {#<span class="form__title-number">1</span>{{ text_new_personal }}#}
      {#</div>#}
      {#<label class="form__form-control form__form-control--required">#}
        {#<span>#}
          {#E-mail#}
        {#</span>#}
        {#<input class="form__input form__input--email" name="personal_data[email]" type="email" {% if email %}  value="{{ email }} "{% endif %} />#}
      {#</label>#}
      {#<label class="form__form-control form__form-control--required">#}
        {#<span>#}
          {#{{ text_new_name }}#}
        {#</span>#}
        {#<input class="form__input form__input--name" name="personal_data[name]" type="text" {% if firstname %}  value="{{ firstname }} "{% endif %} />#}
      {#</label>#}
      {#<label class="form__form-control form__form-control--required">#}
        {#<span>#}
          {#{{ text_new_lname }}#}
        {#</span>#}
        {#<input class="form__input form__input--last-name" name="personal_data[lname]" type="text" {% if lastname %}  value="{{ lastname }} "{% endif %} />#}
      {#</label>#}
      {#<label class="form__form-control form__form-control--required">#}
        {#<span>#}
          {#{{ text_new_phone }}#}
        {#</span>#}
        {#<input class="form__input form__input--phone" name="personal_data[phone]" {% if telephone %}  value="{{ telephone }} "{% endif %} type="text" />#}
        {#<p class="form__tip form__tip--static">{{ text_phone }}</p>#}
      {#</label>#}
       {#{% if balance %}#}
      {#<label class="form__form-control balance_checkout" style="">#}
              {#<span style="">#}
                {#{{ text_balance }} <span  class="form__balance">{{ balance }}</span>#}
              {#</span>#}


            {#</label>#}
            {#{% endif %}#}


      {#<div class="form__title">#}
        {#<span class="form__title-number">2</span>{{ text_new_delivery_method }}#}
      {#</div>#}
      {#{{ delivery_methods }}#}
      {#<div class="form__title">#}
        {#<span class="form__title-number">3</span>{{ text_new_method_payment }}#}
      {#</div>#}
      {#<div id="payment_methods">#}
        {#{{ payment_methods }}#}
      {#</div>#}
      {#<a class="form__add-comment-btn" href="javascript:void(0);">#}
        {#<span class="form__add-comment-text">{{ text_new_comment }}</span>#}
      {#</a>#}
      {#<label class="form__form-control">#}
        {#<textarea class="form__textarea form__textarea--add-comment" name="order_comment"#}
        {#placeholder="{{ text_new_comment_placeholder }}"></textarea>#}
      {#</label>#}
    {#</div>#}
    {#{{ lite_minicart }}#}
  {#</form>#}
{#</div>#}
{{ footer }}
