/*------------------------------*/
.box-phones [class*="linearicons-"]:before,
.box-open [class*="linearicons-"]:before,
.box-comment [class*="linearicons-"]:before,
.box-nav [class*="linearicons-"]:before,
.nav [class*="linearicons-"]:before,
.cart .toggle i,
.cart .total .text-left,
h1 i,
.agree:hover b,
.search:before,
.breadcrumb i,
.manufacturer-content div a:before,
#content ul.list-unstyled a:before,
.manufacturer-content div a:hover,
#content ul.list-unstyled a:hover,
.cart .toggle_cont li.product .name a:hover,
.sf-menu .sf-mega > li a:hover,
.sf-menu li.sfHover > a,
.sf-menu li > a:hover,
.sf-menu li > a.active,
.sf-menu .simple_menu li.active > a,
.sf-menu .simple_menu a:hover,
.sf-menu .simple_menu li.sfHover > a,
.sf-menu li.sfHover > a,
.sf-menu li > a:hover,
.sf-menu li > a.active,
.review-text,
.box [id*="nav_"] .swiper-button-next, .box [id*="nav_"] .swiper-button-prev,
.button-view button,
.name > a:hover,
footer address [class*="linearicons"]:before,
footer .footer_box [class*="linearicons"]:before,
.newsletter .zemez-login-form:before,
.swiper-slider .swiper-button-next:before,
.swiper-slider .swiper-container-rtl .swiper-button-prev:before,
.banner-box .banner-1 h5 + div p,
.box .nav-tabs > li.active > a,
.box .nav-tabs > li.active > a:focus,
.box .nav-tabs > li.active > a:hover,
.product_tabs .nav-tabs > li.active > a,
.review-form-title h3:hover,
.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.second:hover, .bootstrap-datetimepicker-widget thead tr:first-child th:hover, .bootstrap-datetimepicker-widget td span:hover,
.datepicker .prev:hover, .datepicker .prev.active, .datepicker .next:hover, .datepicker .next.active, .datepicker .day:hover, .datepicker .day.active, .datepicker .year:hover, .datepicker .year.active, .datepicker .month:hover, .datepicker .month.active, .datepicker .picker-switch:hover, .datepicker .picker-switch.active,
.delivery_page h4,
.terms_conditions_page h4:before,
.contact_page .icon:before,
.article-sub-title a:hover,
.article-title a:hover,
.table-bordered a:hover strong,
.squares .square:before,
.bottom-home-block .banner-box .s-desc h3 a:hover,
input[type="checkbox"] + label:after {
  color: #f39a0f;
}

.bg-primary,
.cart .toggle.active .cart-total2,
.cart .toggle:hover .cart-total2,
.tooltip-inner,
.pagination > li.active > a,
.pagination > li.active > a:hover,
.pagination > li.active > a:focus,
.pagination > li.active > span,
.pagination > li.active > span:hover,
.pagination > li.active > span:focus,
.social-list li a:hover,
.swiper-slider .swiper-pagination-bullet:hover,
.swiper-slider .swiper-pagination-bullet-active,
.banner-box .banner-4 .banner_img,
.box-info,
input[type="radio"]:checked + label:after,
.site-map-page #content ul.category-list:before,
.site-map-page #content ul.category-list > li:before, .site-map-page #content ul.category-list > li:after,
.bootstrap-datetimepicker-widget td.day.active,
.bootstrap-datetimepicker-widget td.day.active:hover,
.privacy_page ol li h4:before {
  background-color: #f39a0f;
}

.well,
[class][class].tooltip-arrow,
.product_tabs,
.delivery_page .table,
.contact_page .panel {
  border-top-color: #f39a0f;
}

.contact_page .icon:before {
  border-color: #f39a0f;
}

.banner-box .banner_img:after {
  background-color: rgba(243, 154, 15, 0.2);
}

.swiper-slider .swiper-button-next:hover:before,
.swiper-slider .swiper-container-rtl .swiper-button-prev:hover:before {
  color: #fff;
}

.box [id*="nav_"] .swiper-button-next:hover, .box [id*="nav_"] .swiper-button-prev:hover {
  background-color: #f39a0f;
  color: #fff;
}

.newsletter .product-btn-add, .newsletter .product-btn-add:visited {
  background-color: #f39a0f;
}
.newsletter .product-btn-add:focus, .newsletter .product-btn-add:hover, .newsletter .product-btn-add:active {
  background-color: #ce810a;
}

.banner-box:hover .banner-4 .banner_img {
  background-color: #ce810a;
}

.bottom-home-block .banner-box .banner_img:after {
  background-color: rgba(243, 154, 15, 0.6);
}

.product-gallery .image-thumb .bx-wrapper .bx-prev,
.product-gallery .image-thumb .bx-wrapper .bx-next {
  background-color: rgba(243, 154, 15, 0.5);
}
.product-gallery .image-thumb .bx-wrapper .bx-prev:hover,
.product-gallery .image-thumb .bx-wrapper .bx-next:hover {
  background-color: #f39a0f;
}

.newsletter-popup {
  background-color: #f39a0f;
}
.newsletter-popup .zemez-login-form:before {
  color: #f39a0f;
}
.newsletter-popup-close-btn, .newsletter-popup-close-btn:visited {
  background-color: #d99a00;
}
.newsletter-popup-close-btn:hover, .newsletter-popup-close-btn:focus, .newsletter-popup-close-btn:active {
  background-color: #333;
}

.box-language .toggle,
.box-currency .toggle {
  color: #f39a0f;
}
.box-language .toggle.active, .box-language .toggle:hover,
.box-currency .toggle.active,
.box-currency .toggle:hover {
  color: #333;
}
.box-language .toggle_cont > li > a:hover, .box-language .toggle_cont > li > a.selected, .box-language .toggle_cont > li > button:hover, .box-language .toggle_cont > li > button.selected,
.box-currency .toggle_cont > li > a:hover,
.box-currency .toggle_cont > li > a.selected,
.box-currency .toggle_cont > li > button:hover,
.box-currency .toggle_cont > li > button.selected {
  background-color: #f39a0f;
  color: #fff;
}

a, a:visited, a:focus {
  color: #f39a0f;
}
a:hover {
  color: #333;
}

p a, p a:visited, p a:focus {
  color: #f39a0f;
}

.nav span.toggle {
  color: #f39a0f;
}
.nav span.toggle:hover {
  color: #333;
}

.link, .link:focus, .link:visited {
  color: #f39a0f;
}
.link:hover {
  color: #333;
}

.toggle_cont > li > a:hover, .toggle_cont > li > button:hover {
  background-color: #f39a0f;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  border-color: #ce810a;
  background-color: #ce810a;
}

.btn:visited, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn {
  color: #fff;
  background-color: #f39a0f;
}
.btn:visited:hover, .btn-default:hover, .btn-primary:hover, .btn-success:hover, .btn-info:hover, .btn-warning:hover, .btn-danger:hover, .btn:hover {
  background-color: #ce810a;
}

.btn-danger.active, .btn-danger:active, .open > .dropdown-toggle.btn-danger {
  background-color: #ce810a;
  color: #fff;
}

.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open > .dropdown-toggle.btn-danger.focus, .open > .dropdown-toggle.btn-danger:focus, .open > .dropdown-toggle.btn-danger:hover {
  background-color: #ce810a;
  color: #fff;
}

.btn:hover,
.btn:focus {
  background-color: #ce810a;
  color: #fff;
}

.product-btn:hover {
  color: #f39a0f;
}

.product-btn-add {
  background-color: #f39a0f;
  color: #fff;
}
.product-btn-add:visited {
  background-color: #f39a0f;
  color: #fff;
}
.product-btn-add:focus, .product-btn-add:hover, .product-btn-add:active {
  color: #fff;
  background-color: #ce810a;
}

.product-thumb .image > .quickview {
  background-color: #f39a0f;
  color: #fff;
}
.product-thumb .image > .quickview:hover {
  background-color: #f39a0f;
}

.product-buttons li button {
  color: #f39a0f;
}
.product-buttons li button:hover, .product-buttons li button:focus {
  color: #333;
}

.search .product-btn-add, .search .product-btn-add:visited {
  background-color: #e7a135;
}
.search .product-btn-add:focus, .search .product-btn-add:hover, .search .product-btn-add:active {
  background-color: #ce810a;
}

.search:before {
  color: #f39a0f;
}
.search button:hover, .search button:focus:hover, .search button:active:hover {
  background-color: #ce810a;
}

#livesearch_search_results li:hover, #livesearch_search_results li.highlighted {
  background-color: #f39a0f;
}

.box-cart .btns .btn-l {
  color: #f39a0f;
}
.box-cart .btns .btn-l:hover {
  color: #fff;
}
.box-cart .btns .btn-r {
  background-color: #f39a0f;
}
.box-cart .btns .btn-r:hover {
  background-color: #333;
}

.buttons .pull-right .btn {
  background-color: #f39a0f;
}
.buttons .pull-right .btn:hover {
  background-color: #333;
}

.product-filter .compare-total {
  color: #f39a0f;
}
.product-filter .compare-total:hover {
  color: #333;
}

.ui-to-top, .ui-to-top:visited, .ui-to-top:focus, .ui-to-top:hover {
  color: #e4974c;
}
.ui-to-top:hover {
  color: #fff;
}

.rd-mobilemenu_ul a:hover,
.rd-mobilemenu_ul a.active {
  background-color: #f39a0f;
}

@media (max-width: 767px) {
  .cart > button:hover, .nav > .toggle:hover {
    color: #f39a0f;
  }
}
